.header {
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	color: #393f70;
	text-align: center;
}

.content {
	margin-top: 16px;
	font-size: 14px;
	color: #393f70;
	text-align: center;
}

.button_container {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	.cancel_button {
		margin-right: 16px;
	}
}
