.container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 40px;
	margin-left: 15px;
}

.right {
	display: flex;
	flex-grow: 1;
	align-items: flex-end;
	justify-content: flex-end;
}

.input {
	width: 30%;

	@media screen and (max-width: 767px) {
		width: 50%;
	}
}
