.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
	background: #f9f9f9;
}

.column_name {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}
