.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 12px;
	margin-bottom: 12px;
	border: 1px solid rgb(0 0 0 / 10%);
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgb(16 24 40 / 10%);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.left_stats {
	display: flex;
	width: 40%;
}

.right_stats {
	display: flex;
	justify-content: flex-end;
	width: 40%;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.ports {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 28%;

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: center;
	}
}

.port {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.actions {
	display: flex;
	flex-direction: column;
	width: 10%;
}

.line {
	width: 1px;
	height: 60px;
	border-right: 1px solid #e0e0e0;
}
