.comments_icon {
	width: 21px;
	height: 21px;
	margin-top: 2px;
	fill: #828282;
}

.ticket_icon {
	width: 23px;
	height: 23px;
	margin-top: 2px;
	fill: #828282;
}

.type_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	cursor: pointer;
	border-bottom: 1px solid #f2f2f2;
}

.label_styles {
	margin-left: 15px;
	font-size: 16px;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 12px 25px;
	font-size: 16px;
	color: #4f4f4f;
	cursor: pointer;
	background: #f4f4f4;
}

.arrow_right {
	width: 20px;
	height: 20px;
}

.header_styles {
	display: flex;
	align-items: center;
}

.sub_header {
	font-size: 11px;
	color: #828282;
}

.unread_chats_count {
	width: fit-content;
	padding: 3px 9px;
	margin-left: 5px;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	background: #f8aea8;
	border-radius: 5px;
}
