.main_class {
	position: relative;
	display: flex;
	flex: 1;
	width: 100%;
	min-height: 100%;
	padding: 0 16px;
	margin-top: 20px;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		max-width: 100%;
	}
}

.left_container {
	width: 70%;
	margin-right: 20px;

	@media screen and (max-width: 767px) {
		width: auto;
	}
}

.right_container {
	width: 30%;

	@media screen and (max-width: 767px) {
		width: auto;
	}
}
