.container{
    padding: 16px 0px 0px;
    :global{
        .ui-modal-close-btn {
            padding: 0px;
            svg {
                height: 35px;
                padding: 0px;
            }
        }
    }
	
	@media screen and (max-width: 767px) {
        :global{
            .ui-modal-dialog {
                width: 380px !important;
            }
        }
	}
}

.heading{
    font-weight: 500;
	font-size: 16px;
	display: flex;
}

.upload_container{
    margin-top: 14px;

    :global{
        .upload-container {
            padding: 0px 13px 0px;
            svg {
                color: #ee3425;
            }
        }
    
        .core-ui-button-root {
            margin: 10px 25px;
        }
    }

	@media screen and (max-width: 767px) {
		padding: 0px 5px;
	}
}

.button_container{
    margin-top: 20px;
	height: 50px;
	background: #ffffff;
	box-shadow: 0px -2px 4px rgba(20, 20, 43, 0.12);
	border-radius: 0px 0px 10px 10px;
}

.styled_button{
    background: #ee3425;
	border: none;
	border-radius: 4px;
	margin: 10px 12px 0px 12px;
	text-transform: capitalize !important;
	height: 32px;
	width: 106px;
	float: right;
}

.link{
    display: flex;
	cursor: pointer;
	color: #1890ff;
	text-decoration: underline;
}

.header_container{
    display: flex;
	justify-content: space-between;
	margin: 0px 35px 25px 0px;
	padding: 0px 10px 0px;
    :global{
        .core-ui-button-root {
            background: #221f20;
            border: none;
        }
    }
}

.download_error_link{
    display: flex;
	justify-content: center;
	margin: 5px 0px 15px;
}

.tick_icon{
    position: absolute;
	top: 25px;
	right: 40%;
}

.success_msg{
    color: #221f20;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	margin-top: 105px;
}

.succes_back_img{
    padding: 0px;
	position: absolute;
	top: 0px;

	@media screen and (max-width: 767px) {
		img {
			width: 370px;
		}
	}
}

.success_modal{
    margin-bottom: 25px;
}

.aws_container{
    padding: 0px 13px 0px;
}
