.heading{
  color: #282b2e;
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  margin-right: 24px;
  
  @media (max-width: ${({ theme }) => theme.breakpoints.md}) {
    color: white;
    margin-right: 0;
    font-size: 18px;
    margin-left: 8px;
  }
}
 
.tag {`
  background: #3B526B;
  color: #ffffff;
  font-weight: bold;

  padding: 7px 14px;
  font-size: 12px;
  margin: 4px 4px;
  margin-top: ${({ webView }) => (webView ? ' -50px' : '')};
  border-radius: 15px;
}

.flex_container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  margin-top: 24px;
}

.flex{
  display: flex;
  align-items:center; 
  margin-bottom:16px;
  margin-top:16px;
}

.text{
  color:white;
  size:18px;
}