.card_view {
	display: flex;
	flex-direction: column;
}

.heading {
	margin: 20px 10px 0;
	font-size: 20px;
	font-weight: 700;
	color: #282b2e;

	@media screen and (max-width: 700px) {
		margin: 20px 10px 0;
		font-size: 18px;
		color: white;
		color: #282b2e;
	}
}

.tag {
	padding: 7px 14px;
	margin: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #3b526b;
	border-radius: 15px;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

	@media screen and (max-width: 700px) {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
	}
}

.flex {
	display: flex;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.text {
	color: white;
	size: 18px;
}

.pagination_div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0;
}
