.container {
	.core-ui-radio-root {
		margin-top: 16px;
		display: flex;
		align-items: flex-start;
	}

	.core-ui-radio-label {
		color: #000;
	}

	.core-ui-radio-radio-container {
		flex-shrink: 0;
		margin-top: 4px;
	}

	.core-ui-input-root {
		padding: 2px 8px;

		&:focus-within {
			box-shadow: 0 0 0 1px #333;
		}
	}

	.size-md {
		height: 32px !important;
	}
}

.btn_wrap {
	display: flex;
	justify-content: center;
	gap:5px;
}

.cancel_btn_wrap {
	.core-ui-button-root {
		margin-right: 20px;
		background: #ffffff;
		color: #000000;
	}
}

.text {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.rate {
	display: flex;
	justify-content: space-between;

	&.final {
		border-bottom: 1px solid rgb(242 226 195);
	}
}

.tool_tip_container {
	max-width: 250px;
	font-weight: 300;
	font-size: 12px;
}

.info_icon {
	margin-left: 5px;
	width: 10px;
	height: 10px;
	align-items: center;
	cursor: pointer;
}

.lable {
	margin: 5px 0 5px 0;
	font-weight: 500;
	font-size: 14px;
	color: #393f70;
  }
  .errors {
	min-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
  }
  .header_container {
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	:global{
	  .ui_select_container{
		width:200px;
	  }
	  .ui_toggle_container{
		padding:0;
	  }
	}
  }
  