
/* .fadeIn = animate({
	enter: {
		...fadeIn,
		easing: 'easeInOutQuad',
		duration: 500,
	},
}); */

.container{
	background: #f9f9f9;
	border-radius: 4px;
	padding: 16px;
	margin: 16px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.sub_container {
	display: flex;
	flex-direction: column;
	width: 25%;

	@media (max-width: 768px) {
		width: unset;
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;
	}
}

.label_text {
	font-size: 14px;
	line-height: 16px;
	color: #828282;
	margin-bottom: 8px;

	

	@media (max-width: 768px) {
		margin-bottom: unset;
		margin-right: 4px;

		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
.poc-details {
	font-size: 12px;
	margin-bottom: 4px;
}

.pin_code_container{
	display: flex;
	flex-direction: column;
	width: 20%;

	@media (max-width: 768px) {
		all: unset;
		width: fit-content;
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;
	}
}

.doc_container {
	border: 1px solid #e0e0e0;
	background: #ffffff;
	border-radius: 4px;
	padding: 8px 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;

	@media (max-width: 767.99px) {
		width: 220px;
	}
}

.doc_text{
	font-weight: 400;
	font-size: 12px;

	@media (max-width: 767.99px) {
		width: 140px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.value_text{
	font-weight: 500;
	font-size: 16px;
	color: #2c3e50;
	margin-right: 8px;


	@media (max-width: 768px) {
		font-weight: 400;
		margin-right: unset;
		font-size: 14px;
	}
}
.poc-text {
	font-size: 12px;
	margin-bottom: 4px;
}

.billing_party_name_container {
	display: flex;
	flex-direction: column;
	width: 25%;

	@media (max-width: 768px) {
		all: unset;
		width: fit-content;
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;
	}
}

.address_container{
	display: flex;
	flex-direction: column;
	width: 50%;

	@media (max-width: 768px) {
		all: unset;
		width: fit-content;
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;
	}
}

.link_text{
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline;
	color: #034afd;
	cursor: pointer;
}

.poc_footer{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.poc_container {
	display: flex;
	background: #ffffff;
	border: 1px solid #66acf7;
	padding: 24px 20px;
	margin-top: 12px;
	border-radius: 8px;
	position: relative;

	@media (max-width: 768px) {
		padding: 12px;
		flex-direction: column;
	}
}

.poc_edit_icon_container{
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
}

.poc_sub_container {
	display: flex;
	flex-direction: column;
	width: 25%;

	@media (max-width: 768px) {
		all: unset;
		display: flex;
		flex-direction: row;
		margin-bottom: 4px;
	}
}

.editIcon_container {
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.basic_billing_details{
	display: flex;
	flex-direction: row;
	margin-bottom: 24px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;
	}
}

.tax_details_container {
	display: flex;
	flex-direction: row;

	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 8px;
	}
}
