.card {
	display: flex;
	gap: 15px;
	padding: 8px;
	overflow-x: scroll;

	@media (max-width: 760px) {
		flex-direction: column;
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 15px;
	width: 334px;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);

	@media (max-width: 760px) {
		width: 100%;
	}
}

.content:hover {
	box-shadow: 1px 3px 10px #e4e9ff;
}

.heading {
	font-size: 14px;
	line-height: 24px;
}

.value {
	display: flex;
	gap: 8px;
	align-items: center;
}

.points {
	display: flex;
	align-items: center;

	.value {
		margin-left: 5px;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sub_card {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	width: 150px;
	padding: 2px 15px;
	background: #fdfbf6;
	border: 1px solid #cfbc93;
	border-radius: 30px;
}
