.form_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.card_heading {
	padding-bottom: 24px;
	font-size: 24px;
	font-weight: 800;
	color: var(--color-secondary-greyscale-2);
}

.field {
	display: flex;
	flex-direction: column;
	margin: 0 0 8px;
}

.label {
	margin: 4px 0;
	color: var(--color-secondary-greyscale-1);
}

.errors {
	height: 12px;
	font-size: 12px;
	font-weight: 300;
	color: var(--color-primary-error-red-2);
	text-align: right;
}
