.empty {
	display: flex;
	justify-content: center;
	width: 100%;
}

.container {
	padding: 8px;
	background: #fff;
	box-shadow: 0 1px 6px rgb(190 209 237 / 65%);

	@media (max-width: 768px) {
		all: unset;
		margin: 0 -12px;
		background: #fff;
	}
}

.first_row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.empty_container {
	display: flex;
	justify-content: center;
	width: 100%;
}
