.row{
    display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.heading{
    margin: 0px;
	font-weight: 500;
	font-size: 18px;
	line-height: 15px;
	text-transform: uppercase;
	color: #2c3e50;
	margin-right: 12px;
}