
.component{
    /* &.page-bg {
		background-image: url(/Globe.png);
		background-position: right top;
		background-repeat: no-repeat;
		background-size: auto;
	} */
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.page_bg{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-image: url("https://cdn.cogoport.io/cms-prod/cogo_app/vault/original/Globe.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: auto;
}