.component {
	display: flex;
	flex-direction: column;

	/* &.page-bg {
		background-image: url(/Globe.png);
		background-position: right top;
		background-repeat: no-repeat;
		background-size: auto;
	} */
	min-height: 100vh;
}

.page_bg {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto;
}
