.container {
	padding: 0 10px;
}

.card {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 16px 0 #627fac33;
}

.row {
	display: flex;
	padding: 8px 0;
	border-bottom: 1px solid #cfeaed;
}

.text {
	width: 75%;
	font-size: 12px;
}
