.container {
	padding: 0 10px;
}

.card {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 16px 0 #627fac33;
}

.row {
	display: flex;
	padding: 8px 0;
	border-bottom: 1px solid #cfeaed;
}

.last_row {
	border: none;
}

.info_container {
	width: 76%;
}

.text {
	overflow: hidden;
	font-size: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.date {
	font-size: 12px;
	color: #bdbdbd;
}
