.container {
  width: 100%;
}

.main {
  display: flex;
  width: 50%;
  flex-wrap: wrap;

  background-color: #cbcff5;
  margin: 10px 0px;
  border-radius: 4px;
  padding: 8px;
}

.display_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 30px;
  min-width: 50px;
  border-radius: 4px;
  margin-right: 8px;
  border: 1px solid #cbcff5;
  padding: 0px 4px;
}

.item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex {
  display: flex;
}
