.container {
	position: relative;
	padding: 10px 20px;
	background-color: #fdfbf6;
	border: 1px solid  #f2e3c3;
	border-radius: 8px;
}

.title_container {
	.title {
		margin-bottom: 1px;
	}

	.line {
		width: 12%;
		border-top: 3px solid #f9ae64;
	}
}

.tag {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 10px;
}

.flex_box {
	display: flex;
	align-items: center;
}

.row {
	justify-content: space-between;
	margin-bottom: 5px;
}

.section {
	/* width: 50%; */
}

.info_section {
	/* padding: 0 0 0 12px; */

	/* border-left: 1px dashed #bdbdbd; */
}

.info_title {
	font-weight: 600;
}

.col {
	&.label {
		width: 45%;
		font-weight: 300;
	}

	&.value {
		width: 45%;
		text-align: right;
	}
}
