.container {
	float: right;
	margin-top: 10px;
	cursor: pointer;

	:global {
		.tippy-box {
			display: block;
		}
	}
}

.filter_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 13px 0;
	border-radius: 10px;
}

.filter_button_ctn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 30px;
	padding: 15px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.filter_text {
	padding: 5px;
	font-size: 16px;
	font-weight: 400;
	color: black;
}

.filter_icon {
	padding: 8px 0 0;
}

.direction_icon {
	padding: 5px 0 0;
	color: black;
}

.container1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px;
}

.clear_button_text {
	padding-left: _s4;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
	cursor: pointer;
}

.clear_button {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding-right: 17px;
	margin-top: 10px 10px;
	color: #f75620;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.select_date {
	width: fit-content;
}

.select_div {
	width: 100%;
	margin: 0 0 0 7px;
}

.input_title_text {
	font-size: 14px;
	font-weight: 400;
}
