.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button_text {
	padding-left: 2px;
}

.text {
	font-size: 16px;
	font-weight: 600;
	color: var(--black-80, #4f4f4f);
}
