.container {
	display: flex;

	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
	}

	.featurecard-container {
		box-sizing: border-box;
		flex-direction: row-reverse;
		background: #fff;
		border: 1px solid #bdbdbd;
		border-radius: 10px;
		box-shadow: none;
	}

	.featurecard-content {
		margin-left: 20px;
	}

	&.blue {
		margin-top: 20px;

		.featurecard-container {
			box-sizing: border-box;
			padding: 16px 10px;
			background: #f5fafe;
			border: 1px solid #b3d5fb;
			border-radius: 10px;
		}

		.featurecard-content {
			margin-left: 0;
		}
	}
}
