
.tab_header{
	display: flex;
	flex-direction: row;
	font-weight: 400;
	font-size: 12px;
	padding-left: 18px;
	align-items: center;
	justify-content: flex-start;
}

.sub_heading{
	padding-left: 5px;
	color: #6b6d81;
	font-weight: 600;
	font-size: 12px;
}

.tooltip_style{
	font-size: 12px;
}
