.container {
	width: 100%;
	min-width: 300px;
	margin-top: 15px;
}

.title {
	margin: 0 14px 8px 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: #000;

	&.margin_top {
		margin-top: 14px;
	}
}

.line {
	height: 1px;
	margin: 12px 0;
	background: #bdbdbd;
}
