.row {
    display: flex;
    align-items: center;
	padding: 10px;
    flex-wrap: wrap;
}

.align_div {
    display: flex;
	align-items: center;
	font-size: 15px;
    width: 30%;
    justify-content: flex-start;
    text-decoration: underline;
}

.section_2 {
    margin: 10px;
	max-width: 30%;
	border-radius: 10px;
	background: #fffef9;
	border: 1px solid #d6483a;
	box-shadow: 0px 2px 12px rgba(71, 111, 211, 0.2);
}

.selected {
    margin: 10px;
	max-width: 30%;
	border-radius: 10px;
	background: #fffef9;
	border: 1px solid #d6483a;
	box-shadow: 0px 2px 12px rgba(71, 111, 211, 0.2);
	padding: 10px;
}

.card_text {
    margin: 0;
	font-size: 12px;
	margin: 3px 0;
}

.org_name {
    margin: 0;
    font-weight: 500;
}