.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

.align_div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 30%;
	font-size: 15px;
	text-decoration: underline;

	@media (max-width:760px){
		width: 100%
	}
}

.section_2 {
	max-width: 30%;
	margin: 10px;
	background: #fffef9;
	border: 1px solid #d6483a;
	border-radius: 10px;
	box-shadow: 0 2px 12px rgb(71 111 211 / 20%);
}

.selected {
	max-width: 30%;
	padding: 10px;
	margin: 10px;
	background: #fffef9;
	border: 1px solid #d6483a;
	border-radius: 10px;
	box-shadow: 0 2px 12px rgb(71 111 211 / 20%);
}

.card_text {
	margin: 0;
	margin: 3px 0;
	font-size: 12px;
}

.org_name {
	margin: 0;
	font-weight: 500;
}
