
.container{
    width: 300px;

    :global{
        .ui_3aPlV.ui_popover_container{
            margin-right: 27px;
        }
    }
}

.header{
    display: flex;
    justify-content: space-between;
}

.text{
    font-size: 14x;
    font-weight: 600;
}

.cross{
    cursor: pointer;
}