.table_container {
	margin: 30px 0;
}

.card_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px 16px;

	&.header_item {
		padding: 5px 16px;
	}

	&.row_item {
		margin: 14px 0;
		text-transform: uppercase;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2.2px 18.6px 0 #476fd30e, 0 17.8px 60px 0 #476fd31c;
	}

	.rotate {
		transform: rotate(-180deg);
	}

	.not_rotate {
		transform: rotate(0);
	}
}

.col {
	text-align: center;

	&.card_header_col {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		font-weight: 600;
	}

	&.hyper_link {
		font-size: 14px;
		color: #0694e6;
		text-decoration: underline;
		cursor: pointer;
	}

	&.hyper_link:hover {
		color: #014a76;
	}
}

.sorting_icon {
	margin-left: 5px;
	cursor: pointer;
	transition: 0.2s ease-in;

	svg {
		vertical-align: middle;
	}
}

.info {
	padding: 4px 0;
	cursor: pointer;

	.text {
		margin-left: 6px;
		font-size: 12px;
		text-transform: capitalize;
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin: 22px 0;
}

.mobile_view {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.desktop_view {
	display: block;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.box {
	position: relative;
	box-sizing: border-box;
	width: 328px;
	height: 160px;
	padding: 14px 10px;
	margin: 16px 16px 16px 0;
	background: rgb(255 255 255);
	border: 1px solid rgb(209 209 225 / 80%);
	border-radius: 8px;
}

.row_design {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.flex {
	display: flex;
	gap: 5px;
	align-items: center;
	-webkit-box-align: center;
}

.names {
	font-size: 14px;
	font-weight: 800;
}

.first_row {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.first_col {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.date_row {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.date_col {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.flexs {
	display: flex;
	gap: 5px;
	align-items: center;
	-webkit-box-align: center;
}

.date {
	font-size: 14px;
	font-weight: 1000;
}

.date_digits {
	font-size: 14px;
	font-weight: 300;
}

.border {
	border-right: 2px solid rgb(28 28 28);
}

.amount {
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 8px;
}

.last {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
	-webkit-box-align: center;
}
