.container{
    position: relative;
}
.blur_screen {
    filter: blur(8px);
}
.loading_screen {
    position: absolute;
    z-index: 1000;
    top: 35%;
    align-self: center;
    width: 90%;
    text-align: center;
    left: 5%;
    color: #4f4f60;
}
.map_unable{
    color: #282b2e;
	font-size: large;
	font-weight: 600;
	margin: 10px;
}
.text_card{
    text-align: center;
}
.route{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}