.flex_box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 0;
	text-align: center;
}

.success_img {
	width: 100px;
	height: 100px;
}

.footer {
	padding: 22px;
}

.send_btn {
	margin-left: 12px;
}

.container {
	flex-direction: column;
	padding: 20px 20px 0;
}

.info {
	margin-top: 15px;
	text-align: left;

	p {
		margin: 0;
		margin-left: 4px;
	}
}

.loading {
	width: 150px;
	height: 150px;
}

.send_img {
	width: 100px;
	height: 100px;
}
