.container {
	display: flex;
}

.alert_message {
	padding: 4px 12px;
	font-size: 10px;
	border-radius: 0 0 0 4px;
	background-color: rgb(192, 255, 201);}

.rate_type {
	padding: 4px 12px;
	margin-right: 8px;
	font-size: 10px;
	background-color: #d9eafd;
	border-radius: 0 0 0 4px;
}
