.container {
	display: flex;
}

.alert_message {
	border-radius: 0 0 0 4px;
	font-size: 10px;
	padding: 4px 12px;
}

.rate_type {
	border-radius: 0 0 0 4px;
	font-size: 10px;
	padding: 4px 12px;
	margin-right: 8px;
	background-color: #d9eafd;
}
