.heading {
	display: flex;
	align-items: center;
	padding: 2px 6px;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;

	/* margin-left: 10px; */
	border-radius: 4px;
}

.commentContainer {
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	padding: 4px;
}

.textHead {
	font-size: 14px;
	font-weight: 700;
}

.commentText {
	font-size: 14px;
}
