.flex_box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_container {
	max-height: 650px;
	padding: 25px 30px;
	overflow-y: scroll;
}

.loading {
	width: 100px;
	height: 100px;
}

.empty_state {
	flex-direction: column;

	.empty_text {
		margin-top: -10px;
		font-size: 15px;
		font-weight: 600;
	}
}

.heading {
	color: #2c3e50;
}

.verify_container {
	height: 56px;
	padding: 8px 16px;
	margin-bottom: 10px;
	background: #fefbf7;
	border: 2px solid #fff4e1;
	border-radius: 8px;

	.trader_title {
		margin-right: 12px;
		font-size: 16px;
		font-weight: 600;
		color: #2c3e50;
	}

	.company {
		width: 165px;
		height: 24px;
		font-weight: 600;
	}

	.verified {
		font-size: 12px;
		color: #697989;
	}
}

.info_container {
	margin-left: 11px;
}
