.container {
	padding: 0 10px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
}

.input_fields {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	margin-left: 20px;
}

.btn_grp {
	display: flex;
	align-items: center;
	padding: 10px 30px;

	.btn_header {
		font-weight: 500;
	}
}

.col {
	width: 50%;
	padding: 12px;

	&.mobile_no,
	&.email {
		width: 100%;
	}

	:global {
		.ui_radiogroup_container,
		.ui_checkbox_group_container {
			padding: 0;
		}

		.ui_radio_container,
		.ui_checkbox_container {
			padding: 0 10px;
		}
	}
}

.error {
	font-size: 11px;
	color: red;
}

.send_container {
	display: flex;
	align-items: center;
	justify-content: center;

	&.err_box {
		flex-direction: column;

		p {
			margin-top: 13px;
			font-size: 20px;
		}
	}
}
