.form_container {
	display: flex;
	flex-direction: column;
	min-height: 300px;
	padding-top: 20px;
}

.label {
	margin: 8px 0;
	color: var(--color-secondary-greyscale-1);
}

.show_password {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.errors {
	height: 12px;
	font-size: 12px;
	font-weight: 300;
	color: var(--color-primary-error-red-2);
	text-align: right;
}

.submit_button {
	margin-top: 24px;
}

.links {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-size: 12px;
	color: var(--color-secondary-greyscale-2);
	text-decoration-line: underline;
}
