.container {
	width: 100%;
	overflow: hidden;
	background: #f9f9f9;
}

.faqs_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 5%;
}

.view_history_styles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #fff;
}

.raise_ticket {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #fff;
}
