.header {
    margin: 12px 24px;

    height: fit-content;

    display: flex;
    justify-content: center;

    flex: 1;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.help_mobile {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}
