.heading {
	font-size: 20px;
	font-weight: 500;
}

.container {
	padding: 12px  24px;
	margin-top: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.sub_heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #828282;

	button {
		cursor: pointer;
	}
}

.director_details {
	margin-top: 15px;
}

.financial_div {
	padding: 30px 0;
}

.finance_container {
	display: flex;
	flex-wrap: wrap;
	padding: 12px 10px 24px;
	margin-top: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	:global {
		.form_content {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			.form_item {
				width: 30%;
			}
		}
	}
}

.field {
	margin: 0 0 15px;
}

.field_name {
	width: 25%;
	margin: 0 0 4px;
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.form {
	padding: 20px;
}

.error_text {
	color: red;
}

.footer_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	direction: row;
}

.file_wrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;
	margin-top: 10px;

	:global {
		.container {
			width: 100%;
			margin-right: 10px;
		}
	}
}
