.flex_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row{
	border-bottom: 1px solid #e5e5e5;
	padding: 16px 24px;
}

.info{
	width: 30%;
	justify-content: flex-start;
}
.title{
	font-size: 16px;
	color: #e84855;
}

.text{
	margin: 0 5px;
	border-bottom: 1px dashed #f68b21;
}

.tooltip_header{
	font-weight: 600;
}
.trader_check_container{
	margin: 16px 0;
}
.heading{
	font-weight: 600;
}
.trader_row{
	margin: 12px;
	padding: 16px;
	background: #fbfffb;
	border: 1px solid #cedcea;
	border-radius: 4px;

	.screen{
		flex:2;
		padding: 0 20px;
		display: flex;
		border-left: 1px solid #b4cbb8;
	}

	.price{
		position: relative;
		top: -24px;
   		left: 20px;
	}
}