.heading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 0;
}

.add_address {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #f1690c;
	text-decoration: underline;
	cursor: pointer;
}

.or_tag {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8px;
}

.line {
	width: 14px;
	height: 0;
	border-top: 1.7px solid #bdbdbd;
}

.text {
	font-size: 13px;
	font-weight: 500;
	color: #bdbdbd;
}

.select {
	width: 200px;
}
