
.loader{
	position: relative;
}

.map_unable{
	color: #333;
	font-weight: 500;
	font-size: 15px;
	top: -23px;
	position: absolute;
	z-index: 400;
}


@media screen and (min-width:767px){
	.without_mobile {	

		:global {
			.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
				width: 100%;
				height: 600px !important;
			}
		}
		
	}
}
@media screen and (max-width:767px){
	.with_mobile {
		:global {
			.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
				width: 100%;
				height: 350px !important;
			}
		}
	}
}
