.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	margin: 0;
	cursor: pointer;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
}

.image {
	width: 15px;
	height: 15px;
}

.name_flex {
	display: flex;
	align-items: center;
	width: 80%;
}

.file_name {
	max-width: 84%;
	margin-left: 3px;
	overflow: hidden;
	font-size: 10px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extension {
	font-size: 10px;
	color: #4f4f4f;
}
