.container {
	display: flex;
	white-space: nowrap;
}

.service_tag {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 2px 10px;
	margin: 10px 5px 0;
	background: #e3f6f6;
	border-radius: 4px;

	svg {
		margin-right: 3px;
	}
}

.text {
	font-size: 10px;
}

.extra {
	display: flex;
	width: fit-content;
	padding: 2px 7px;
	margin-top: 10px;
	font-size: 10px;
	background: #cfeaed;
	border-radius: 4px;
}

.tooltip_container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
	white-space: nowrap;
}
