.container{
    width: 18px;
	height: 18px;
	margin-right: 14px;
}

.tooltip_container{
	margin: 12px;

}

.tippy-box {
    max-width: 700px !important;
    border: unset !important;
    border-radius: 8px !important;
    box-shadow: 0 1px 6px rgba(169, 188, 218, 0.65) !important;
    margin-top: 16px !important;
}