.error_class {
	:global {
		.ui_input_container {
			border: 1px solid #bf291e;

			&:hover {
				border: 1px solid #bf291e;
			}
		}
	}
}

.label {
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
}

.optional {
	padding-top: 3px;
	margin-left: 5px;
	font-size: 11px;
	color: #828282;
}

.sublabel {
	height: 16px;
	padding: 2px 0 0 2px;
	font-size: 10px;
	color: #828282;
}
