.container {
	display: flex;
	flex-direction: column;
	min-height: 192px;
	padding: 34px 16px;
	background: #f9f9f9;
	border-radius: 10px;
}

.main {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

.title {
	margin: 0 0 16px;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	color: black;
}

.content {
	.videoCaption {
		margin-top: -24px;
	}

	.enquiries-empty-list-page {
		&.first {
			margin-top: 16px;
		}

		& > p:nth-child(2) {
			margin-bottom: 0;

			+ ol {
				margin-top: 2px;
			}
		}
	}
}
