.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 60px 30px 36px;
	background: #fff;
	border-radius: 10px;
}

.wrapper {
	max-width: 45%;

	@media (max-width: 760px) {
		max-width: 100%;
	}
}

.button {
	padding: 8px 11px;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background: transparent;
	background: black;
	border: none;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
	transition: all 0.3s;
}

.icon_container {
	min-width: 10%;
	max-width: 17%;

	@media (max-width: _md) {
		display: none;
	}
}
