.row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		overflow: auto;
		border: none !important;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}
}

.tab_panel {
	.text {
		margin-left: 3px;
	}

	svg {
		vertical-align: top;
	}
}

.input_box {
	width: 15%;

	svg {
		margin-right: 8px;
	}

	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: auto;
		margin-top: 14px;
		font-size: 12px;
		-webkit-box-pack: justify;
	}
}

.mobile_view {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.desktop_view {
	display: block;

	@media screen and (max-width: 767px) {
		display: none;
	}
}
