.title{
	@media screen  and (max-width: 767px){
		display: none;
	}
}


.row_desktop {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
	flex-wrap: wrap;
}

.tab_container{
	@media screen  and (max-width: 767px){
		margin: auto;
		display: block;
	}
}

.tab_panel {
	.text {
		margin-left: 3px;
	}

	svg {
		vertical-align: top;
	}
}


.input_box {
	width: 15%;

	svg {
		margin-right: 8px;
	}

	@media screen and (max-width: 767px) {
		margin-top: 18px;
		width: 100%;
	}
}
