.substract {
	display: flex;
	margin: 6px 6px 6px 6px;
	cursor: pointer;
	border: 1px solid black;
}
.flex{
	display:flex;
	flex-direction: column;
}
.error_message {
	font-size: 12px;
	color: red;
}

.styled_text {
	color: #393f70;
	padding-bottom: 4px;
	width: max-content;
	@media (max-width: 768px) {
		width: auto;
	}
}

.container {
    display: flex;
	justify-content: space-between;
	width: 50%;
	/* padding: ${(props) =>
		props.type === 'detention' ? '12px 20px 8px 4px' : '12px 4px 8px 20px'}; */
	/* border-right: ${(props) =>
		props.type === 'detention' ? '1px solid #bdaff9' : null}; */
}
