.container {
	margin: 20px;
}

.flex_box {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
	}
}

.info {
	flex-shrink: 0;
	width: 60%;

	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
	}
}

.map {
	flex-shrink: 0;
	width: 37%;
	border: 1px solid #e79600;
	border-radius: 16px;

	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
		width: 100%;
	}
}
