.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 85%;
	margin: 20px 0;
}

.title {
	padding-left: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
	text-align: center;
}

.topics_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 5px 0;
}

.topic_container {
	width: 300px;
	padding: 20px;
}

.square_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 20px 0;
	text-overflow: ellipsis;
	cursor: pointer;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 8px rgb(98 127 172 / 20%);
	transition: 0.3s ease-in-out;

	&:hover {
		transition: 0.3 ease-in-out;
		transform: scale(1.05);
	}
}

.display_name {
	width: 100%;
	padding: 8px 20px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	color: #828282;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.question_count {
	width: 100%;
	padding: 0 20px;
	font-size: 11px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
	opacity: 0.6;
}

.arrow_icon {
	width: 30px;
	height: 30px;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background: #fffad4;
	border-radius: 100%;
}

.placeholder {
	border-radius: 100%;
}

.text_skeleton {
	margin-bottom: 2px;
}

.icon_loading {
	background: unset;
}

.add_margin_between {
	margin-left: 4px;
}
