.image_container {
    justify-content: center;
	display: flex;
}

.title {
	font-weight: 700;
	font-size: 24px;
	color: #170f49;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 2px;
}

.text {
    display: flex;
    justify-content: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #6f6c90;
    margin-bottom: 14px;
}

.button_div {
    display: flex;
	justify-content: center;
    gap: 5px
}