.container {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	margin: 0 -24px 12px;
	background: #f5faff;
}

.main {
	width: 100%;
	padding: 0 28px;
	margin-left: 28px;
	border-left: 1px solid #deeaf5;
}
