.container {
	box-sizing: border-box;
	width: 84%;
	padding: 16px;
	margin-bottom: 24px;
	background: #f2f6ff;
	border: 1px solid #cddbff;
	border-radius: 10px;

	@media (max-width: 760px) {
		width: 100%;
		margin-top: 18px;
	}
}

.space_between {
	display: flex;
	justify-content: space-between;
}

.setting_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
	margin-right: 24px;
	background: #fff;
	border-radius: 10px;

	@media (max-width: 760px) {
		width: 32px;
		height: 31px;
		margin-top: 2px;
		margin-left: -5px;
	}
}

.desktop {
	@media (max-width: 760px) {
		display: none;
	}
}

.mobile {
	@media (min-width: 760px) {
		display: none;
	}
	@media (max-width: 760px) {
		margin-top: 15px;
		margin-left: 34px;
		font-size: 12px;
	}

	.mobile {
		@media (max-width: 760px) {
			margin-top: 2px;
			margin-left: 4px;
		}
	}
}

.plan_type {
	margin: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	letter-spacing: 0.04em;

	.subType {
		font-size: 10px;
		font-weight: normal;
		line-height: 12px;
	}
}

.benefit {
	margin: 0;
	font-size: 10px;
	line-height: 12px;
	color: #828282;
	letter-spacing: 0.04em;

	.trialLeft {
		margin-bottom: 4px;
		color: #67c676;
		text-transform: uppercase;
	}
}

.row {
	display: flex;
	align-items: center;
}

.main {
	@media (max-width: 760px) {
		margin-top: 0;
		margin-left: -15px;
	}
}
