.heading {
	display: flex;
	align-items: center;
	padding: 31px 0 20px 56px;
}

.text {
	padding-left: 5px;
	font-size: 20px;
	font-weight: 700;
	line-height: 75%;
	color: #2c3e50;
}

.name_div {
	display: flex;
}

.left_line {
	width: 47px;
	height: 15px;
	background-color: #fcdc00;
}

.content {
	display: flex;
	align-items: center;
	padding: 0 8px;
	margin-top: -6px;
}

.name {
	font-size: 20px;
	font-weight: 700;
	color: #170f49;
}

.policy {
	padding-left: 56px;
	font-size: 16px;
	font-weight: 400;
	color: #6f6c90;
}

.right_line {
	flex: 2;
	height: 15px;
	background-color: #fcdc00;
}

.address_div {
	margin-top: 11px;
	margin-bottom: 24px;
	margin-left: 105px;
}

.label {
	font-size: 16px;
	font-weight: 500;
	color: #170f49;
}

.email_value {
	font-size: 16px;
	font-weight: 400;
	color: #6f6c90;
}

.details_header {
	display: flex;
	align-items: center;
}

.left_line_div {
	width: 11%;
	border-bottom: 1px solid #abb0de;
}

.right_line_div {
	width: 65%;
	border-bottom: 1px solid #abb0de;
}

.dot_div {
	width: 5px;
	height: 5px;
	background: #db4634;
	border-radius: 100%;
}

.text_div {
	padding: 1%;
	font-size: 18px;
	font-weight: 500;
	color: #170f49;
}

.details_content_div {
	margin-top: 18px;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
	margin-left: 105px;
}

.name {
	width: 25%;
}

.address {
	width: 70%;
}

.panOrAadhar {
	width: 40%;
}

.commodity {
	width: 33%;
}

.value {
	max-width: 200px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	color: #6f6c90;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value_2 {
	max-width: 200px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	color: #6f6c90;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 25px 40px;
	background: #dee0e6;
	border-radius: 0 0 8px 8px;
}

.textforpreview {
	font-size: 20px;
	font-weight: 700;
	color: #2c3e50;
	text-align: center;
}

.inclusive {
	font-size: 11px;
	font-weight: 400;
	color: #6f6c90;
	text-align: start;
}

.text {
	font-size: 20px;
	font-weight: 700;
	color: #2c3e50;
}
