.container {
	display: flex;
	flex-direction: column;
}

.header {
	padding: 10px 0;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	text-align: left;
	letter-spacing: 0;
}

.button_wrapper {
	display: inline-flex;
	justify-content: flex-end;
	padding: 20px 0;
}

.terms_condition_div {
	display: inline-flex;
	align-items: center;
}

.terms {
	span {
		padding: 0 5px;
		color: rgb(225 60 60 / 78.3%);
		cursor: pointer;
	}
}
