.container {
	display: flex;
	flex-direction: column;
}
.header {
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0px;
	text-align: left;
    padding: 10px 0px;
}
.button_wrapper{
	padding: 20px 0px;
	display: inline-flex;
	justify-content: flex-end;
}
.terms_condition_div{
	display: inline-flex;
	align-items: center;

}
.terms{
	span{
		color: rgba(225, 60, 60, 0.783);
		cursor: pointer;
		padding: 0px 5px;
	}
}