.location {
	display: flex;
	flex: 4.5;
	flex-direction: column;
	width: 45%;

	@media (max-width: 768px) {
		width: calc(50% - 34px);
	}
}

.name {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 700;
	cursor: default;
}

.code {
	margin-left: 2px;
	font-size: 13px;
	font-weight: 400;
	color: black;
}

.country {
	font-size: 13px;
	color: #393f70;
}

.port {
	max-width: calc(100% - 30px);
	overflow: hidden;
	font-size: 13px;
	color: #393f70;
	text-overflow: ellipsis;
	white-space: nowrap;
}
