/* import styled from '@cogoport/front/styled';

export const Container = styled.div`
	width: 100%;
`;

export const Tabs = styled.div`
	display: flex;

	&.with-mobile {
		gap: 0 10px;
		justify-content: space-around;
	}
	justify-content: space-between;
	.card {
		position: relative;
		border-radius: 8px;
		border: 1px solid #cdd9ed;
		padding: 12px;
		width: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}

	.selected {
		border: 1px solid #4d88be;
		background: #f7fbfe;
		box-shadow: 0px 2px 10px 0px #96a7ba66;
	}

	.waveContainer {
		position: absolute;
	}
`;

export const Image = styled.img`
	width: 88px;
	height: 60px;
	margin-bottom: 10px;
`;

export const Txt = styled.div`
	color: #828282;

	&.selectedTxt {
		color: #333;
	}
`;

export const Dot = styled.div`
	position: absolute;
	top: 10px;
	left: 10px;
	width: 8px;
	height: 8px;
	background: #db4634;
	border-radius: 100%;
	box-shadow: 0 0 7px #fff, 0 0 0px #fff, 0 0 4px #f00, 0 0 12px #f00;
`;

export const FormDiv = styled.div`
	margin-top: 25px;
`;

export const InterChangeContainer = styled.div`
	display: flex;
	justify-content: center;
	align-items: center;

	.icn {
		border: 1px solid #fbd1a6;
		background: #fef3e9;
		border-radius: 100px;
		padding: 4px;
		cursor: pointer;
		width: 30px;
		height: 30px;
		transition: 0.2s ease-in;
	}

	.rotateIcn {
		transform: rotate(180deg);
	}
`; */

.container{
	width: 100%;
}

.tabs{
	display: flex;
	justify-content: space-between;
}

.with_mobile{
	gap: 0 10px;
	justify-content: space-around;
}
.card {
	position: relative;
	border-radius: 8px;
	border: 1px solid #cdd9ed;
	padding: 12px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.dot{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 8px;
	height: 8px;
	background: #db4634;
	border-radius: 100%;
	box-shadow: 0 0 7px #fff, 0 0 0px #fff, 0 0 4px #f00, 0 0 12px #f00;
}

.image{
	width: 88px;
	height: 60px;
	margin-bottom: 10px;
}

.txt{
	color: #828282;
}

.formDiv{
	margin-top: 25px;
}

.interChangeContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.icn {
	border: 1px solid #fbd1a6;
	background: #fef3e9;
	border-radius: 100px;
	padding: 4px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transition: 0.2s ease-in;
}

.rotateIcn {
	transform: rotate(180deg);
}