.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 60px 0;
	text-align: center;

	@media (max-width: 768px) {
		align-self: center;
	}
}

.dislike_container {
	display: flex;
	justify-content: flex-end;
	padding-top: 8px;
	margin: 0 -56px 16px 0;
}

.text {
	display: flex;
	align-self: center;
	margin-bottom: 6px;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #828282;

	.confirmed {
		margin-top: 16px;
		margin-bottom: 18px;
		color: #fff;
	}
}

.breakup_btn_container {
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: center;
}

.coin_container {
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.label {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #333;

	&.cogo-assured {
		color: #404e65;
	}
}

.points {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #333;

	.cogo-assured {
		color: #404e65;
	}
}

.limited_offer_deal {
	padding: 6px 12px;
	margin-top: -9px;
	margin-bottom: 22px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	text-align: center;
	background: #fbd69f;
	border-radius: 0 0 8px 8px;
}

.button_price_container {
	align-self: center;

	&.confirmed {
		margin-top: 26px;
	}
}

.button_styles {
	align-self: center;
	width: 100%;
	margin-bottom: 15px;
}

.book_button_styles {
	align-self: center;
	width: 100%;
	margin-bottom: 15px;
}

.book_button_styles:hover {
	background-color: red !important;
}

.button {
	color: rgb(130 130 130);
	cursor: pointer;
	background: rgb(236 245 255) !important;
}
