.container {
	display: flex;
	padding: 8px 60px 0 60px;
	text-align: center;
	justify-content: space-between;
	flex-direction: column;

	@media (max-width: 768px) {
		align-self: center;
	}

	.core-ui-button-root {
		padding: 12px 16px;
		height: auto;
		font-size: 12px;
		white-space: nowrap;
	}
}

.dislike_container {
	display: flex;
	justify-content: flex-end;
	margin: 0 -56px 16px 0;
	padding-top: 8px;
}

.text {
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0.02em;
	color: #828282;
	margin-bottom: 6px;

	.red {
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 140%;
		text-align: center;
		color: #cb6464;
		margin-top: 4px;
		margin-bottom: 10px;
	}

	&.confirmed {
		margin-top: 16px;
		margin-bottom: 18px;
		color: #ffffff;
	}
}

.breakup_btn_container {
	align-items: center;
	justify-content: center;
}

.coin_container {
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.label {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
	margin-left: 4px;

	&.cogo-assured {
		color: #404e65;
	}
}
 
.points {
	color: #333333;

	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	.cogo-assured {
		color: #404e65;
	}
}

.limited_offer_deal {
	background: #fbd69f;
	border-radius: 0 0 8px 8px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	padding: 6px 12px;
	margin-top: -9px;
	margin-bottom: 22px;
}

.button_price_container {
	.confirmed {
		margin-top: 26px;
	}
}

