.icon_div {
	display: flex;
	justify-content: center;
}

.heading {
	display: flex;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
	color: #221f20;
	text-align: center;
}

.text {
	display: flex;
	justify-content: center;
	margin-bottom: 33px;
	font-size: 13px;
	color: #828282;
}

.button_div {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	border-radius: 8px 8px 0 0;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.secondary_button {
	width: 120px;
	height: 30px;
	margin-right: 20px;
	color: #221f20;
	background: #fff;
	border: 1px solid #e0e6e9;
}

.primary_button {
	width: 120px;
	height: 30px;
}

.modal_div {
	:global {
		.ui-modal-dialog {
			padding: 16px 0;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 16px 8px;

	@media (max-width: 768px) {
		width: 100%;
		text-align: center;
	}
}
