.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 20px 40px;
	border-radius: 10px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.sub_header {
	font-size: 16px;
	color: #4f4f4f;
}

.label {
	font-size: 24px;
	color: #221f20;

	span {
		margin-right: 4px;
		font-weight: 600;
	}
}

.text_container {
	padding: 30px;
}

.ticket_container {
	padding: 50px 50px 50px 100px;
	background: #fffce6;
	border-radius: 100px 0 0 100px;
}

.dashboard_styles {
	width: 83%;
}
