.header {
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 32px;
	box-shadow:
		rgb(18 28 37 / 8%) 0 2px 20px -12px,
		rgb(18 28 37 / 4%) 0 2px 4px 0;
}

.content {
	padding: 32px;
}

.a {
	display: inline-block;
	margin-right: 12px;
	text-decoration: none;
	cursor: pointer;
}

.logo {
	width: auto;
	height: 24px;
}
