.form_container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-radius: 8px;

	& .form-item-container .form-item-label {
		color: #333;
	}

	.ui-textarea {
		font-family: Roboto;
	}
}

.inputs_container {
	.core-ui-select__indicators {
		height: inherit;
	}
}

.doc_header {
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.doc_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 20px;
	margin: 8px 0;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.doc_text {
	font-size: 12px;
	font-weight: 400;
}

.link_text {
	font-size: 10px;
	font-weight: 500;
	color: #034afd;
	text-decoration-line: underline;
	cursor: pointer;
}

.checkbox_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	font-size: 12px;

	.checkboxLabel {
		margin-left: 8px;
		color: #828282;
	}

	.knowMore {
		color: #356efd;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.button_group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.form {
	display: flex;
	flex-direction: column;

	.form-item-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}

	.form-item-label,
	.business-checkbox-label {
		margin-top: 0;
		margin-bottom: 0;
		margin-bottom: 4px;
		font-size: 12px;
		font-weight: 400;
		color: #828282;
	}

	.business-checkbox-label {
		margin-bottom: unset;
	}

	.core-ui-input-root {
		padding: 12px;

		& .core-ui-input-suffix {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}

	.core-ui-select__control {
		height: 40px;
	}

	.err-msz {
		padding-left: 0;
	}

	.input.toUpperCase,
	.toUpperCase input {
		text-transform: uppercase;
	}

	.business-checkbox-label {
		margin-bottom: 0;
	}

	margin-top: 16px;

	.form-lower-label {
		color: #67c676;
	}

	.core-ui-Pills-container {
		margin: -4px;

		& .core-ui-Pills-item {
			margin: 4px;
		}

		& .core-ui-tag-root {
			padding: 4px 8px;
			background-color: #fff;
			border: 1px solid #ddd;
		}
	}

	.input.toUpperCase,
	.toUpperCase input {
		text-transform: uppercase;
	}
}

.lable {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: rgb(130 130 130);
}

.errors {
	min-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.field {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 20px;
			padding: 0;

			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
