.main {
	margin: 0 16px 24px;
}

.back {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.2;
	color: #333;
	letter-spacing: normal;
	cursor: pointer;
}

.back:hover {
	transform: translateY(-1px);
}

.row_back {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: max-content;
	margin-bottom: 16px;

	&.shipment {
		margin-bottom: 0;
	}
}

.header_and_services {
	display: block;

	@media (max-width: _md) {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}
}

.edit_services {
	@media (min-width: _md) {
		display: none;
	}
}

.edit_search_container {
	margin: 16px;

	@media (max-width: _md) {
		display: none;
	}
}

.name_heading {
	font-size: 18px;
}

.search_message {
	margin: 16px;
	font-size: 15px;
	text-align: center;
}

.list_container {
	min-height: 120vh;
}

.org_details {
	display: flex;
	align-items: center;
	margin: 0 16px;
}
