.flex_box{
    display: flex;
    align-items: center;
}

.popover_btn{
    background: #fff;
	padding: 8px 12px;
	color: #d3d3d3;
    border: 1px solid #fff;
	width: 100%;
	justify-content: space-between;
	border-radius: 8px;

	&:hover {
		border: 1px solid #88cad1;
		box-shadow: none;
	}
	&:active {
		background: #fff;
		color: #d3d3d3;
	}

	&.displaySeller {
		color: #333;
	}

	&.errorSellerAddress {
		border: 2px solid red;
	}

}

.text{
    margin: 0 10px;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	color: #333;
	max-width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container{
    width: 300px;
}

.header{
    display: flex;
	justify-content: space-between;
	padding: 8px;
	padding-bottom: 15px;
	margin-bottom: 6px;
	border-bottom: 1px solid #cddbff;
}

.title{
    font-size: 16px;
	font-weight: 500;
	color: #333;
}
.address_container{
    max-height: 333px;
	overflow-y: auto;
}

.card{
    display: flex;
	align-items: center;
	background: #fff;
	padding: 10px 5px;
	border: 1px solid #e7f0ff;
	border-radius: 10px;
	margin: 12px 0;
	cursor: pointer;

	&.selected {
		border: 1px solid #db4634;
		background: #ffebea29;
	}
    &.hover_card {
		&:hover {
			border: 0.5px solid #db4634;
		}
	}
}

.section{
    margin-left: 10px;

    &.info {
		margin-left: 20px;
		width: 88%;
	}
}


.card_text{
    margin: 0;
	font-size: 12px;
	margin: 3px 0;
	color: #333;

	&.org_name {
		font-size: 13px;
		font-weight: 600;
	}

	&.gst {
		color: #6b6d81;
	}

	&.address {
		color: #4b5c6d;
		margin: 12px 0;
        opacity: 0.7;
	}
}

.loading{
	height: 25px;
	width: 265px;
	margin-bottom: 10px;;
}