.flex_box {
	display: flex;
	align-items: center;
}

.popover_btn {
	justify-content: space-between;
	width: 100%;
	padding: 8px 12px;
	color: #d3d3d3;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 8px;

	&:hover {
		border: 1px solid #88cad1;
		box-shadow: none;
	}

	&:active {
		color: #d3d3d3;
		background: #fff;
	}

	&.displaySeller {
		color: #333;
	}

	&.errorSellerAddress {
		border: 2px solid red;
	}
}

.text {
	max-width: 230px;
	margin: 0 10px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.container {
	width: 300px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	padding-bottom: 15px;
	margin-bottom: 6px;
	border-bottom: 1px solid #cddbff;
}

.title {
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.address_container {
	max-height: 333px;
	overflow-y: auto;
}

.card {
	display: flex;
	align-items: center;
	padding: 10px 5px;
	margin: 12px 0;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e7f0ff;
	border-radius: 10px;

	&.selected {
		background: #ffebea29;
		border: 1px solid #db4634;
	}

	&.hover_card {
		&:hover {
			border: 0.5px solid #db4634;
		}
	}
}

.section {
	margin-left: 10px;

	&.info {
		width: 88%;
		margin-left: 20px;
	}
}

.card_text {
	margin: 0;
	margin: 3px 0;
	font-size: 12px;
	color: #333;

	&.org_name {
		font-size: 13px;
		font-weight: 600;
	}

	&.gst {
		color: #6b6d81;
	}

	&.address {
		margin: 12px 0;
		color: #4b5c6d;
		opacity: 0.7;
	}
}

.loading {
	width: 265px;
	height: 25px;
	margin-bottom: 10px;
}
