.container {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;

	@media (min-width: 768px) {
		display: none;
	}
}

.icon_text {
	display: flex;
	align-items: center;
}

.icon_container {
	display: flex;
	cursor: pointer;
}

.heading_container {
	display: flex;
	align-items: center;
}

.heading {
	margin-left: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #2c3e50;
}
