.container {
	display: flex;
	align-items: flex-start;
	width: calc(50% - 24px);
	padding: 18px 15px;
	text-decoration: none;
	border-radius: 4px;
}

.container:hover {
	cursor: pointer;
	background: #f2f6ff;
}

.main {
	margin-left: 16px;
}

.title {
	margin-top: 1px;
	font-size: 18px;
	line-height: 20px;
	color: #333;
}

.description {
	margin-top: 2px;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #ababab;
}

.active {
	display: flex;
	align-items: flex-start;
	align-items: center;
	width: calc(50% - 24px);
	padding: 18px 15px;
	text-decoration: none;
	background: #f2f6ff;
	border-radius: 4px;
}
