.container{
	text-decoration: none;

	width: calc(50% - 24px);
	padding: 18px 15px;
	border-radius: 4px;
    
	display: flex;
	align-items: flex-start;
}
.container:hover {
	background: #f2f6ff;
	cursor:pointer;
}
.main{
	margin-left: 16px;
}

.title{
	font-size: 18px;
	line-height: 20px;
	color: #333333;

	margin-top: 1px;
}

.description{
	margin-top: 2px;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #ababab;
}

.active {
	text-decoration: none;

	width: calc(50% - 24px);
	padding: 18px 15px;
	border-radius: 4px;
    
	display: flex;
	align-items: flex-start;
	background: #f2f6ff;
	align-items: center;
}