.container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	/* padding: 20px; */
	margin-top: 20px;
	background: rgb(255 255 255);
	border-radius: 10px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.container:hover {
	box-shadow: 0 2px 25px rgb(0 0 0 / 10%);
}
