.container {
	display: flex;
	flex-direction: column;

	& .ui-single-date-picker-input-container {
		border-radius: 4px;
	}
}

.box {
	width: 100%;
	padding: 8px;
	margin-bottom: 5px;
	background: #fff;
	border-radius: 4px;

	@media (min-width: 768px) {
		box-shadow: 0 0 10px rgb(0 0 0 / 15%);
	}
}

.container_details {
	&.search-form-container {
		padding: 0;
	}

	.search_form_route_container_col {
		display: none;
	}

	.search_form_search_btn_container_col {
		display: none;
	}

	.search_form_cargo_details_add_services_button {
		display: none;
	}

	.search_form_options_container_col {
		flex: 0 0 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	.search_form_options_container_col__label {
		margin-bottom: 2px;
		font-size: 12px;
		font-weight: 500;
		color: #333;
		text-transform: capitalize;
	}

	.search_form_cargo_details_sub_container.small {
		margin-top: 0;
	}
}

.row {
	display: flex;
}

.text {
	margin-bottom: 2px;
	color: #333;
	size: 12px;
}
