.styled_row {
	display: flex;
	flex-direction: row;
	margin: 10px 14px 0;
	margin-left: 18px !important;
}

.styled_col {
	display: flex;
	flex-direction: column;
	padding-left: 0 !important;
}

.remove_icon {
	display: flex;
	align-items: center;
	padding: 4px;
	margin-top: 4px;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.add_icon {
	display: flex;
	align-items: center;
	padding: 4px;
	margin-top: 4px;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.container {
	border-bottom: 1px dashed #a5a5a5;
}

.container:last-child {
	border-bottom: unset;
}
