.styled_row {
	display: flex;
	flex-direction: row;
	margin: 10px 14px 0;
	margin-left: 18px !important;
}

.styled_col {
	display: flex;
	flex-direction: column;
	padding-left: 0 !important;
}

.remove_icon {
	display: flex;
	align-items: center;
	margin-left: 5px;
	cursor: pointer;
}

.addIcon {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
}

.container {
	border-bottom: 1px dashed #a5a5a5;
}

.container:last-child {
	border-bottom: unset;
}
