.container{
    width: 100%;
    display: flex;
}

.bottom_text{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 12px;
  }
  
  .text1{
    color:#ABCD62 ;
    padding-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .text2{
    background: #FFFFFF;
    border-radius: 40px;
    padding: 3px 16px
  }
  