.container {
	display: flex;
	width: 100%;

	@media (max-width: 760px) {
		flex-direction: column;
	}
}

.bottom_text {
	display: flex;
	justify-content: center;
	width: 50%;
	padding: 12px;
	font-size: 12px;

	@media (max-width: 760px) {
		width: 100%;
	}
}

.text {
	padding-left: 5px;
}

.text1 {
	display: flex;
	align-items: center;
	padding-right: 30px;
	color: #abcd62;
}

.text2 {
	padding: 3px 16px;
	background: #fff;
	border-radius: 40px;

	@media (max-width: 760px) {
		width: 220px;
	}
}

.text3 {
	display: flex;
	align-items: center;
	padding-right: 30px;
	color: #ee3425;
}
