.container {
	display: flex;
	align-items: center;
	min-height: 60px;
	padding: 10px;
}

.conversion {
	max-width: 75px;
	margin-left: 10px;
	overflow: hidden;
	font-size: 10px;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.balance {
	display: flex;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #f4b746;
}

.amount {
	margin-left: 6px;
	font-size: 14px;
	font-weight: 400;
	font-weight: 700;
	line-height: 16px;
	color: #f4b746;
}

.edit_container {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin-right: 4px;

	.icon {
		cursor: pointer;
	}
}
