.h1 {
	font-size: 20px;
	line-height: 30px;
	color: #221f20;
}

.container {
	width: 100%;
	height: 450px;
	padding: 120px;
	text-align: center;
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 7px rgba (163, 177, 198, 0.6), -2px -2px 7px rgba (255, 255, 255, 0.5);

	@media screen and (max-width: 767px) {
		padding: 20px;
	}
}

.drillDwn {
	width: 100%;
	height: 80% !important;
	height: 450px;
	padding: 120px;
	margin: auto;
	text-align: center;
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 7px rgba (163, 177, 198, 0.6), -2px -2px 7px rgba (255, 255, 255, 0.5);

	@media screen and (max-width: 767px) {
		padding: 20px;
	}
}

.h2 {
	font-size: 16px;
	font-weight: 400;
	color: #bbc8d0;
}
