.container {
  margin-top: auto;
}

.main {
  padding-top: 16px;
  background: #f2f6ff;
}

.sub_text {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
  text-align: center;
}

.submit {
  font-weight: 600;
  font-size: 25px;
  line-height: 21px;
  text-align: center;
  color: #ffffff !important;
  min-height: 72px;
  width: 100%;
  text-transform: initial;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #2c3e50;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
