.container{
    margin: 30px 0;
}

.loading_container{
    img{
        margin: auto;
        display: block;
        width: 200px;
        height: 100px
    }
}
.scroll_content{
    overflow: scroll;
	scroll-behavior: smooth;
    width: 97%;
    &::-webkit-scrollbar {
		display: none;
	}
}
.card_container{
    display: flex;
    width: fit-content;
}