
.icon_container{
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.txt {
	margin: 0;
    text-align: center;
}

.footer {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin: 20px 30px 20px;

	&.iconContainer {
		border: 1px solid;
		padding: 5px;
		width: 43px;
		height: 43px;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
	}
	
	.no {
		svg{
				color:red;	
		}
	}

	.yes {	
			svg{
					color:#4bb543;
			}
		
	}
}
