.container {
	padding: 16px;

	@media (max-width: 768px) {
		padding: 0;
	}
}

.list {
	padding-left: 16px;
	margin: 0;
	text-align: justify;
}

.item {
	margin-bottom: 2px;
	font-size: 12px;
	line-height: 14px;
	color: #333;
}
