.styled_tip{
	padding: 6px 8px;
	/* background: #fff; */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	align-items: center;
	transition: all 0.3s ease 0s;
	background-color: #070101;
	opacity: .8;
	color: #fff;
    -webkit-tap-highlight-color: transparent;
}
.line{
    padding: 10px;
}
.data{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text{
	color: #959da5;
}
.horizontal1{
    border: 1px solid #f47560;
}
.horizontal2{
	border: 1px solid red;
}
.horizontal3{
    border: 1px solid #f1e15b;
}
.chart_container{
	margin-top: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	@media screen and (max-width: 767px) {
		max-width: 800px;
   		overflow-x: scroll;
	}

}

.chart{
	height: 370px;
	width: 100%;
	/* box-shadow: #959da5; */
	padding-top: 20px;
	@media screen and (max-width: 767px) {
		/* width: 500px !important;
		height: 500px !important;
		overflow-x: scroll; */
		width: fit-content;
	}
}

.legend{
	padding: 10px;
	display: flex;
	flex-direction: row;
	/* align-items: flex-end; */
	gap: 50px;
}
.circle1{
	height: 10px;
	width: 10px;
	background-color: #f1e15b;
	border-radius: 50%;
}
.circle2{
	height: 10px;
	width: 10px;
	background-color: red;
	border-radius: 50%;
}
.circle3{
	height: 10px;
	width: 10px;
	background-color: #f47560;
	border-radius: 50%;
}
.legend_list{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}
.legend_text{
	margin-left: 4px;
}