.filter_container{
    display: flex;
	align-items: start;
}
.filter_button{
    width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #cbcff5;
	border-radius: 4px;
	padding: 4px;
	height: 24px;
	width: 25.26px;
}
.filter_button:hover {
    cursor: pointer;
}
.filters{
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
}
.filterbg{
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f2f2f2;
	border-radius: 4px;
	padding: 3px 5px 3px 11px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.filter_text{
	height: 12px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	color: #393f70;
}