.icon_container {
	display: none;
	height: 13px;
	text-align: center;
	border: 0.5px solid #333;
	border-radius: 50%;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.fav_icon {
	padding: 6px 6px 0;
	margin-right: 6px;
	cursor: pointer;
	background: #e0e0e0;
	border-radius: 5px;
}

.text {
	color: rgb(246 139 33) !important;
	cursor: pointer;

	@media screen and (max-width: 767px) {
		display: none;
	}
}
