.flex {
	display: flex;
}

.rate {
	display: flex;
	justify-content: space-between;
	padding: 4px 0px;
	&.final {
		border-bottom: 1px solid rgb(242 226 195);
	}
}

.tool_tip_container {
	max-width: 250px;
	font-weight: 300;
	font-size: 12px;
}

.info_icon {
	margin-left: 5px;
	width: 10px;
	height: 10px;
	align-items: center;
	cursor: pointer;
}
.red{
	color: #f00;
	font-weight: 500;
}