.section {
	padding: 0 16px;
}

.heading_bq {
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.service_container {
	margin-bottom: 20px;
	border: 1px solid rgb(242 227 195);
	border-radius: 6px;
}

.flex_row {
	display: flex;
	align-items: center;
	padding: 16px 30px;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	color: #000;
	letter-spacing: 0.02em;
	border-bottom: 1px solid rgb(242 227 195);
}

.title {
	display: flex;
	padding: 0 30px;
}

.value {
	display: flex;
	flex: 0.3;
	justify-content: center;
}

.showPercent {
	color: #828282;
}

.total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 40px 20px 60px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	background: rgb(253 251 246);
	border-radius: 0 0 4px 4px;

	&.big {
		justify-content: space-between;
		padding: 10px 40px 30px 60px;
		font-size: 18px;
		font-weight: 600;
		color: #000;
		background: none;
	}
}

.total_with_tax {
	display: flex;
}

.inc_of_tax {
	font-size: 18px;
	font-weight: 600;
	color: #828282;
}
