.heading{
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	color: #221f20;
	margin: 10px 0px;
}

.labelText{
	font-size: 14px;
	color: #4f4f4f;
}

.valueText{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #221f20;
	word-wrap: break-word;
	display: flex;
	flex-wrap: wrap;
}

.flexBox{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
}