.container{
    padding-bottom: 8px;
	margin-bottom: 16px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: 1px solid #e0e0e0;
}
.title{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: black;
}
.right{
	display: flex;
	align-items: center;
}