.container{
    padding-bottom: 8px;
	margin-bottom: 16px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: 1px solid #e0e0e0;
}
.title{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: black;
}
.right{
	display: flex;
	align-items: center;
}
.reset{
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	padding: 3px;
}
.reset:hover{
	border-radius: 5px;
	box-shadow:
		rgb(50 50 93 / 25%) 0 2px 5px -1px,
		rgb(0 0 0 / 30%) 0 1px 3px -1px;
}