.icon_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 11.2px;
	margin-right: 8px;
	border-radius: 50%;

	svg {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}
}
