.container {
	float: right;
	margin-top:10px;
	:global {
		.tippy-box {
			display: block;
	  }
}
}

.filter_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-radius: 10px;
	padding: 13px 0px;
	@media (max-width: ${({ theme }) => theme.breakpoints.lg}) {
		width: 100%;
	}
}

.filter_button_Ctn {
	display: flex;
	border: 1px solid #E0E0E0;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
	padding: 15px;
}

.filter_text {
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
	color: black;
}

.filter_icon {
	padding: 8px 0 0 0;
	color: black;
}

.direction_icon {
	padding: 5px 0 0 0;
	color: black;
}

.container1 {
	display: flex;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: 100%;
}

.clear_button_text {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
	padding-left: _s4;
	cursor: pointer;
}

.clear_button {
	border-radius: 4px;
	color: #f75620;
	justify-content: flex-end;
	display: inline-flex;
	width: 100%;
	text-align: center;
	align-items: center;
	padding-right: 17px;
	margin-top: 10px 10px;
	cursor: pointer;
}

.select_date{
	width: fit-content;
}

.select_div {
    width: 100%;
	margin: 0 0 0 7px;
}

.input_title_text {
	font-size: 14px;
	font-weight: 400;
}
