.container {
	padding: 5px 10px;
	border-bottom: 1.5px dashed #cedcea;

	&.remove_line {
		border: none;
	}
}

.input_box_container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 12px;

	:global {
		.ui_buttonicon_container {
			width: 30px;
			height: 30px;
		}
	}
}

.col {
	input {
		background-color: #f3f3f3;
	}
}

.label {
	font-size: 12px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 69%;
	margin-left: 1%;

	.hrborder {
		border: 1px dashed #f68b21;
	}

	.cursor {
		cursor: pointer;
	}
}

.service_container {
	display: flex;
	align-items: flex-start;
	margin-bottom: 3%;

	:global {
		.ui_checkbox_container {
			padding: 0;
		}
	}
}

.service_name {
	font-size: 12px;
}

.validate_icon {
	display: flex;
	align-items: center;
	padding: 4px;

	.validate_text {
		margin-left: 5px;
		font-size: 12px;
		font-weight: 600;
	}
}

.recommend_container {
	width: 200px;
	max-height: 250px;
	overflow-y: auto;

	::-webkit-scrollbar {
		display: none;
	}

	.content {
		padding: 8px;
		margin-bottom: 6px;
		text-align: center;
		cursor: pointer;
		border: 1px solid #d3d3d3;
		border-radius: 8px;
	}
}

.delete_icon {
	cursor: not-allowed;
}
