
.container{
	width: 100%;
	background: #fff;
	padding: 20px 30px;
}

.title{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 18px;
	margin-bottom: 20px;
}

.col {
	padding: 15px 10px; 
}

.flex_col {
	display: flex;
	align-items: center;
	border: 1px solid #d6d6d6;
	padding-right: 10px;
	border-radius: 5px;
}

.freight_charge {
	border: none;
	outline: none;
}

.label {
	font-weight: 300;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.error_txt {
	color: #e63946;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
}

.btn_container{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 25px;
}
.checkout_btn {
	box-shadow: 0px -4px 17px 0px #7c7c7c3b;
	margin-top: 0;
	padding: 20px 22px;
}

.text{
	color: #bbbbbb;
	padding-left: 6px;
	margin-left: 6px;
	border-left: 1px solid #d3d3d3;
}