/* import styled from '@cogoport/front/styled';

export const Container = styled.div`
	width: 100%;
	background: #fff;
	padding: 20px 30px;

	&.payDetails {
		padding-left: 0;
		padding-right: 0;
	}
`;

export const Label = styled.div`
	font-weight: 300;
	margin-bottom: 5px;

	display: flex;
	align-items: center;
	gap: 5px;
`;

export const Col = styled.div`
	padding: 15px 10px;

	.core-ui-input-root.with-prefix.no-stepper {
		width: 14px;

		svg {
			vertical-align: text-top;
		}
	}

	input[type='number'] {
		height: 40px;
	}
	.core-ui-select__menu {
		max-width: 100px !important;
		min-width: 0px !important;
	}

	&.incotermCharges {
		overflow-y: scroll;
		max-height: 320px;
	}

	.flexCol {
		display: flex;
		align-items: center;
		border: 1px solid #d6d6d6;
		padding-right: 10px;
		border-radius: 5px;
		.freightCharge {
			border: none;
			outline: none;
		}
	}
`;

export const Title = styled.div`
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 18px;
	margin-bottom: 20px;
`;

export const BtnContainer = styled.div`
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 25px;
	&.checkoutBtn {
		box-shadow: 0px -4px 17px 0px #7c7c7c3b;
		margin-top: 0;
		padding: 20px 22px;
	}
	.btn {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.loadingBtn {
		cursor: not-allowed;
		opacity: 0.6;
	}
	.spinner {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: radial-gradient(farthest-side, #fff 94%, #0000) top/3.4px 3.4px no-repeat,
			conic-gradient(#0000 30%, #fff);
		-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3.4px), #000 0);
		animation: spinner-c7wet2 0.8s infinite linear;
	}

	@keyframes spinner-c7wet2 {
		100% {
			transform: rotate(1turn);
		}
	}
`;

export const ErrorTxt = styled.div`
	color: #e63946;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
`;

export const Text = styled.div`
	color: #bbbbbb;
	padding-left: 6px;
	margin-left: 6px;
	border-left: 1px solid #d3d3d3;
`; */

.container{
	width: 100%;
	background: #fff;
	padding: 20px 30px;
}

.title{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 18px;
	margin-bottom: 20px;
}

.col {
	padding: 15px 10px; 
}

.flex_col {
	display: flex;
	align-items: center;
	border: 1px solid #d6d6d6;
	padding-right: 10px;
	border-radius: 5px;
}

.freight_charge {
	border: none;
	outline: none;
}

.label {
	font-weight: 300;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.error_txt {
	color: #e63946;
	font-size: 12px;
	font-weight: 400;
	margin-top: 5px;
}

.btn_container{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 25px;
}
.checkout_btn {
	box-shadow: 0px -4px 17px 0px #7c7c7c3b;
	margin-top: 0;
	padding: 20px 22px;
}

.text{
	color: #bbbbbb;
	padding-left: 6px;
	margin-left: 6px;
	border-left: 1px solid #d3d3d3;
}