.container{
	padding: 4px;
	.slider {
		width: 100%;
	}
}

.title{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #333333;
}

.values{
	padding: 4px;
	font-size: 12px;
}

.range{
	display: flex;
	justify-content: space-between;
}

.flex{
	display:flex;
}