.container {
	box-shadow: 0px 12px 44px 0px #14142b57, 0px -2px 4px 0px #14142b1f,
		0px 3px 14px 0px #4a3aff08;
	max-height: 100%;
	overflow: scroll;
	::-webkit-scrollbar {
		display: none;
	}
}

.icon_container {
	margin: 2px 8px;
}

.icon_image {
	width: 130px;
}

.header_container {
	text-align: center;
	padding: 20px;
	.title {
		font-size: 25px;
		font-weight: 500;
		margin-bottom: 12px;
	}
	.subTitle {
		font-weight: 300;
		margin: auto;
		margin-bottom: 12px;
	}
}

.section {
	.heading {
		margin-bottom: 15px;
	}
	.sectionHeading {
		padding: 12px 40px;
	}
	.charges {
		background: #f9f9f9;
		padding: 16px 40px;
		margin-bottom: 28px;
	}
}

.title {
	font-weight: 500;
	font-size: 15px;
}

.line {
	width: 15%;
	height: 2px;
	background: #fbd1a6;
	margin-top: 3px;
}


.dashed_line  {
	border-top: 2px dashed #a4a4a4;
	&.total {
		margin: 0 30px;
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px 0;
	
	.quantity {
		color: #7278ad;
		font-weight: 300;
	}

	&.total {
		font-weight: 500;
		font-size: 16px;
	}
	&.finalTotal {
		font-weight: 500;
		font-size: 16px;
		padding: 0px 40px;
	}
	&.dutiesTotal {
		font-size: 16px;
	}

	.iconContainer {
		margin-bottom: -2px;
	}
}

.btn_container {
	display: flex;
	justify-content: flex-end;
	padding: 20px 33px 20px;
}

.tooltip_container {
	padding: 12px 8px;
	font-weight: 300;
	font-size: 12px;
}

.heading {
	font-weight: 500;
	font-size: 14px;
}

.incoterm {
	font-size: 13px !important;
	margin: 4px !important;
	font-weight: 500 !important;

	.incoterm {
			background-color: #fef1df;
		}
		.mode {
			background-color: #d9eafd;
		}
}

.div {
	display: flex;
	padding: 5px;
}


.styled_tag {
	font-size: 13px !important;
	margin: 4px !important;
	font-weight: 500 !important;

	&.incoterm {
			background-color: #fef1df;
			padding: 2px 6px;
			border-radius: 4px;
		}
		&.mode {
			background-color: #d9eafd;
			padding: 2px 6px;
			border-radius: 4px;
		}
}

.flex{
	display: flex;
}