.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.form_description {
	width: 48%;
	padding: 10px 0 10px 50px;

	@media (max-width: 768px) {
		width: 100%;
		padding: 0;
	}
}

.form {
	width: 48%;
	padding: 10px 50px 10px 0;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}

.form_wrapper {
	width: 100%;
}
