.text_container {
	width: 100%;
	margin: 16px 0;
	line-height: 16px;
	color: #000;
	cursor: pointer;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e0e0e0;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
