.container {
	padding: 24px;
	margin-bottom: 16px;
	background-image: url("/confetti.svg"), ur"/confetti2.svg"vg);
	background-repeat: no-repeat;
	background-position: top left, top right;
}

.title {
	margin: 0 0 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #333;
	text-align: center;
}

.sub_title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	text-align: center;

	.icon {
		margin-right: 8px;
	}
}
