.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	margin: 0 24px 12px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.info_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 4px 12px;
	border-top: 1px solid #e0e0e0;
}

.footer_price_shown {
	display: flex;
	justify-content: space-between;
	padding: 4px 12px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.rates_price {
	font-size: 12px;
	font-weight: 400;
	color: #c26d1a;
}
