.name_container {
	display: flex;
	padding: 16px;
	margin-bottom: 15px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}

.container {
	padding: 10px 0;
}

.value_text {
	margin-top: 3px;
	font-size: 16px;

	@media (max-width: 768px) {
		margin-right: 24px;
		margin-bottom: unset;
	}
}

.avatar {
	margin: 0 5px 5px 0;
}

.kyc_status {
	padding: 2px;
	border-radius: 6px;
}

.verified {
	background-color: #f7faef;
}

.rejected {
	background-color: #fdebe9;
}

.pending {
	background-color: #fffce6;
}
