.graph_data{
    height: 5px;
	/* background: ${({ active }) => active}; */
	/* width: ${(props) => props.percent}%; */
	border-radius: 10px;
	animation: fill-bar 3s;

	@keyframes fill-bar {
		from {
			width: 0%;
		}
		to {
			width: 100%;
		}
	}
}

.side_container{
    display: flex;
	flex-direction: column;
	border: 1px solid #14cf27;
	background: #f7faef;
	color: #14cf27;
	padding: 0px 3px 0px;
	position: absolute;
	right: 6%;
	font-size: 10px;
}

.bar_graph{
    width: 180px;
	height: 5px;
	background: #e0e0e0;
	border-radius: 10px;
	margin: 6px 0px;
}

.bar_graph_container{
    display: flex;
	width: 100%;
	cursor: pointer;
    :global{
        .top {
            width: 100%;
            margin-top: 10px;
        }
    
        .head {
            display: flex;
            margin-bottom: 15px;
        }
    
        .name {
            width: 100px;
            font-size: 13px;
            color: #65677a;
        }
    }
}

