.right_panel {
    height: 100%;
    background-color: #fafafa;
    /* padding-top: ${(props) => props.paddingTop}; */
    /* padding-bottom: 80px; */

    position: relative;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}


.right_panel__header {
    height: 52px;
    background-color: inherit;
    padding: 16px;

    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    @media (min-width: 567px) {
        left: calc(100% - 55%);
    }
}

.right_panel__main {
    padding: 16px;

    @media (min-width: 576px) {
        padding: 32px;
    }

    @media (min-width: 768px) {
        padding: 40px 80px;
    }
}