.container {
	max-height: 70vh;
	overflow-y: scroll;
}

.milestone {
	display: flex;
	margin-bottom: 35px;
}

.stepper {
	position: relative;
	top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10%;

	.dot {
		width: 13px;
		height: 13px;
		margin: 2px auto;
		background-color: #e0e0e0;
		border-radius: 50%;
	}

	.line {
		position: absolute;
		top: 17px;
		left: 48%;
		width: 0;
		height: calc(100% + 16px);
		border-left: 1px solid black;
	}
}

.card_container {
	width: 90%;
}
