.select_row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.row {
	display: flex;
	align-items: center;
}

.div_hs_code {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 10px;
	font-size: 12px;
	color: black;
	white-space: normal;
	cursor: pointer;
	background: #fffef9;
	border: 1px solid #cedcea;
	border-radius: 7px;
}

.div_hs_code:hover {
	border: 0.5px solid #db4634;
}

.code {
	font-weight: 500;
}

.desc {
	margin-left: 10px;
}

.hs_code {
	width: 8%;
}

.hs_desc {
	width: 92%;
}

.hs_code_mobile {
	width: 30%;
}

.hs_desc_mobile {
	width: 70%;
}

.end_align_div {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}

.style_tag {
	display: inline-flex;
	height: fit-content;
	padding: 2px 6px;
	font-size: 12px !important;
	color: white !important;
	background-color: rgb(53 110 253);
	border: 1px solid rgb(242 242 242);
	border-radius: 4px;
}
