/* import animate, { fadeIn } from '@cogoport/front/animate'; */
.rejected_label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 24px 0;
	margin-bottom: 12px;
	background: #fbe6e6;
	border: 1px solid #cb6464;
	border-radius: 4px;
}

.header {
	display: flex;
}

.rejected_text {
	font-size: 20px;
	font-weight: 600;
	color: #cb6464;
}

.rejected_sub_text {
	align-self: center;
	margin-left: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #cb6464;
}

.rejection_reason {
	margin-top: 4px;
	font-size: 10px;
	color: #4f4f4f;
}

.item_container {
	position: relative;
	padding: 16px 24px;
	margin-bottom: 16px;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}

.iotem_stroke {
	position: absolute;
	top: 10px;
	left: 0;
	width: 6px;
	height: 32px;
	background-color: #356efd;
	border-radius: 0 4px 4px 0;
}

.item_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.text {
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.flex {
	display: flex;
}

/* .fadeIn = animate({
	enter: {
		...fadeIn,
		easing: 'easeInOutQuad',
		duration: 300,
	},
})
} */
