.container {
	width: 100%;
	margin-bottom: 24px;

	/* max-height: 400px;
  overflow-y: scroll; */

	:global {
		.ui_chips_container {
			flex-wrap: wrap;
		}

		.ui_ps_size_sm {
			min-width: 67px;
		}

		.ui_input_number_suffix {
			width: 24%;
		}
	}

	&.nomargin {
		margin-bottom: 0;
	}

	&.error {
		box-sizing: border-box;
		padding: 10px 8px;
		background: #fef9f9;
		border: 1px solid #cb6464;
		border-radius: 4px;
	}
}

.small_input {
	input {
		height: 18px !important;
	}
}

.medium_input {
	input {
		height: 22px !important;
	}
}

.no_margin {
	margin-bottom: 0;
}

.error {
	box-sizing: border-box;
	padding: 10px 8px;
	background: #fef9f9;
	border: 1px solid #cb6464;
	border-radius: 4px;
}

.lower_label {
	display: inline-block;
	margin-top: _s2;
	font-size: 10px;
	line-height: 20px;
	color: #adadad;
}

.label {
	display: flex;
	align-items: center;
	margin: 12px 0 8px;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: #4f4f4f;
	color: #393f70;
	text-overflow: ellipsis;
	white-space: nowrap;

	.sub_label {
		margin-left: 4px;
		font-weight: normal;
	}
}

.text {
	position: relative;
	justify-content: flex-end;
	margin: 0;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	color: #cb6464;
	text-align: right;
	letter-spacing: 0.02em;

	&.error_msg {
		display: none;
	}
}
