.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 0 -35px;
	background: linear-gradient(180deg, #faf6ef 0%, #fff1d5 100%);

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.premium {
	margin: 0 5px;
	color: #ee3425;
}

.text_container {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		padding: 5px;
	}
}

.text {
	margin: 0 5px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 8px;
	background: #ffd5cc;
	border-radius: 6px;
}

.message {
	font-size: 18px;
	font-weight: 600;
}
