.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 12px;
	border-bottom: 1px solid #f8f2e7;
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 16px 12px;
	border-bottom: 1px solid #f8f2e7;
}

.list {
	display: flex;
	align-items: center;
	width: 950px;
	max-width: 1000px;
	overflow: hidden;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none;
	}
}

.text {
	width: 150px;
	min-width: 150px;
	padding: 0 8px;
	font-size: 12px;
	text-transform: uppercase;
}

.icon_check {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 7%;

	:global {
		.ui_checkbox_container {
			padding: 0;
		}
	}
}

.icon {
	width: 1%;
}
