.transport_container{
    padding:20px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .title{
        margin: 0;
    }
}

.col{
    margin-bottom: 12px;
}

.label{
    font-size: 13px;
}
