.container {
	width: 85%;
	padding: 25px 20px;
}

.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.faqs_container {
	width: 100%;
	padding: 0 15px;
	margin-top: 15px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);

	& > :last-child {
		border-bottom: unset;
	}
}

.empty_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #bdbdbd;
}

.search_icon {
	width: 7%;
	height: 7%;
	fill: #a4a4a4;
}

.mobile_empty_container {
	flex-direction: column;
}

.mobie_search_icon {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}
