.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	padding: 12px;
	margin-bottom: 8px;
	cursor: pointer;
	background: #ffff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(98, 127, 172, 20%);
}

.content:hover {
	background-color: #fdfbf6;
}

.active_card {
	background: #fdfbf6;
}

.left_div {
	display: flex;
	flex-direction: column;
	width: 90%;

	@media (max-width: 768px) {
		width: 80%;
	}
}

.right_div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;

	@media (max-width: 768px) {
		width: 20%;
	}
}

.name {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.address {
	margin-top: 4px;
	font-size: 14px;
	color: #4f4f4f;
}
