.container {
	position: fixed;
	right: 10px;
	z-index: 100;
}

.assistance_icon {
	width: 28px;
	height: 28px;
	margin-top: 4px;
	margin-right: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 100%;
}
