/* stylelint-disable selector-class-pattern */
.form {
	display: flex;
	align-items: center;
	background: linear-gradient(180deg, #faf6ef 0%, #fff1d5 100%);
	border-radius: 9px;

	@media (max-width: 767px) {
		flex-direction: column;
		width: 100%;
		background-color: transparent;
	}
}

.search_container {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
		width: 100%;
	}
}

.selectcontainer {
	@media (max-width: 767px) {
		width: 100%;
		margin-bottom: 8px;
	}

	:global {
		.ui_select_container {
			@media (max-width: 767px) {
				width: 100%;
			}
		}

		.ui_popover_container {
			max-width: fit-content !important;
		}

		.ui_select_input_placeholder {
			color: #434343;
		}

		.ui_select_display_container {
			height: 45px !important;
			border-color: transparent;

			.ui_lGCcT {
				display: none;
			}
		}
	}
}

.arrows {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4px 8px;
	cursor: pointer;
	border-radius: 6px;

	&:hover {
		background-color: #fef199;
		transition: background-color 0.2s ease-in-out;
	}

	&:active {
		background-color: #f68b21;
		transition: background-color 0.2s ease-in-out;
	}

	@media (max-width: 767px) {
		align-items: center;
		margin-bottom: 8px;
		transform: rotate(90deg);
	}
}

.gtm_track_buttonicon {
	margin: 0 4px;
	border-radius: 9px;

	@media (max-width: 767px) {
		margin-top: 8px;
		margin-left: 0;
	}
}

.gtm_track_search {
	width: 28px;
	height: 25px;
}

.divider {
	width: 0;
	padding: 20px 0;
	margin-right: 4px;
	margin-left: -4px;
	border-left: 1px solid #d2d2d2;

	@media (max-width: 767px) {
		display: none;
	}
}

.details_container {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-left: 10px;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		& > div {
			width: 100%;
			margin-bottom: 4px;
		}
	}

	:global {
		.tippy-content {
			padding: 8px;
		}

		.ui_button_container.ui_ps_size_lg {
			min-width: 50px;
			height: 42px;
			padding: 0;

			@media (max-width: 767px) {
				width: 100%;
				min-width: 250px;
			}
		}

		.ui_popover_container {
			width: fit-content;
		}
	}
}

.tab {
	width: fit-content;
	border-radius: 9px;
	box-shadow: 0 0 20px rgb(153 153 153 / 20%);
}

.content {
	display: flex;
}

.minus,
.plus {
	width: 20px;
	height: 20px;
	color: #fedc01;
	cursor: pointer;
}

.input_number {
	width: 60px;
	border: none;
}

.input_count {
	width: 80px;
	height: 40px;

	@media (max-width: 767px) {
		width: 100%;
	}

	:global {
		.ui_input_number_control {
			font-size: 16px;
			text-align: center;
		}
	}
}

.select {
	width: 100px !important;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.count_container {
	padding: 12px 8px 0;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;

		p {
			width: 100%;
			margin-bottom: 8px;
			word-break: break-word;
			white-space: initial;
		}
	}
}

.count {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;

	:global {
		.ui_input_number_control {
			font-size: 16px;
			text-align: center;
		}
	}
}

.input_content {
	width: 270px;
	height: 60px;
	border-color: transparent;

	&:hover {
		border-color: #f68b21 !important;
	}

	@media (max-width: 767px) {
		width: 100%;
	}

	:global {
		* {
			cursor: pointer;
		}

		.ui_input_control {
			font-size: 16px;
		}
	}
}

.container {
	@media (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.error {
	position: absolute;
	margin-top: 4px;
	margin-left: 28px;
	font-size: 14px;
	color: red;

	@media (max-width: 767px) {
		margin-left: 0;
	}
}

.search_container_error {
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
}
