.container {
	padding: 16px;
	margin-bottom: 16px;
	background-color: #d9e5fc;
	border-radius: 10px;
}

.title {
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #1a4696;
}

.description {
	margin: 0 0 16px;
	font-size: 12px;
	line-height: 16px;
	color: #1a4696;
}

.action {
	display: block;
	padding: none;
	margin-left: auto;
	font-size: 14px;
	font-weight: 750;
	line-height: 18px;
	color: #1a4696;
	text-align: right;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;

	:hover {
		text-decoration: underline;
	}
}

.action_container {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	color: #1a4696;
	text-align: right;
}
