.detail_container {
	margin-bottom: 20px;
	border: 2px solid #eceff8;
	border-radius: 4px;
}

.poc_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 40px;
	padding: 6px 12px;
	margin-bottom: 16px;
	font-weight: 600;
	background: #eceff8;
}

.poc_details_container {
	display: flex;
	flex-direction: column;
	margin: 16px;
}

.poc_details_header {
	display: flex;
	height: 35px;
	padding-bottom: 10px;
}

.company_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
}

.details {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #5c6186;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	border-top-right-radius: 4px;
}

.icon_container {
	padding: 12px;
	cursor: pointer;

	@media (max-width: 768px) {
		padding: 4px;
	}
}

.address_details {
	display: flex;
	justify-content: space-between;
	padding: 0 8px;
	margin-bottom: 8px;
	font-weight: 500;
	border-radius: 4px;
}

.poc_list_container {
	margin-top: 4px;
}

.poc_detail {
	max-height: 400px;
	overflow: auto;
}
