.container {
	:global {
		.ui-date-range-picker-input-container {
			height: 40px;
			border-radius: 4px;

			:hover {
				border: 1px solid #333;
				border-radius: 4px;
			}
		}

		.core-ui-input-control {
			font-size: 14px;
		}

		.core-ui-input-root {
			&:focus-within {
				box-shadow: none;
			}
		}

		.size-md {
			height: 38px !important;
		}
	}
}
