.menu_container {
	display: flex;
	justify-content: space-between;
	padding: 12px 24px;
	background: #fff;
}

.border_bottom {
	margin: 0 8px;
	border-bottom: 1px solid #e0e0e0;
}

.container {
	margin: 0 -12px;
}

.logout_text {
	font-size: 16px;
	color: #ef9b9b;
}

.logout_container {
	display: flex;
	padding: 12px;
}

.main_container {
	padding-top: 24px;

	@media (min-width: 768px) {
		display: none;
	}
}
