.user_chat {
	width: fit-content;
	max-width: 70%;
	padding: 10px;
	color: #4f4f4f;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
}

.time_stamp {
	width: 100%;
	margin-top: 7px;
	font-size: 8px;
	text-align: right;
}
