.container {
	display: flex;
	align-items: center;
	padding: 10px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.profile_text {
	display: flex;
	justify-content: center;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.text_box {
	padding: 28px;
}

.head_text {
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: 600;
}

.now {
	display: flex;
	gap: 2px;
	align-items: center;
	order: 1;
	text-align: center;
	text-decoration-line: underline;
	cursor: pointer;
}
