.main_container {
	padding: 4px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgb(190 209 237 / 65%);

	@media (max-width: 768px) {
		all: unset;
		margin: 0 -12px;
		background: #fff;
	}
}

.header_container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid #cddbff;

	@media (max-width: 768px) {
		display: none;
	}
}

.content {
	display: flex;
	flex-direction: column;
	padding: 32px;

	@media (max-width: 768px) {
		padding: 12px 4px;
	}
}

.header_text {
	font-size: 16px;
	font-weight: 500;
	color: #2c3e50;
}

.details_container {
	display: flex;
	width: 100%;
	margin-bottom: 36px;

	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 0;
	}
}

.label_text {
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 400;
	color: #828282;

	@media (max-width: 768px) {
		margin-bottom: unset;
	}
}

.value_text {
	font-size: 16px;
	font-weight: 600;
	color: #2c3e50;
}

.about_container {
	display: flex;
	flex-direction: column;

	@media (max-width: 767.99px) {
		padding: 0 12px 12px;
	}
}

.sub_container {
	display: flex;
	flex-direction: column;
	width: 25%;

	@media (max-width: 768px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0 12px 12px;
		margin-bottom: 16px;
		border-bottom: 1px solid #f2f2f2;
	}
}

.tag_container {
	position: absolute;
	top: -24px;
	left: 0;
	padding: 6px 16px;
	font-size: 10px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: #356efd;
}

.description {
	padding: 16px;
	font-size: 12px;
	border: 1px solid #cddbff;
	border-radius: 4px;
}

.toggle_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.core-ui-toggle-control-container {
	margin: 0 6px;
	background: #2c3e50 !important;
}

.core-ui-toggle-root {
	font-size: 16px;
	letter-spacing: 0.04em;
}

.flex {
	display: flex;
	justify-content: flex-end;

	svg {
		width: 16px;
		height: 16px;
		margin-right: 12px;
		cursor: pointer;
	}

	@media (min-width: 768px) {
		display: none;
	}
}
