.container {
	padding: 18px 45px;
	margin-top: 30px;
	border-top: 2px solid #ffc906;

	@media screen and (max-width: 767px) {
		font-size: 10px;
	}
}

.row {
	display: flex;
	justify-content: center;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.col {
	padding: 5px 30px;
	color: #838383;
	border-right: 1px solid #838383;

	&.last_child {
		border: none;
	}

	@media screen and (max-width: 767px) {
		padding: 5px 15px;
		border: none;
	}
}
