.cross_icon {
	cursor: pointer;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}

.header_text {
	font-size: 16px;
	font-weight: 700;
	color: #2c3e50;
	text-transform: uppercase;
}

.search_div {
	display: flex;
	justify-content: space-between;
	min-width: 300px;
	padding: 20px 12px;
}

.apply_btn {
	margin-left: 12px;
}

.search_coupon {
	width: 250px;
}

.banner {
	width: 500px;
	height: 200px;
	box-shadow: linear-gradient(180deg, rgb(17 57 95 / 0%) 26.59%, #021220 88.04%);
}

.coupons_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px 12px;
}

.name_tag {
	min-width: 100px;
	max-width: 150px;
	padding: 4px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	background: #f7755f;
	border-radius: 0 6.5px 6.5px 0;
}

.description {
	/* display: flex; */
	margin: 2px 0 8px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 600;
	color: #6fa5ab;
	text-overflow: ellipsis;
	text-transform: uppercase;
	-webkit-line-clamp: 2;
}

.background_image {
	width: 100%;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.wrapper .name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper .coupons {
	padding: 12px 16px;
}

.wrapper .button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 10px;
}

.wrapper .name_tag {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.wrapper .terms {
	font-size: 10px;
	color: #034afd;
	cursor: pointer;
}

.wrapper .coupon_offer {
	display: flex;
}

.wrapper .coupon {
	display: flex;
	align-items: baseline;
}

.wrapper .flat {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.wrapper .text {
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	color: #6fa5ab;
	text-transform: uppercase;
}

.wrapper .conditions {
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	color: #034afd;
	text-decoration-line: underline;
}

.wrapper .code {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	color: #221f20;
}

.wrapper .lable {
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}

.wrapper .coupon_text {
	width: 100%;
	padding-left: 20px;
}

.empty_state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.list {
	padding: 2px;
	font-size: 10px;
}

.list_wrapper {
	padding-left: 18px;
}

.offer {
	display: flex;
	align-items: baseline;
	justify-content: center;
	padding-left: 4px;
	font-size: 24px;
	font-weight: 600;
	color: #bf291e;
	text-align: center;
	text-transform: uppercase;
}

.offer .off {
	padding-left: 4px;
	margin-left: 2px;
	font-size: 13px;
	font-weight: 600;
	color: #828282;
}

.coupon_image {
	width: 75px;
	height: auto;
	border: 1px solid #f68b21;
	border-radius: 5px;
}

.coupon_image_container {
	display: flex;
	align-items: center;
}

.holes_lower {
	position: relative;
	margin: 2px 28px 12px;
	border: 1px dashed #fbd1a6;
}

.holes_lower::after {
	top: -12px;
	left: 339px;
	clip-path: inset(-5px 10px -5px -5px);
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.holes_lower::before .holes_lower::after {
	position: absolute;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-color: #fbfbfc;
	border-radius: 50%;
}

.holes_lower::before {
	top: -12px;
	left: -41px;
	clip-path: inset(-5px -5px -5px 10px);
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}
