.container {
	padding: 8px 12px;

	:global {
		.ui_input_control,
		.ui_input_number_control {
			background-color: #f4f4f4;
		}
	}
}

.styled_row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 12px;
}

.hr {
	border-bottom: 1px solid #c3d1df;
}

.row {
	display: flex;
	flex-direction: row;
}
