.container {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 0 12px;
}

.styledRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;

	.core-ui-select-root {
		width: 130px;
	}
}

.hr {
	border-bottom: 1px solid #c3d1df;
}

.row {
	display: flex;
	flex-direction: row;
}
