.message_styles {
    word-break: break-word;
}

.media_container {
    display: block;
	cursor: pointer;
}

.styled_audio {
    max-width: 100%;
	max-height: 250px;
}

.styled_video {
    max-width: 100%;
	max-height: 250px;
}

.styled_image {
    max-width: 100%;
	max-height: 250px;
}