.over_flow_wrapper {
	width: 45%;
	max-height: 240px;
	padding: 32px 0 0 8px;
	overflow-y: auto;
}

.title {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;

	&.space_bottom {
		padding-bottom: 4px;
	}
}

.amount {
	margin-left: 6px;
	font-weight: 700;
}

.color_dot {
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border-radius: 50%;
}
