.container {
	padding: 8px 10px;
	color: #000;
	background: #fef9f9;
	border: 1px solid #cb6464;
	border-radius: 4px;
}

.title {
	margin-bottom: 2px;
	font-size: 16px;
	line-height: 19px;
}

.description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 16px;
}

.action {
	padding: 4px 6px;
	margin-left: 8px;
	font-size: 10px;
	line-height: 14px;
	color: black;
	text-decoration: none;
	white-space: nowrap;
	background: white;
	border: 1px solid black;
	border-radius: 4px;
}
