.line {
	margin: 0 12px;
	border-top: 1px solid #e5e5e5;
}

.route_div {
	padding: 15px 16px 25px;
}

.text_head {
	font-size: 16px;
	color: #e84855;
}

.text_div {
	padding: 6px 39px 0;
}

.billing {
	padding: 5px 0px;
	margin: 0px 0px 8px 0px;
}

.route {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.left {
	margin: -4px -6px;
}

.txt {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
}

.port {
	position: relative;
	width: 120px;
	text-align: center;
}

.origin_style {
	right: 50px;
}

.destination_style {
	left: 50px;
}

.incoterm {
	padding: 3px 6px;
	font-size: 10px;
	font-weight: 400;
	background: #ced1ed;
	border-radius: 4px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dot {
	flex: 1;
	border-bottom: 2px solid #cfeaed;
}

.dot_div {
	bottom: 20.4px;
	width: 8px;
	height: 8px;
	background: #88cad1;
	border-radius: 50%;
}

.route_text {
	display: flex;
	justify-content: space-between;
}

.port_text {
	font-size: 14px;
	font-weight: 500;
	color: #2c3e50;
}
