.container {
	padding: 16px;
	margin-bottom: 16px;
	background: #fff;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);

	.core-ui-button-root.primary.md.add-invoicing-text {
		width: 100% !important;
		padding: 12px !important;
		margin-left: 0 !important;
		font-size: 16px;
		font-weight: 600;
		color: #9ab7fe !important;
		background-color: #fff !important;
		border: 1px dashed #9ab7fe !important;
	}
}

.header {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.title {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 26px;
	color: #333;
}

.selected_address_list_container {
	margin-bottom: 16px;
}

.add_invoicing_party_button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 12px;
	font-size: 16px;
	font-weight: 600;
	color: #9ab7fe;
	text-transform: capitalize;
	cursor: pointer;
	background-color: #fff;
	border: 1px dashed #9ab7fe;
	border-radius: 4px;

	&:disabled {
		color: #dfe1ef;
		cursor: not-allowed;
		border: 1px dashed #dfe1ef;
	}
}
