.hscode {
    width: 20%;
    @media screen and (max-width: 767px) {
        width: 20%;
    }
}

.hsdesc {
    width: 70%;
    @media screen and (max-width: 767px) {
        width: 70% !important;
        margin-left: 12px;
        padding-right: 5%;
    }
}


.add {
    width: 20%;
    @media screen and (max-width: 767px) {
        width: 6%;
    }
}

.row{
	padding: 14px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	border-top: 0.5px solid #cccccc;
	border-bottom: 0.5px solid #cccccc;
	@media screen and (max-width: 767px) {
		padding: 10px;
	}
	width: 100%;
    letter-spacing: 0.02em;
    line-height: 1.43;
}