.contractName {
	margin-right: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #404e65;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.section_one {
		margin-bottom: 10px;
	}
}

.left {
	display: flex;
	align-items: center;

	svg {
		width: 20px;
		height: 20px;
	}

	@media (max-width: 768px) {
		display: block;
	}
}

.right {
	display: flex;
	align-items: center;
}

.service_name {
	margin-left: 3px;
	font-size: 16px;
	font-weight: 500;
	color: #828282;
}

.tag {
	display: flex;
	width: fit-content;
	padding: 2px 8px;
	margin: 0 6px;
	font-size: 12px;
	font-weight: 500;
	color: #344054;
	background: #f2f4f7;
	border-radius: 16px;
}

.container {
	padding: 16px;
	margin: 0 -16px;
	background: #fff;
	box-shadow: 0 15px 10px -15px rgb(98 127 172 / 20%);
}

.validity {
	font-size: 14px;
	color: #333;

	span {
		margin-left: 10px;
		font-weight: 500;
		color: #ed3726;
	}
}

.contract_info {
	display: flex;
	align-items: center;
	padding-right: 5px;
	margin: 10px 15px 0 0;
	border-right: 1px solid #dfe1ef;

	:last-child {
		border-right: none;
	}
}

.contract_status {
	display: flex;
	width: fit-content;
	padding: 2px 8px;
	margin: 0 6px;
	font-size: 12px;
	font-weight: 500;
	color: #344054;
	background: #fff7df;
	border-radius: 6px;
}

.custom_tag {
	max-width: 400px;
	padding-right: 10px;
	margin-right: 8px;
	overflow: hidden;
	font-size: 20px;
	font-weight: 600;
	color: #404e65;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px solid #cbcff5;
}

.status {
	padding: 2px 8px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #2c3e50;
	background: #f2f4f7;
	border-radius: 4px;

	&.contract_source {
		background: #f2f4f7;
	}

	&.active {
		background: #efffef;
	}

	&.pending_approval {
		background: #fef3e9;
	}
}

.service_icon {
	display: flex;
	padding: 4px;
	border: 0.5px solid #e0e0e0;
	border-radius: 100%;
}

.icon {
	margin-right: 10px;
	cursor: pointer;
}

.icon:hover {
	transition: 0.5s ease;
	transform: scale(1.2);
}
