.header {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;

	:global {
		.bold {
			font-weight: 700;
			color: #221f20;
		}
	}
}

.dates_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px 0;
}

.date_container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	font-size: 12px;
	font-weight: 600;
	color: #221f20;

	:global {
		.span {
			font-size: 12px;
			font-weight: 400;
			color: #221f20;
			text-align: center;
		}
	}
}

.main_pill_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.steps_container {
	width: 100%;
	padding: 0 20px;
}
