.container {
  min-width: 400px;
  padding: 6px 6px;
  :global {
    .form-item-label {
      margin: 12px 0;

      font-weight: 500;
      font-size: 12px;
      color: #393f70;
    }

    .core-ui-select__control {
      background: #ffffff;
      border: 1px solid #cbcff5;
      border-radius: 4px;
    }

    .core-ui-select-root {
      max-height: 32px;
    }

    .form-item-label {
      margin-top: 20px;
    }
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  color: #393f70;
}
.button_container {
  width: 100%;
  margin-top: 24px;

  display: flex;
  justify-content: flex-end;
  :global {
    .core-ui-button-root {
      margin-left: 12px;
    }
  }
}
