.container{
    display: flex;
	align-items: center;
	margin-left: 4px;
}
.label{
    margin-right: 2px;

	font-weight: 400;
	font-size: 10px;
	color: #cb6464;
}

.kyc_verified {
    color: #67c676;
    margin-right: 2px;

	font-weight: 400;
	font-size: 10px;
	color: #cb6464;
}

.kyc_pending {
    color: #d99a3a;
    margin-right: 2px;

	font-weight: 400;
	font-size: 10px;
	color: #cb6464;
}