.order_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #bdbdbd;

	&:hover {
		background-color: #fdfbf6;
	}
}

.order_description {
	display: flex;
	align-items: center;
}

.order_image img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 6px;
}

.order_desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.order_value {
	font-weight: 600;
}

.product_brand {
	font-weight: 500;
	color: #4f4f4f;
}

.product_price {
	display: flex;
	align-items: center;
	padding: 2px 0;
}

.name_phone_input {
	display: flex;
	margin: 20px 0;
}

.input_label {
	margin: 6px 0;
}

.name_input {
	flex: 1;
	margin: 0 8px 0 0;
}

.phone_input {
	flex: 1;
}

.confirm_order_button {
	display: flex;
	justify-content: flex-end;
	margin-top: 36px;
}

.order_price {
	display: flex;
	flex-direction: column;
}

.order_count_update {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.delete_button {
	cursor: pointer;

	@media (max-width: 768px) {
		margin-top: 10px;
	}
}

.total_order {
	display: flex;
	justify-content: flex-end;
	padding: 30px 0;
}

.total_order_value {
	display: flex;
	align-items: center;
}

.total_text {
	margin-right: 10px;
	font-size: 16px;
	line-height: 24px;
}

.select_container {
	width: 150px;
	margin-right: 12px;

	@media (max-width: 768px) {
		width: 100px;
	}
}

.stock {
	margin-top: 5px;
	font-size: 13px;
	color: red;
}
