.container {
	background: #f9f9f9;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 4px;

	@media (max-width: 768px) {
		display: none;
	}
}

.cargo {
	margin: 6px 0 0 8px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 8px 16px;
	margin: 0;
	border-bottom: none;
}
