.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head {
	font-size: 16px;
	font-weight: 700;
	color: #4f4f4f;
}

.text {
	padding: 0 2px;
	font-weight: 500;
}

.text_box {
	width: 70%;
}
