/* .label {
	font-weight: 500;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: #bdbdbd;
}


.styled_row {
	display: flex;
	margin-top: 5px;
	justify-content: space-between;
	margin-left: 0px;
	align-items: center;
	padding: 5px;
}


.styled_row.price_row {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
}

.styled_row.heading {
		align-items: flex-start;
}

.annually_txt {
		color: #a4a2a2;
}




.heading {
	font-weight: 500;
	font-size: 20px;
}


.row2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row2.subheading {
	font-size: 11px;
}


.styled_col {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 0px ;
	margin-right: 0px ;
}

.styled_col_2 {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 0px ;
	margin-right: 0px ;
}



.price {
	display: flex;
	font-weight: 700;
	font-size: 32px;
	align-items: center;
}

.price .perPeriod {
		font-size: 12px;
}




@media screen and (max-width: 768px) {
	.list{
		padding: 12px;
	}
}


@media screen and (max-width: 480px) {
	.list {
		padding: 8px 0;
	}
}

.number {
	font-weight: 500;
	font-size: 14px;
	margin-left: 7px;
}

.text {
	font-weight: 400;
	font-size: 14px;
	margin-left: 3px;
}

.flex {
	display: flex;
	padding: 3px;
	align-items: center;
} */




/* NEW CSS */

.plan_type_heading {
	display: flex;
	align-items: center;
	justify-content: center;
}

.plan_title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.plan_type_icon {
	margin-top: 16px;
	margin-right: 12px;
}

.container {
	position: relative;
	width: 100%;
	padding: 12px 20px;
}

.heading {
	font-size: 20px;
	font-weight: 700;
}

.price {
	display: flex;
	align-items: center;
	font-size: 32px;
	font-weight: 700;
}

.subheading {
	font-size: 12px;
}

.plan_price {
	display: flex;
	justify-content: center;
}

.plan_prev_price {
	display: flex;
	justify-content: center;
	margin-top: 12px;
}

.plan_new_price {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.per_period {
	font-size: 12px;
}

.plan_features {
	display: flex;
	justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.number {
	margin-right: 4px;
	font-size: 14px;
	font-weight: 700;
}

.text {
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}

.flex {
	display: flex;
	align-items: center;
	padding: 3px;
	margin: 2px 0;
}

.annually_txt {
	color: #a4a2a2;
}

.center_div {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 24px 0 16px;
}


.ribbon_wrapper {
	position: absolute;
	top: 0;
	right: -4px;
	display: flex;
	justify-content: flex-end;
}


.crossed_price {
	color: #db4634;
	text-decoration: line-through;
}

.active_div {
	display: flex;
	font-size: 26px;
	font-weight: 400;
	color: #67c676;
}

.tick_icon {
	margin-right: 8px;
}

.active {
	display: flex;
	align-items: center;
	font-size: 26px;
	font-weight: 400;
	color: #67c676;
}

.active_plan {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 24px;
}
