.container{
	padding: 16px;
}

.title{
    font-size: 14px;
	line-height: 16px;
}

.tippy-box {
    max-width: 700px !important;
    border: unset !important;
    border-radius: 8px !important;
    box-shadow: 0 1px 6px rgba(169, 188, 218, 0.65) !important;
    margin-top: 16px !important;
}

.name{
    font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
	margin: 8px 0;
}

.label{
    font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
}

.contact{
    font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline;
	color: #333333;
	cursor: pointer;
	margin-right: 8px;
}

.section{
    margin-bottom: 8px;

}
.link{
    font-size: 12px;
	text-decoration-line: underline;
	cursor: pointer;
}