
.container{
	display: flex;
	flex-direction: column;
	width : 300px;
	margin-left: 20px;
	align-items: center;
}

.heading{
	color: #CB6464;
	font-size: 12px;
}

.points_body{
	font-size: 12px;
	margin : 0;
	margin-left: -20px;
}
.info_container{
	margin: 12px;
	margin-left: -15px;
	margin-top: -8px;
}
