.container{
    background-color: rgb(239, 246, 254);
    padding: 16px 72px 16px 16px;
    border-radius: 8px;
    position: relative;
    color: #000000;
    margin-bottom: 12px;

}

.main_container{
    width: 60%;
}