.container{
	padding: 16px;
	max-height: 500px;
    overflow: scroll;
   :global{
	.ui_modal_header_container {
		padding: 0px;
	}
}
}

.label {
	font-weight: 600;
	font-size: 20px;
	color: #000000;
}

.lineWrapper {
	display: flex;
	justify-content: flex-start;
	width: 11%;
	align-items: center;
}

.line {
	height: 3px;
	border-width: 0;
	background-color: #f68b21;
	flex-grow: 1;
	width: 10%;
}