.container {
	max-height: 500px;
	padding: 16px;
	overflow: scroll;

	:global {
		.ui_modal_header_container {
			padding: 0;
		}
	}
}

.label {
	font-size: 20px;
	font-weight: 600;
	color: #000;
}

.lineWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 11%;
}

.line {
	flex-grow: 1;
	width: 10%;
	height: 3px;
	background-color: #f68b21;
	border-width: 0;
}

.loading_image {
	display: block;
	width: 100px !important;
	height: 100px !important;
	margin: auto;
}
