.container {
	display: flex;
	align-items: center;
	margin-left: 4px;
}

.label {
	margin-right: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}

.kyc_verified {
	margin-right: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #67c676;
}

.kyc_pending {
	margin-right: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #d99a3a;
	color: #cb6464;
}
