.container {
	padding: 16px;
    width: 100%;
}

.header {
    display: flex;
	align-items: center;
}

.icon_container {
    margin-right: 10px;
}

.image {
	vertical-align: middle;
}

.title {
    margin: 0;
	font-weight: 500;
}

.section {
    padding: 20px;
	padding-bottom: 0px;
	font-size: 13px;
    width: 100%;
}

.section_title {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 400;
    padding-right: 20px;
    font-size: 14px;
}

.design {
    flex: 2;
}

.row {
    justify-content: space-between;
	align-items: center;
	display: flex;
    gap: 5px;
	margin: 10px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.checkbox_wrapper {
    display: flex;
	margin: 10px 0px;
	font-size: 14px;
	align-items: center;
}

.gst {
    margin: 0px 3px;
}

.address_type_checkbox_wrapper {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
    margin: 10px 0px;
	font-size: 14px;
}

.address_save {
    font-size: 14px;
    font-weight: 500;
}

.button_container {
    margin-top: 20px;
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	padding: 15px 25px;
	box-shadow: 0px -2px 4px 0px #14142b1f;
}

.error_message {
	font-size: 14px;
	color:#CB6464;
}


.hidden {
    display: none;
}

.display {
    display: block;
    transform: translate(10px, -52px);
    color: #697989 !important;
    opacity: 1 !important;
    position: absolute;
    background-color: white;
    transition: transform 1.4s;
    padding-right: 4px !important;
    padding-left: 4px !important;
}


.field {
    padding: 10px 0px;
    width: 48%;
}