.container {
	height: 100%;
	padding: 20px;
	margin-right: 10px;
	background-image: url("https://cdn.cogoport.io/cms-prod/cogo_app/vault/original/shipping-routes-1536x864 1 (1).png");
	background-repeat: no-repeat;
	background-size: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
	object-fit: contain;
}

.main_container {
	position: relative;
	background: var(--white, #fff);
	border: 1px solid var(--black-20, #e0e0e0);
	border-radius: 4px;

	/* Shadow/SM */
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.text {
	padding: 10px 0 8px 30px;
	font-size: 22px;
	font-weight: 700;
}

.line {
	width: 99px;
	height: 2px;
	margin-bottom: 5%;
	background: #fcdc00;
	border-radius: 40px;
}

.input_box {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: end;
	background-blend-mode: multiply;
	backdrop-filter: blur(8px);
}

.input_container {
	width: 250px;
	margin: 20px;
}

.button_container {
	display: flex;
	justify-content: end;
	margin: 15% 7% 14% 0%;
}

.errors {
	position: absolute;
	margin: -18px 24px;
	font-size: 12px;
	color: #f33;
}
