.container {
	height: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
	object-fit: contain;
}

.main_container {
	position: relative;
	background: var(--white, #fff);
	border: 1px solid var(--black-20, #e0e0e0);
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.text {
	padding: 10px 10px 8px 30px;
	font-size: 22px;
	font-weight: 700;
}

.line {
	width: 99px;
	height: 2px;
	margin-bottom: 5%;
	background: #fcdc00;
	border-radius: 40px;
}

.input_box {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: end;
	background-blend-mode: multiply;
	backdrop-filter: blur(8px);
}

.input_container {
	width: 250px;
	margin: 10px;
}

.button_container {
	display: flex;
	justify-content: end;
	margin: 8% 7% 6% 0%;
}

.button_container:hover {
	:global {
		.ui_button_container {
			background: #ee3425;
		}
	}
}

.errors {
	position: absolute;
	left: 29px;
	margin: -8px 0;
	font-size: 12px;
	color: #f33;
}

.tab_box {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	justify-content: center;
	margin-top: 6px;
}
