.table_card{
    padding: 12px;
    padding-top: 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    max-height: 150px;
    overflow: auto;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}