.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
	box-shadow: 0 8px 20px 0 #476fd31c;
}

@media screen and (max-width: 767px) {
	.container {
		padding: 24px;
		padding-bottom: 50px;
	}
}

.title {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 22px;
	font-weight: 600;
}

.icon {
	vertical-align: middle;
}
