.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: -10px;
	font-size: 12px;
	line-height: 14px;

	@media (max-width: 768px) {
		width: 60%;
	}
}

.item {
	margin-right: 24px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
}

.label {
	font-weight: bold;
	color: black;
}

.value {
	margin-left: 2px;
	color: #828282;
}

.tasks {
	display: flex;
	align-items: center;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: #cb6464;
}

.dot {
	width: 8px;
	height: 8px;
	margin-right: 5px;
	background: #cb6464;
	border-radius: 100%;
}
