.text {
	font-weight: 500;
	font-size: 16px;
    margin: -2px 4px;
	.text {
		font-size: 18px;
		display: flex;
	}
}

.text1 {
	color: red;
}

.content {
	span {
		font-weight: 700;
		margin-left: 5px;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 16px;
}

.styled_form_item {
	width: 45%;
}
