.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 16px;

	:global {
		.ui_datepicker_container {
			>div {
				width: 100%;
			}
		}
	}
}

.styled_form_item {
	width: 45%;
}

.modal_header {
	padding: 12px 16px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	margin: 0 0 0 12px;
}
