.form{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.radio{
    background-color: #F2F2F2;
    margin: 10px;
}
.select{
    margin-top: 10px;
}
.button{
    display: flex;
    align-content: center;
    margin-top: 15px;
}