.tag {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	margin-right: 5px;
	background: #ffffff9c;
	border: 1px solid #8f8f8f;
	border-radius: 50px;
}

.text {
	margin: 0;
	margin-right: 5px;
	font-size: 12px;
}

.container {
	display: flex;
	align-items: center;
	width: auto;

	@media (max-width: 767px) {
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
