.container {
	position: relative;
	min-height: 376px;
	padding: 45px 30px;
}

.main {
	display: flex;
	flex-direction: column;
	width: 52rem;

	&.no_result_found {
		max-width: 52rem;
	}

	@media (max-width: 760px) {
		width: 17rem;
	}
}

.title {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
}

.description {
	margin: 0 0 15px;
	font-size: 16px;
	font-weight: normal;
	line-height: 19px;
	color: black;
	letter-spacing: 0.02em;
}

.line {
	margin-top: 54px;
	margin-bottom: 25px;
	border: 1px solid #e0e0e0;
}

.country {
	display: inline-block;
	padding: 1px;
	background: #fcedbf;
	border-radius: 4px;
}

.action_container {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	:global{
		.ui_button_container{
			padding: 7px 4px;
			background: transparent;
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.title_rm {
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
}

.main_container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	min-width: 50%;
	min-height: 376px;
	padding: 45px 30px;
	margin-top: 16px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	box-shadow: 0 2px 55px rgb(60 67 83 / 10%);

	@media (max-width: 760px) {
		flex-direction: column;
		width: 100%;
	}
}

.container_info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 62%;

	@media (max-width: 760px) {
		display: flex;
		width: 100%;
	}
}

.bg {
	display: block;
	width: 212px;
	height: 217px;
	margin-top: 50px;
	margin-left: auto;

	@media (max-width: 760px) {
		flex-direction: column;
		width: 220px;
	}
}
