.container {
	margin-top: 20px;
}

.result_heading {
	padding: 10px;
	background: #cfeaed;
	border-radius: 4px 4px 0 0;
}

.table_heading {
	display: flex;
	padding: 10px;
	background: #f5f7f8;
	border-radius: 0;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}

.table_col {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #e0e0e0;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}

.list {
	height: 250px;
	overflow-y: scroll;
}

.header {
	width: 50%;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: #abcd62;
	border-radius: 50%;
}

.table_content {
	display: flex;
	align-items: center;
}

.table_text {
	margin-left: 10px;
}

.text {
	font-weight: 600;
}
