

.container{
	padding: 10px 15px;
	border-radius: 8px;
	display: flex;
	background-color: #f2f2f2;

	margin-bottom: ${(props) => `${props.marginBottom}px`};
}

.button_group{
	position: absolute;
	top: 16px;
	right: 16px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	& .svg-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		& svg {
			cursor: pointer;
			width: 16px;
			height: 16px;
		}
	}

	& .separator {
		border: 0.5px solid #4f4f4f;
	}
}

.index_container{
	width: 20px;
}

.index {
	background: #e0e0e0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.address_container{
	font-size: 12px;
	line-height: 16px;
	margin: 0 32px 0 16px;
	width: 100%;

	.gst-number {
		margin-top: 16px;
	}
}

.doc_container{
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 8px 20px 6px 20px;
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
}

.docText{
	font-weight: 400;
	font-size: 12px;
}

.link_text {
	font-weight: 500;
	font-size: 10px;
	color: #034afd;
	text-decoration-line: underline;
	cursor: pointer;
}
