.container {
  :global {
    .core-ui-input-root {
      border: 1px solid #cbcff5;
    }

    .core-ui-select__control {
      border: 1px solid #cbcff5;
    }

    .business-checkbox-label {
      color: #393f70;
    }
  }
}

.label {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #393f70;
}

.error_message {
  font-size: 10px;
  color: #ff0000;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
