.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: black;
}

.right {
	display: flex;
	align-items: center;
}

.button {
	padding: 3px 5px;
	margin-left: 16px;
	font-size: 10px;
	line-height: 14px;
	cursor: pointer;
	background: transparent;
	border: none;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	box-shadow: none;

	.close {
		color: black;
		background: white;
	}

	.submit {
		color: white;
		background: black;
	}
}

.text {
	margin: 0;
	margin-bottom: 12px;
	font-size: 10px;
	color: #034afd;
	text-decoration-line: underline;
	text-transform: uppercase;
	cursor: pointer;

	.disabled {
		color: #bdbdbd;
		cursor: not-allowed;
	}
}

.line {
	margin-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
}
