.label{
    position: absolute;
	top: 0;
	padding: 0px 5px 0;
	margin: 0px 7px;

	translate: 0 50%;

	color: grey;
	background: #fff;
	transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
	pointer-events: none;
	&.move {
		top: -15px;
		font-size: 11px;
	}
}


.container{
    display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	padding: 12px;

	/* &:focus-within label {
		top: -15px;
		font-size: 11px;
		color: black;
	}

	.inputBoxContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #d6d6d6;
		padding: 8px 10px;
	} */
}


.input{
    border: none;
	width: 100%;

	&.icon {
		width: 85%;
	}
	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}

