.label {
	position: absolute;
	top: 0;
	padding: 0 5px;
	margin: 0 7px;
	color: grey;
	pointer-events: none;
	background: #fff;
	transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
	translate: 0 50%;

	&.move {
		top: -15px;
		font-size: 11px;
	}
}

.container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px;

	/* &:focus-within label {
		top: -15px;
		font-size: 11px;
		color: black;
	}

	.inputBoxContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #d6d6d6;
		padding: 8px 10px;
	} */
}

.input {
	width: 100%;
	border: none;

	&.icon {
		width: 85%;
	}

	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}
