
.map_column2{
	padding: 0px ;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}

.wrapper{
	height: 96% ;
	display: flex ;
	flex-direction: row ;
	justify-content: space-between;
	width: 100%;
}
.wrapper_with_mobile{
	height: 96% ;
	display: flex ;
	flex-direction: column ;
}

.column{
	width: 32%;
	padding: 50px ;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}

.column_with_mobile{
	width: 100%;
	padding: 35px ;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}

.checkout_column{
	width: 32%;
	padding: 20px 0px 0px 0px;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}

.map_column{
	width: 68%;
	padding: 0px ;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}

.list_column{
	padding: 10px 20px 0px 20px ;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
	height: 700px ;
	overflow: scroll ;
	width: 32%;
}

.list_column_mobile{
	padding-top: 20px;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
	height: 700px ;
	overflow: scroll ;
	width: 100%;
}

.checkout_column_mobile{
	width: 100%;
	padding: 20px 0px 0px 0px;
	box-shadow: 20px 0px 20px -10px rgba(41, 47, 63, 0.15) ;
}