.layout_container {
	padding: 16px 32px 32px;
	margin: 16px 0;
	background: #f9f9f9;
	border-radius: 10px;

	.form-item-label {
		margin: 16px 0 8px;
		font-size: 10px;
		color: #333;
	}

	.form-lower-label {
		color: #10a016;
	}
}
