.title_black {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #000;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.row {
	position: relative;
	display: flex;
	align-items: center !important;
	justify-content: space-between;
	width: 100%;
	height: 78px;
	padding-left: 11px;
	margin-left: 0 !important;
	background: #fff;
	border: 1px solid #f8f2e7;
	border-radius: 9px;

	&:hover {
		background: #f8f2e7;
	}
}

.label {
	width: max-content;
	font-size: 8px;
	line-height: 12px;
	color: #4f4f4f;
	text-transform: capitalize;
	letter-spacing: 0.02em;

	@media (min-width: 768px) {
		display: none;
	}
}

.info {
	display: inline-block;
	max-width: 164px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #828282;
	color: #2c3e50;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container {
	margin-bottom: 25px;
	border: 1px solid #f8f2e7;
	border-radius: 9px;

	&:hover {
		background: #f8f2e7;
	}

	&.mobile {
		width: 100%;
		padding: 12px 0;
	}
}

.dotcursor {
	cursor: pointer;
}

.flex_div {
	display: flex;
	align-items: center;
}

.title {
	margin-left: 3px;
}

.mobile_view {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.web_view {
	display: block;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.main_item {
	width: 700px;
	padding: 10px;
	background-color: #fff;
}

.static_background {
	position: relative;
	height: 70px;
	margin-bottom: 20px;
	background-color: #f6f7f8;
	background-size: 800px 104px;
}

.background-masker {
	position: absolute;
	background-color: #fff;
}

.btn-divide-left {
	top: 0;
	left: 25%;
	width: 5%;
	height: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	width: 130px;
}
