.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 20px;
	background: #fff;
	border: 1px solid #f8f2e7;
	border-radius: 9px;

	&:hover {
		background: #fdfbf6;
	}
}

.container {
	margin-bottom: 25px;
	border: 1px solid #f8f2e7;
	border-radius: 9px;

	&:hover {
		background: #f8f2e7;
	}

	&.mobile {
		width: 100%;
		padding: 12px 0;
	}
}

.dotcursor {
	display: inline-block;
	cursor: pointer;
}

.flex_div {
	display: flex;
	align-items: center;
}

.title {
	margin-left: 3px;
}

.mobile_view {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.web_view {
	display: block;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.hyper_link {
	text-decoration: underline;

	&:hover {
		font-weight: 500;
		color: rgb(42 0 166);
	}
}

.hover_row {
	cursor: pointer;
	transition: transform 0.2s ease-in;

	&:hover {
		background-color: #f8f2e7;
		transition: transform 0.2s ease-in;
		transform: scale(1.01);

		.hyper_link {
			font-weight: 500;
			color: rgb(34 0 137);
		}
	}
}

.col {
	padding: 20px 0;
}
