.company_details {
	position: relative;
	flex-grow: 1;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
}

.company {
	position: relative;
	flex-grow: 1;
	overflow: hidden;
}

.footer {
	display: flex;
	flex-direction: column;
	margin: 16px 0;
}

.line {
	margin: auto 0 10px;
	border: 1px solid #ded7fc;
}

.button_container {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	margin: 8px 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 500px;
}

.header_container {
	height: 30%;
}

.heading {
	padding: 13px;
	font-size: 18px;
	font-weight: 500;
	color: #393f70;
}

.role_container {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	padding-left: 10px;
}

.label {
	padding-right: 10px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}
