.form_item_label {
	font-size: 14px;
	font-weight: 500;
	color: #2c3e50;
}

.heading {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #2c3e50;
}

.wrapper {
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}
