.row {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 12px;
}

.line {
	border-bottom: 1px dashed #c3d1df;
}

.container {
	margin-bottom: 20px;
}

.disabled {
	background-color: #f3f3f3;
}
