.description {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #828282;
	text-align: center;
}

.button_container {
	display: flex;
	justify-content: space-evenly;
	background: #fff;
}
