.container {
	padding: 10px 20px;
	margin-top: 16px;
}

.flex {
	display: flex;
}

.hyperlink {
	display: flex;
	align-items: center;
	margin-left: 10px;
	color: #f1690c;
	text-decoration: underline;
	cursor: pointer;
}

.heading {
	font-size: 20px;
	font-weight: 500;
	color: #221f20;
}

.arrow_right {
	width: 12px;
	margin-left: 8px;
	color: #221f20;
}

.scroll_container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 97%;
	max-width: 1300px;
	padding: 16px 0 16px 16px;
	overflow-x: scroll;
	cursor: pointer;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none;
	}
}

.styled_text {
	display: flex;
	align-items: center;
	max-width: 100px;
	margin-top: 8px;
	word-break: break-all;
}

.tile_container {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	padding: 16px;
	margin-right: 16px;
	text-align: center;
	word-break: break-word;
	cursor: pointer;
	border-radius: 6px;

	&:hover {
		.styled_text {
			text-decoration: underline;
		}
	}
}

.image {
	width: 85px;
	height: 85px;
	border-radius: 50px;

	&:hover {
		box-shadow: rgb(0 0 0 / 100%) 0 25px 20px -20px;
	}
}

.arrow_icon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

.item_container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.icon_container {
	cursor: pointer;

	.animated_arrow {
		position: absolute;
	}

	.animated_arrow:hover {
		animation: bounce-alpha 0.8s linear infinite;
		animation-direction: normal;

		@keyframes bounce-alpha {
			0% {
				opacity: 1;
				transform: translateX(0) scale(1);
			}

			100% {
				opacity: 0;
				transform: translateX(10px) scale(0.9);
			}
		}
	}
}
