.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.billing_address_container {
	display: flex;
	flex-flow: row wrap;

	& .pencil-icon {
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
}

.billing_address {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 4px;
	font-size: 12px;
	font-weight: 400;
	color: #828282;

	& .house-icon {
		width: 16px;
		height: 12px;
		margin-top: -1px;
		margin-right: 4px;
	}
}

.text {
	font-size: 12px;
	color: #2c3e50;
}
