.text {
	margin-bottom: 2px;
	color: #393f70;
}

.flex {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.direction {
	display: flex;
	flex-direction: column;
	margin: 0 16px;
}
