.card {
  height: 100%;
  border-radius: 20px;
  border: 1px solid #ACDADF;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 26px;
  position: relative;
}

.heading {
    color: #221F20;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.styled_form_item {
  width: 300px;
   
   :global{
   .ui_button_container{
      float: right;
  }
}
}

.text{
  margin-top:4px;
  size:10;
  color:#CB6464;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.form{
    width          : 100%;
		display        : flex;
		justify-content : space-between;
		margin-top      : 24px;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      }
}

.anchor{
  margin: 0px 10px;


  svg {
    color: #88CAD1;
    cursor: pointer;
  }

  
  @media screen and (max-width: 700px) {
   text-align: center;
    }
}