.container{
    display: flex;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.sop_div{
	width: 64%;
	margin-top: 20px;
	@media (max-width: 768px) {
		width: 100%;
	}
}
.poc_div{
	width: 35%;
	margin-top: 20px;
	@media (max-width: 768px) {
		width: 100%;
	}
}
.poc_container{
	padding: 22px;
	margin-top: 20px;
	background: #ffffff;
	box-shadow: 0px 1px 6px rgba(169, 188, 218, 0.65);
	border-radius: 4px;
	height: 700px;
	overflow-y: auto;
}
.poc_details_header {
	background: #f2f6ff;
}

.poc_detail_blocks {
	border: 1.3px solid #cddbff;
	border-radius: 5px;
}