.container {
	display: flex;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.sop_div {
	width: 64%;
	margin-top: 20px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.poc_div {
	width: 35%;
	margin-top: 20px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.poc_container {
	height: 700px;
	padding: 22px;
	margin-top: 20px;
	overflow-y: auto;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}

.poc_details_header {
	background: #f2f6ff;
}

.poc_detail_blocks {
	border: 1.3px solid #cddbff;
	border-radius: 5px;
}
