.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left_container{
    width: 45vw;
    height: 100vh;
}

.right_container{
    width: 55vw;
    height: 100vh;
}

.header{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.header_span{
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}