.div {
	display: flex;
	align-items: center;
	align-content: center;
	padding: 3px;
	margin-bottom: 6px;
	cursor: pointer !important;
	.icon {
		margin-right: 5px;
		height: 14px;
		width: 14px;
	}
	.label {
		font-size: 14px !important;
		text-transform: capitalize;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.button_wrapper {
	display: flex;
	justify-content: space-between;
	.no.core-ui-button-root {
		background: white !important;
		color: #db4634;
		border: 1px solid #db4634 !important;
	}

	.yes.core-ui-button-root {
		background: #db4634 !important;
	}

	.core-ui-button-root {
		margin: 10px !important;
		border: none !important;
		font-size: 14px !important;
		padding: 5px 10px 5px 10px !important;
	}
}

.text_wrapper{
	font-size: 14px;
	font-weight: 500;
}
