.container {
	display: flex;
	justify-content: center;
	padding: 3px;
	background: #fef1df;
	border-radius: 0 0 2px 2px;

	cursor: pointer;
}

.text { 
	font-style: italic;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0.04em;

	color: #333333;
}
