.btn_align {
	display: flex;
	justify-content: flex-end;
	padding: 16px;
	background: #fff;

	@media (min-width: 768px) {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		border-top: 1px solid #cddbff;
	}
}

.p {
	padding: 0;
	margin-top: 16px;
	color: #2c3e50;
}
