.btn_align {
	display: flex;
	justify-content: flex-end;
	margin: 8px 16px 16px;
	cursor: pointer;
}

.flex_container {
	display: block;
	width: 100%;
}

.text_container {
	font-size: 10px;
	color: #828282;
	text-align: center;
}
