.container {
	display: flex;
	align-items: center;

	.demo-org {
		display: none;
	}

	@media (max-width: 768px) {
		align-items: flex-start;
		flex-direction: column;
	}

	.core-ui-select__control {
		@media (max-width: 768px) {
			width: 236px;
		}
	}
}

.label {
	font-size: 12px;
	margin: 0 10px;
	white-space: nowrap;

	@media (max-width: 768px) {
		margin: 0;
		margin-top: 10px;
	}
}
