.container {
	display: flex;
	flex: 3;
	justify-content: flex-end;
}

.edit_btn {
	display: flex;
	align-items: center;
	margin-right: 16px;
	font-size: 14px;
	color: #034afd;
	text-decoration: underline;
	cursor: pointer;
}
