.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	text-transform: uppercase;
}

.right {
	display: flex;
	align-items: center;
}
