.container {
	flex: 6;
	padding: 0 24px 24px;
	margin: 24px 8px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;

	.section-three {
		margin-bottom: 0;
	}

	&.add_padding {
		padding: 24px;
	}
}

.section_one {
	margin-bottom: 10px;
}

.section {
	display: flex;
	flex: 6;
	justify-content: space-between;
	margin-bottom: 20px;
}

.status_tag {
	position: relative;
	left: -24px;
	width: fit-content;
	padding: 2px 8px;
	margin-bottom: 12px;
	font-size: 12px;
	color: #4f4f4f;
	text-transform: capitalize;
	background: rgb(254 243 233);
	border-radius: 7px 0 8px;

	&.pending_approval_active {
		background: rgb(254 243 233);
	}

	&.quoted_active {
		background: rgb(254 243 233);
	}

	&.locked_active {
		background: #efffef;
	}

	&.rejected_active {
		background: rgb(247 205 205);
	}

	&.locked_active.expired {
		background: rgb(247 205 205);
	}
}

.port_pairs {
	display: flex;
	flex: 3;
}

.text {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

.flex_box {
	display: flex;
	justify-content: space-between;
}
