.main_container {
	@media (max-width: 768px) {
		all: unset;
		margin: 0 -12px;
		background: #fff;
	}
}

.header_container {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;

	@media (max-width: 768px) {
		display: none;
	}
}

.first_row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
