.container {
	margin-top: 26px;
}

.header {
	margin-block: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 10px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.title {
	font-weight: 500;
	font-size: 20px;
	color: #2c3e50;
	margin-left: 10px;
}

.pagination_wrap {
	display: flex;
	justify-content: flex-end;
}

.tags {
	display: flex;
}

.tag {
	border-radius: 4px;
	padding: 4px 8px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #bdbdbd;

	svg {
		height: 18px;
		width: 18px;
		margin-right: 4px;
	}
}
