.wrapper {
	width: 100%;
	height: 100%;
}

.heading {
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 600;
	cursor: pointer;
}

.back_button {
	margin-right: 5px;
	cursor: pointer;
}

.loading_style {
	width: 120px;
	height: 30px;
	margin: 0;
}

.checkout_loading {
	display: block;
	height: 200px;
	margin: auto;
}
