/* import styled from '@cogoport/front/styled';
import { IcMArrowBack } from '@cogoport/icons-react';

import Loading from '../../assets/loadingwithoutcolor.svg';

export const Heading = styled.div`
	display: flex;
	font-weight: 500;
	font-size: 20px;
	align-items: center;
	cursor: pointer;
`;

export const BackButton = styled(IcMArrowBack)`
	margin-right: 5px;
	cursor: pointer;
`;

export const StyledLoading = styled(Loading)`
	height: 30px !important;
	margin: 0px !important;
`;

export const Wrapper = styled.div`
	height: 100%;
`; */

.wrapper{
	height: 100%;
}

.heading{
	display: flex;
	font-weight: 500;
	font-size: 20px;
	align-items: center;
	cursor: pointer;
}

.back_button{
	margin-right: 5px;
	cursor: pointer;
}

.loading_style{
	height: 30px !important;
	margin: 0px !important;
}

