
.wrapper{
	height: 100%;
	width: 100%;
}

.heading{
	display: flex;
	font-weight: 600;
	font-size: 22px;
	align-items: center;
	cursor: pointer;
}

.back_button{
	margin-right: 5px;
	cursor: pointer;
}

.loading_style{
	height: 30px ;
	margin: 0px ;
	width: 120px;
}

.checkout_loading{
	height: 200px ;
	display: block;
	margin: auto ;
}
