.container{
	margin-top: 10px;
}

.pagination_div {
	display: flex;
	justify-content: end;
	align-items: center;

	@media screen and (max-width: 700px) {
	float:right;
	}
}

.header_view{
	display: block;
	
	@media screen and (max-width: 767px) {
		display: none;
	}
}
