.commodity_details {
	width: 32%;
	padding: 24px 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px dashed rgb(53, 73, 93);
    border-radius: 20px;
    cursor: pointer;

	@media screen and (max-width: 767px) {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}
}

.dash_button {
	display: flex;
	margin-bottom: 16px;

	/* @media screen and (max-width: 767px) {
		position: relative;
		right: auto;
		left: auto;
		box-sizing: border-box;
		display: flex;
		flex: 0 0 100%;
		flex-direction: column;
		min-height: 1px;
		padding: 16px;
		padding-right: 8px;
		padding-left: 8px;
		margin-right: none;
		margin-bottom: 16px;
		margin-left: 0%;
	} */

	.details {
		display: flex;
		justify-content: space-around;
	}

	.heading {
		margin-right: 8px;
	    font-weight: 700;
	}



	.head {
		padding: 45px;

		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}
}
.head{
	margin-bottom: 10px;
    font-size: 15px;
    color: rgb(125, 125, 125);
    font-weight: 700;
}

.card {
	width: 32%;
	margin-left: 10px;
	/* height: calc(100% - 4px); */
	padding: 16px;
	margin: 4px;
	cursor: pointer;
	background-color: white;
	border: 1px solid rgb(196 203 218);
	border-radius: 20px;
	box-shadow: rgb(0 0 0 / 5%) 0 0 5px;
	@media (max-width: 760px) {
		width: 100%;
	}
}
.dash{
	display:flex;
	align-items: center;
}
.icon {
	display: flex;
	align-items: center;
	color: red;
	margin-right: 20px;
}