.radio_wrapper {
	:global {
		.ui_radio_icon.primary {
			background-color: #034afd !important;
		}

		.ui_radio_root {
			width: 100%;
			margin-bottom: 14px;
			background-color: #034afd !important;
		}

		.ui_radiogroup_container {
			display: flex;
			justify-content: space-between;
			width: 100%;

			@media (min-width: 768px) {
				flex-direction: row;
			}
		}

		.ui_radio_label {
			margin-left: 10px;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			color: #2c3e50;
			letter-spacing: 0.04em;
			opacity: 1;
		}
	}
}

.text {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	color: #2c3e50;
	text-transform: uppercase;
}

.control_label {
	display: flex;
	margin: 16px 16px 8px 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}

.image {
	margin-left: 10px;
}

.flex_container {
	display: flex;
	margin: 16px 16px 8px 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}

.image_container {
	margin-left: 10px;
}
