.main {
	width: 450px;
	max-height: 400px;
	overflow-y: scroll;

	@media (max-width: 768px) {
		width: 320px;
	}

	.ui-tabs-list {
		flex-direction: row;
		justify-content: center;
		margin-bottom: 12px;
	}

	.ui-tabs-list.horizontal.two {
		width: fit-content !important;
		margin: 0 !important;
		border: none !important;
		box-shadow: none !important;
	}

	.ui-tabs-list-container.horizontal.two.active {
		padding: 8px 32px !important;
		box-shadow: none;
	}

	.ui-tabs-list-container.horizontal.two {
		padding: 8px 32px !important;
		border-right: none !important;
		border-bottom: none;
		box-shadow: none !important;
	}

	.ui-tabs-list-title.horizontal.two {
		padding: 4px !important;
		font-size: 12px !important;
		font-weight: 400 !important;
		color: #2c3e50 !important;
	}

	.ui-tabs-list-title.horizontal.two.active {
		font-size: 12px !important;
		font-weight: 500 !important;
		color: #2c3e50 !important;
	}

	.segmented-control {
		padding-left: 10px;
	}

	.ui-tabs-list-container {
		margin-bottom: 16px;
	}

	.core-ui-input-root {
		height: 40px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 12px;

	.tippy-box .tippy-arrow {
		display: none !important;
	}

	@media (max-width: 768px) {
		width: 100%;
		padding-top: 10px;
		margin-left: 0;
	}
}

.label {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}

.error_msg {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	color: rgb(203 100 100);
}
