.button {
	display: flex;
	align-items: center;
	height: 79px;
	padding: 15px 16px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.description {
	margin-left: 10px;
}

.heading {
	font-size: 16px;
	font-weight: 500;
}

.sub_heading {
	color: #4f4f4f;
}

.selected_button {
	display: flex;
	align-items: center;
	height: 79px;
	padding: 15px 16px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #fde74d;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}
