.faq_question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: #828282;
	border-bottom: 1px solid #e0e0e0;

	&:last-child {
		border-bottom: none;
	}
}

.document_query_name {
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	padding: 10px 0;
	cursor: pointer;
}

.query_name {
	width: calc(100% - 20px);
	padding: 0 10px;
	word-break: break-word;
}

.icm_icons {
	width: 18px;
	height: 18px;
	margin-top: 3px;
	cursor: pointer;
}
