.container {
	padding: 16px;
}

.header {
	display: flex;
	align-items: center;
}

.icon_container {
	margin-right: 10px;
}

.icon_container svg {
	vertical-align: middle;
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.section {
	padding: 20px;
	padding-bottom: 0;
	font-size: 13px;
}

.section_title {
	display: flex;
	align-items: center;
}

.section_title .title {
	padding-right: 20px;
}

.section_title .design {
	flex: 2;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.col {
	width: 45%;
}

.radio_container {
	width: 30%;
	margin-left: 5%;
}

.error_txt {
	position: relative;
	margin: 0;
	margin-left: 10px;
	font-size: 12px;
	color: red;
}

.error_txt.buyer {
	top: 50%;
	left: -69%;
}

.error_txt.expiry_date {
	left: 41%;
}

.label {
	display: flex;
	margin-bottom: 4px;
	font-size: 11px;
}

.btn_container {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	padding: 15px 25px;
	margin-top: 20px;
	box-shadow: 0 -2px 4px 0 #14142b1f;
}
