.container {
	margin-top: 10px;
}

.header_text { 
	font-weight: 500;
	font-size: 18px;

	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #2c3e50;
}

.row {
	display: flex;
}

.details { 
	margin-left: 25px;
}

.details_title { 
	font-weight: 700;
	font-size: 22px;

	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.details_description { 
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.02em;

	color: #4f4f4f;
}

.terms {
	margin-top: 30px;
}

.terms_title { 
	font-weight: 600;
	font-size: 12px;

	letter-spacing: 0.02em;

	color: #828282;
}

.terms_content {
	margin-top: 15px;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.02em;

	color: #828282;
}