
.incoterm_column {
	padding-left: 0;
	padding-right: 0;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.incoterm_col {
	display: flex;
	align-items: center;
	border: 1px solid #d6d6d6;
	padding-right: 10px;
	border-radius: 5px;
	width: 86%;
	
}
.hideInput {
	border: none;
	outline: none;
}
.delete_icon {
	background: #fff4f2;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;

	svg {
		vertical-align: bottom;
	}
}