
.incoterm_column {
	padding-left: 0;
	padding-right: 0;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.incoterm_col {
	width: 86%;
}

.delete_icon {
	background: #fff4f2;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;

	svg {
		vertical-align: bottom;
	}
}