.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.card {
	padding: 20px;
	background: #fafbfb;
}

.flex_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	color: #828282;
	text-align: center;
}

.icon_style {
	width: 100px;
	height: 200px;
}

.heading {
	font-size: 18px;
	font-weight: 600;
	color: #e84855;
}

.line {
	border: 1px dashed #e5e5e5;
}

.styled_row {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.deduction {
	display: flex;
	width: 100%;
	text-align: center;
}

.text_column {
	justify-content: flex-end;
}

.line2 {
	border: 1px solid #e5e5e5;
}

.text {
	font-size: 14px;
	font-weight: 400;
	color: #2d3047;
}

.total_text {
	font-size: 16px;
	font-weight: 600;
	color: #2d3047;
}

.button_wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
}

.redirect_button {
	display: flex;
	align-content: center;
	align-items: center;
	height: 35px;
	padding: 15px;
	margin-top: 18px;
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-transform: capitalize;
	background: #fff;
	border: 1px solid;
}

.loader {
	margin: none;
}

.disabled {
	opacity: 0.4;
}

.submit_button {
	display: flex;
	align-content: center;
	align-items: center;
	height: 35px;
	padding: 15px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	text-transform: capitalize;
	background: #db4634;
	border: none;
}
