
.rotate_icon {
	margin-left: 5px;
	width: 12px;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	:global{
		.rotate {
			transform: rotate(180deg);
		}
	}	
}

.flex{
	display: flex;
}

.dotcursor{
	cursor: pointer;
}