.modal_container {
	:global {
		.ui_modal_header_container {
			padding: 20px 10px 10px 30px;
		}
	}
}

.container {
	padding: 16px;
}

.row_div {
	display: flex;
	align-items: flex-end;
	padding: 12px 32px;
}

.subheading {
	padding-bottom: 4px;
}

.hs_input {
	width: 100%;
	cursor: not-allowed;
	background: #f7f7f7;
	border-radius: 5px;

	input {
		cursor: not-allowed;
	}
}

.btn_container {
	margin-bottom: 5px;
	margin-left: 20px;
}

.valid {
	display: flex;
	align-items: center;
}

.validate {
	margin-left: 5px;
	font-weight: 500;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 14px 16px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.suggestion {
	width: 250px;
	max-height: 250px;
	padding-bottom: 0;
	margin-top: 6px;
	overflow-y: scroll;

	::-webkit-scrollbar {
		display: none;
	}
}

.row {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 8px 12px;
	margin-bottom: 12px;
	cursor: pointer;
	border: 0.5px solid #476fd3;
	border-radius: 8px;
}

.title_div {
	display: flex;
	align-items: center;
}

.title {
	padding-left: 4px;
	font-size: 17px;
	font-weight: 600;
	color: #2c3e50;
}

.txt {
	font-size: 12px;
}

.text {
	padding-right: 5px;
	font-size: 12px;
	line-height: 14px;
	color: #000;
}

.success_msg {
	display: block;
	padding: 6px 12px;
	margin: 0 30px 10px;
	font-size: 15px;
	color: #589c52;
	text-align: center;
	background: #e8ffe6;
}

.hr {
	width: 78px;
	height: 2px;
	margin-top: 2%;
	background: #f9ae64;
	border-radius: 30px;
}
