.container {
	position: relative;
	margin-right: 20px;
	color: #828282;
	cursor: pointer;

	&.active {
		color: #356efd;
	}

	&.dislike {
		transform: rotate(180deg);
	}
}

.count {
	position: absolute;
	top: -8px;
	left: 14px;
	z-index: 1;
	padding: 2px 4px;
	font-size: 10px;
	font-weight: 500;
	color: #000;
	text-align: center;
	background: #9befa8;
	border-radius: 4px;
}

.main_container {
	display: flex;

	@media (max-width: 768px) {
		padding-right: 0;
	}
}
