.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	padding: 10px 30px;
	background-color: #fff;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.title {
	margin-left: 12px;
	font-size: 20px;
	cursor: pointer;

	@media (max-width: 768px) {
		font-size: 20px;
	}
}

.cart_icon {
	width: 18px;
	height: 18px;
}

.text {
	margin-left: 8px;
	font-size: 17px;

	@media (max-width: 768px) {
		display: none;
	}
}

.cursor_marker {
	cursor: pointer;
}

.order {
	margin-right: 16px;
}

.cogopoints {
	display: flex;
	align-items: center;
	padding: 2px 10px;
	margin-right: 8px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 1px 4px #e4e9ff;
	transition: 0.2s;
}

.coin {
	margin: 7px 3px 0 0;
}

.points {
	font-size: 14px;
	font-weight: 400;
	color: #ff7a71;
}

.label {
	margin-right: 5px;
	margin-left: 4px;
	font-size: 16px;
	font-weight: 500;
}
