.container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
}

.container:last-child {
	border: none;
}

.key {
	margin: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.value {
	margin: 8px 24px 4px 8px;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	text-transform: capitalize;
}

.cancelled {
	color: #bdbdbd;
}
