.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center !important;
	width: 100%;
	height: 78px;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow:
		0 17.8337px 60.0918px rgb(71 111 211 / 11%),
		0 2.2331px 18.612px rgb(71 111 211 / 5.5%);
}

.row_mobile {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 240px;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow:
		0 17.8337px 60.0918px rgb(71 111 211 / 11%),
		0 2.2331px 18.612px rgb(71 111 211 / 5.5%);
}

.col {
	display: flex;
	justify-content: flex-start;
	width: 14%;
	padding: 0 5px;
}

.info {
	display: inline-block;
	max-width: 164px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #828282;
	color: #2c3e50;
	text-overflow: ellipsis;
	white-space: nowrap;
}
