.container {
	margin: 24px 4px 24px 4px;
}

.container .rangewidth {
	width: 88%;
}

.container .textleft {
	margin-left: 25px;
}

.container .flexrange {
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin-top: 5px;
}

.container .flexrange p {
	width: 35px;
	color: #999;
	font-size: 11px;
	font-weight: 300;
}

.container .marker {
	justify-content: space-between;
	margin-top: 10px;
	width: 89%;
	margin-left: 3px;
}

.container .slider {
	width: 90%;
	height: 6px;
	border-radius: 5px;
	transition: opacity 0.2s;
	cursor: pointer;
}

.mark {
	width: 1.5px;
	height: 6px;
	background: #999;
}

.flex {
	display: flex;
}

.text {
	font-size: 16px;
	width: 35px;
    color: rgb(153, 153, 153);
    font-size: 11px;
    font-weight: 300;
	text-align: left;
    line-height: 1.4;
    margin: 0;
}