.container {
	margin: 24px 4px;
}

.container .rangewidth {
	width: 88%;
}

.container .textleft {
	margin-left: 25px;
}

.container .flexrange {
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin-top: 5px;
}

.container .flexrange p {
	width: 35px;
	font-size: 11px;
	font-weight: 300;
	color: #999;
}

.container .marker {
	justify-content: space-between;
	width: 89%;
	margin-top: 10px;
	margin-left: 3px;
}

.container .slider {
	width: 90%;
	height: 6px;
	cursor: pointer;
	border-radius: 5px;
	transition: opacity 0.2s;
}

.mark {
	width: 1.5px;
	height: 6px;
	background: #999;
}

.flex {
	display: flex;
}

.text {
	width: 35px;
	margin: 0;
	font-size: 16px;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.4;
	color: rgb(153 153 153);
	text-align: left;
}
