.table_wrapper {
	:global {
		.table-cell {
			border-bottom: 0.5px solid #a8acce !important;
		}

		.table-header-cell {
			border-bottom: 0.5px solid #a8acce !important;
		}

		.table-header-cell:first-child {
			border-radius: 10px 0 0;
		}

		.table-header-cell:last-child {
			border-radius: 0 10px 0 0;
		}

		.table {
			text-align: center;
			border: 0.5px solid red !important;
			border-radius: 5px !important;
		}

		.ui-table-head-cell {
			font-weight: 500 !important;
			color: #000 !important;
		}

		.ui-table-body-cell {
			background: #fff !important;
			border-bottom: 1px solid #cedcea !important;
		}

		max-height: 330px !important;
		overflow-y: scroll;
	}
}

.icon {
	cursor: pointer;
	transform: rotate(180deg);
}

.info {
	width: 90px;
	cursor: pointer;
	background: #fff;

	:global {
		.text {
			display: flex;
			align-items: center;
			padding: 7px 5px;
			margin: 0;
			font-size: 14px;
			text-align: left;
		}

		.text p {
			margin: 0;
			margin-left: 10px;
			font-size: 10px;
		}

		.edit {
			border-bottom: 1px solid #d3d3d3;
		}

		.info {
			display: flex;
		}
	}
}

.table_head {
	width: auto;

	.ui-table-body-cell {
		padding: 16px 23px;
	}

	.ui-table .ui-table-body-cell:last-of-type {
		padding: 0 25px;
	}
}
