.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 6px;
	background: #9befa8;
	border-radius: 4px;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	background: #cdf7d4;
	border-radius: 50%;
}
