.contact_details {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 33%;
	padding: 12px;
	margin-left: auto;
	background: #2c3e50;
	border-radius: 4px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.name {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
