.step {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0 10px;
}

.stepper {
	position: relative;
}

.circle {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #bdbdbd;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
}

.line {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 100%;
	border-left: 2px solid #bdbdbd;
}

.content {
	/* display: inline-block; */
	width: 100%;
	margin: 0 20px 20px;
}

.headText {
	padding: 0 0 20px;
	font-size: 16px;
	color: #221f20;
}

.flexBox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.linkText {
	font-size: 14px;
	color: #356efd;
	text-decoration: underline;
}
