.heading {
	font-size: 20px;
	font-weight: 600;
}

.details_wrapper {
	display: flex;
	flex-direction: column;

	@media (max-width:768px) {
		width: 100%;
	}
}

.description {
	width: 60%;
	color: #828282;
}
