.container{
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px 4px 16px 16px;
	background: #ffffff;
	border-radius: 4px;
	max-height: 500px;
	overflow: auto;
	@media (max-width: 768px) {
		width: 100%;
		margin-top: 20px;
		margin-left: 0px;
	}
}
.added{
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 8px;
}
.heading{
	font-weight: 600;
	font-size: 16px;
	color: #2c3e50;
	margin-bottom: 20px;
}
.button_wrap{
	display: flex;
	justify-content: flex-end;
	margin: 8px;
}
.core-ui-button-root.primary.md {
	text-transform: capitalize;
	text-decoration: underline;
	color: #034afd !important;
}
.core-ui-button-root {
	background: #2c3e50;
	font-size: 12px;
	padding: 8px 12px;
}
.first {
	justify-content: flex-end;
}
.suggested_container{
	border-top: 1px solid #d9eafd;
	padding-top: 20px;
}
.suggested_services{
	display: flex;
	flex-wrap: wrap;
}
.service_container{
	background: #ffffff;
	border: 1px dashed #bdbdbd;
	border-radius: 4px;
	width: 156px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 8px;
	margin: 12px;
	cursor: pointer;
}
.service_name{
	font-weight: 500;
	font-size: 12px;
	color: #bdbdbd;
}
.button_wrap{
	display: flex;
	justify-content: flex-end;
	margin: 8px;
	.core-ui-button-root {
		background: #2c3e50;
		font-size: 12px;
		padding: 8px 12px;
	}
	.core-ui-button-root.primary.md {
		text-transform: capitalize;
		text-decoration: underline;
		color: #034afd !important;
	}
}
.first {
	justify-content: flex-end;
}