.animated_container {

	animation: fade_right 0.9s ease-in-out;

	@keyframes fade_right {
		0% {
			opacity: 0;

			transform: translatex(-10px);
		}
		80% {
			transform: translatex(0px);
			opacity: 0.8;
		}
		100% {
			opacity: 1;
			transform: translate(400px));
			duration: 400,
		}
	}
}