.container {
	padding: 16px 16px 0;
}

.title {
	display: flex;
	align-items: center;

	.title {
		padding-left: 4px;
		font-size: 17px;
		font-weight: 500;
		color: #2c3e50;
	}
}

.hr {
	width: 78px;
	height: 2px;
	margin-top: 2%;
	background: #f9ae64;
	border-radius: 30px;
}

.txt {
	font-size: 12px;

	.text {
		padding-right: 5px;
		line-height: 14px;
		color: #000;
	}

	&.success_msg {
		display: block;
		padding: 6px 12px;
		margin: 30px;
		margin-bottom: 10px;
		font-size: 15px;
		color: #589c52;
		text-align: center;
		background: #e8ffe6;
	}
}

.row {
	display: flex;
	align-items: flex-end;
	padding: 12px 32px;

	&.subheading {
		padding-bottom: 4px;
	}

	.hsInput {
		width: 100%;
		cursor: not-allowed;
		background: #f7f7f7;
		border-radius: 5px;

		input {
			cursor: not-allowed;
		}
	}

	&.hs_row {
		>div {
			width: 55%;
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 14px 16px;
	box-shadow: 0 0 8px 0 #2c3e5033;

	.core-ui-button-root {
		text-transform: capitalize !important;
		background: #ee3425 !important;
		border: none;
	}

	.disable_btn {
		opacity: 0.7;
	}
}

.suggestion {
	/* width: 250px; */
	max-height: 150px;
	padding-bottom: 0;
	margin-top: 6px;
	overflow-y: scroll;

	::-webkit-scrollbar {
		display: none;
	}

	.rowx {
		/* display: flex;
		gap: 4px;
		align-items: center; */
		padding: 8px 12px;
		margin-bottom: 12px;
		cursor: pointer;
		border: 0.5px solid #476fd3;
		border-radius: 8px;
	}
}

.btn_container {
	margin-left: 20px;

	.valid {
		display: flex;
		align-items: center;
	}

	.validate {
		margin-left: 5px;
		font-weight: 500;
	}

	.validate_svg {
		width: 25px;
		height: 25px;
	}

	.btn_color {
		text-transform: capitalize !important;
		background: #221f20 !important;
		border: none !important;
	}
}

.row_container {
	min-height: 28vh;
	margin: 0 20px;

	.line {
		width: 100%;
		height: 1px;
		margin: 10px 0;
		background: #d3d3d3;
	}
}

.label {
	margin: 0;
	font-size: 12px;
}

.hs_input {
	background: #f7f7f7;
}
