.container {
	position: relative;
}

.or_tag {
	display: flex;
	gap: 3px;
	align-items: center;
	justify-content: center;
}

.line {
	width: 14px;
	height: 0;
	border-top: 1.7px solid #bdbdbd;
}

.text {
	font-size: 13px;
	font-weight: 500;
	color: #bdbdbd;
}

.other {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.hyper_link {
	color: #ee3425;

	:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.divider {
	width: 0;
	border-left: 1px solid #333;
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.currency {
	width: 30%;

	@media screen and (max-width: 767px) {
		width: 35%;
	}
}
