.container {
	width: 100%;
	padding: 4px;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 8px 0;

	:global {
		.core-ui-button-root {
			color: #7a5ef3;
			background: #fff;
			border: none;
		}
	}
}

.package_details {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 24px;
	padding: 0 5px;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
	background-color: aliceblue;
	border-radius: 4px;
}

.confirm_button {
	position: sticky;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
