.main { 
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	@media (max-width: _md) {
		flex-direction: column;
		width: 100%;
	}
}

.section { 
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;

	.core-ui-select__menu {
		max-width: 200px;
		min-width: 0px;
	}

	@media (max-width: _md) {
		margin-bottom: 16px;
		margin-right: auto;
	}
}

.edit_services {
	@media (min-width: _md) {
		display: none;
	}
}

.container {
	.core-ui-button-root {
		height: 28px;
	}
}
