.container{
    background: #ffffff;
	padding: 16px 0px;
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}
.content{
    margin-top: -47px;
	@media (max-width: 768px) {
		margin-top: 8px;
        :global {
            .ui_zThRS{
             padding: 4px 11px !important;
             font-size: 12px;
            }
         }
	}
   
}
.invoice_div{
    background: #f8f9fa;
	margin-top: 16px;
}
.invoice_header {
    border-bottom: none;
}
.edit_sales_invoice {
    justify-content: flex-end;
}
.sales_invoicing_parties {
    margin-top: 0px;
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(169, 188, 218, 0.65);
    border-radius: 4px;
}
.sales_invoice_party {
    background: #ffffff;
    border-radius: 4px;
}
.sales_invoice_root {
    box-shadow: none;
    background: #f8f9fa;
}