/* stylelint-disable block-closing-brace-newline-before */
/* stylelint-disable indentation */
.button_div {
	display: flex;

	@media screen and (max-width: 767px) {
		display: none;
		justify-content: space-between;
	}
}

.button_mobile {
	display: none;

	@media screen and (max-width: 767px) {
		display: flex;
		justify-content: space-between;
	}
}

.favourites_tag {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}

.card {
	display: flex;
	align-items: center;
	margin: 22px 10px !important;
	background-color: #fff;
	box-shadow:
		2px 2px 7px rgb(163 177 198 / 60%),
		-2px -2px 7px rgb(255 255 255 / 50%);

	@media screen and (max-width: 767px) {
		margin: 15px;
		margin-bottom: 30px;
	}
}

.bm {
	width: 100%;
}

.no_data {
	padding: 8px 16px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.div_hs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 25px;
}

.delete_icon {
	padding: 6px 6px 0;
	cursor: pointer;
	background: #fff4f2;
	border-radius: 5px;
}

.svg {
	vertical-align: middle;
}

.div_section {
	display: flex;
	margin-top: 30px;
	margin-bottom: 14px;
}

.under_line {
	width: 80px;
	height: 0;
	background-color: #393f70;
	border: 1px solid #393f70;
}

.container {
	display: flex;
	align-items: baseline;
	align-items: flex-start;
	justify-content: space-between;
	margin: 35px 20px 25px;

	@media screen and (max-width: 767px) {
		align-items: center;
	}
}

.tag {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 18%;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
		width: auto;
		height: auto;
	}
}

.title {
	font-size: 18px;
	font-weight: 700;
	line-height: 150%;
	color: #000;

	@media screen and (max-width: 767px) {
		margin-bottom: 5px;
		color: #393f70;
	}
}

.bookmark {
	justify-content: space-between;
	padding: 15px !important;
	padding: 7px !important;
	padding: 0 15px;
	margin-top: 13px;
	margin-bottom: 20px;
	font-size: 23px;
	line-height: 0;
	color: #393f70;
	border-radius: 10px;
}

.favourites {
	padding: 0 5px;
	font-size: 23px;
	line-height: 0;
	color: #393f70;
}

.line {
	width: 127px;
	height: 0;
	margin-left: 7px;
	border-top: 3px solid #393f70;
}

.box_div {
	width: 280px;
	height: 32px !important;
}

.icon_container {
  display: flex;
  align-items: center;
	margin-left: 6%;
	text-align: center;
}

.icon_text {
	margin: 0;
	font-size: 10px;
}

.main_container {
	max-width: 100%;
}

.styled_button {
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: space-evenly;
	min-width: 120px;
	max-height: 32px;
	padding: 12px;
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	cursor: pointer;
	border-radius: 6px;
}

.styled_button:hover {
	box-shadow: 0 8px 16px rgb(57 63 112 / 25%);
}

.primary {
	color: #fff;
	background: #221f20;
}

.secondary {
	margin-right: 10px;
	color: #221f20;
	border: 1px solid #828282;
}

.ui_modal {
	width: 680px !important;
	padding: 16px;

	@media (max-width: 768px) {
		width: 380px !important;
	}
}

.loader {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}
