.cargo_insurance_container {
	justify-content: space-between;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	border: 1px solid #cddbff;
	border-radius: 4px;
}

.info_container {
	font-weight: 500;
	color: #f00;
}

.flex {
	display: flex;
}
