.flex {
	display: block;
	margin-bottom: 16px;
}

.text {
	margin-bottom: 32px;
	line-height: 15px;
	color: #fff;
}

.card {
	padding: 24;
	background: #fada29;
	border-radius: 8px;
}

.text_card {
	display: flex;
	flex-direction: row;
	padding: 27px;

	@media (max-width: _md) {
		flex-direction: column-reverse;
		width: 100%;
	}
}

.button {
	padding-top: 20px;

	@media (max-width: _md) {
		padding-top: 5px;
	}
}
