.container{
    height: calc(100vh - 64px);

	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
}

.descriptions{
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.support_container{
    background-color: #ee3425;
	border-radius: 8px 0 0 8px;
	padding: 16px;

	position: absolute;
	bottom: 16px;
	right: -32px;
}