.container {
	padding: 20px;
	margin-top: 10px;
	background: linear-gradient(180deg, #d6e3ff 0%, rgb(239 244 253 / 0%) 100%);
	border: 1px solid var(--white, #fff);
	border-radius: 10px;
}

.heading {
	padding: 10px 38px 0 10px;
	font-size: 24px;
	line-height: 30px;
	color: var(--black, #221f20);
	letter-spacing: 0.48px;
}

.pay_text {
	font-weight: 600;
	color: var(--black, #6b96fa);
}

.des {
	padding: 10px 40px 0 10px;
	color: var(--black-60, #828282);
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
