.container {
	.lg .core-ui-select__control {
		min-height: 40px !important;
		padding-top: 6px !important;
	}

	.ui-single-date-picker-input-container {
		height: 40px !important;
		border: 1px solid #cbcff5;
		border-radius: 4px !important;

		.core-ui-input-root {
			:focus-within {
				box-shadow: none !important;
			}
		}

		.core-ui-input-control {
			margin-top: 8px;
		}
	}
}

.styled_row {
	display: flex;
	gap: 10px;
	margin: 20px !important;
}

.styled_col {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.end-date {
	margin-top: 10px !important;
}

.label {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #393f70;

	.lower-label {
		font-size: 12px;
		color: #436df4;
	}
}

.shipping_line {
	margin-left: 10px;
	font-size: 12px;
	font-weight: 400;
	color: #f68b21;
}

.error_text {
	font-size: 12px;
	color: #cb6464;
}

.note {
	margin-left: 30px;
	color: #f68b21;
}

.sub_label {
	margin-left: 10px;
	font-size: 12px;
	color: #436df4;
}

.date_row {
	align-items: flex-end;
}
