.field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 32%;
	padding: 2px 10px;

	@media (max-width: 760px) {
		width: 100%;
	}
}

.error_message {
	font-size: 14px;
	color: #cb6464;
}
