.label_container{
    display: flex;
	width: 100%;
	justify-content: space-evenly;
	padding: 8px;
}
.poc_name{
	width: 175px;
	max-width: 250px;
	text-overflow: ellipsis;
}
.poc_email{
	width: 225px;
	max-width: 250px;
	text-overflow: ellipsis;
}
.poc_contact{
	width: 140px;
	text-overflow: ellipsis;
}
.load_container{
	display: flex;
	flex-direction: column;
}
.container{
	margin-left: 8px;
}
.button_container{
	margin: 16px 0px;
	display: flex;
	justify-content: flex-end;
	gap: 16px;
}