.container {
	width: 380px;
	padding: 7px 12px 10px;
	margin: 5px 20px 5px 5px;
	border: 1px solid #fada29;
	border-radius: 6px;

	&.disabled {
		background: #f9f9f9;
		border: 1px solid #bdbdbd;
	}

	&.enabled {
		background: #fffef9;

		&:hover {
			filter: drop-shadow(0 4px 80px rgb(0 0 0 / 15%));
		}
	}

	@media screen and (max-width: 767px) {
		box-sizing: border-box;
		width: 275px;

		/* height: 143px; */
		padding: 10px;
		background: rgb(255 255 255) !important;
		border: 1px solid rgb(209 209 225);
		border-radius: 16px;
		box-shadow: rgb(115 78 133 / 15%) 0 15px 25px;
	}
}

.row {
	display: flex;
	align-items: center;

	.port_detail {
		margin-left: 10px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&.info {
		justify-content: space-between;
		margin-top: 15px;
	}
}

.icon_container {
	position: relative;
	top: -7px;
	left: -12px;
	display: flex;
	align-items: center;
	padding: 6px 10px;
	text-align: center;
	border-radius: 2px;
	border-top-left-radius: 6px;

	&.fcl {
		background: #dfeaff;
	}

	&.lcl {
		background: #d7eaff;
	}

	&.air {
		background: #fee;
	}

	@media screen and (max-width: 767px) {
		position: static;

		&.fcl {
			background: transparent;
		}

		&.lcl {
			background: transparent;
		}

		&.air {
			background: transparent;
		}
	}
}

.port_details {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.container_info {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
		margin-top: 20px;
	}
}

.container2 {
	display: block;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.mobile_view {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.desktop_view {
	display: block;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.tag {
	display: none;

	@media screen and (max-width: 767px) {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
}

.tags {
	display: flex;
	justify-content: space-between;
}

.tag_name {
	margin-left: 5px;
}
