.container {
	width: 380px;
	padding: 7px 12px 10px;
	margin-right: 20px;
	border: 1px solid #fada29;
	border-radius: 6px;

	&.disabled {
		background: #f9f9f9;
		border: 1px solid #bdbdbd;
	}

	&.enabled {
		background: #fffef9;

		&:hover {
			filter: drop-shadow(0 4px 80px rgb(0 0 0 / 15%));
		}
	}
}

.row {
	display: flex;
	align-items: center;

	.portDetail {
		margin-left: 10px;
	}

	&.info {
		justify-content: space-between;
		margin-top: 15px;
	}
}

.icon_container {
	position: relative;
	top: -7px;
	left: -12px;
	display: flex;
	align-items: center;
	padding: 6px 10px;
	text-align: center;
	border-radius: 2px;
	border-top-left-radius: 6px;

	&.FCL {
		background: #dfeaff;
	}

	&.LCL {
		background: #d7eaff;
	}

	&.Air {
		background: #fee;
	}

	@media screen and (max-width: 767px) {
		position: static;

		&.FCL {
			background: transparent;
		}

		&.LCL {
			background: transparent;
		}

		&.Air {
			background: transparent;
		}
	}
}
