.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}

.company_details {
	display: flex;
	flex-direction: column;
	padding: 8px 16px 8px 24px;
}

.details {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #5c6186;
}

.poc_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	border-top-right-radius: 4px;
}

.icon_container {
	padding: 12px;
	cursor: pointer;

	@media (max-width: 768px) {
		padding: 4px;
	}
}

.poc_detail {
	max-height: 300px;
	overflow: auto;
}

.trade_type {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}
