.slide {
	0% {
		width: 0;
		opacity: 0;
	}

	100% {
		width: calc(100% - 267px);
		opacity: 1;
	}
}

.container {
	display: flex;
	width: 100%;
	padding: 3px 16px;
	background: #f9f9f9;
	border-radius: 10px;

	&.app {
		border: 1px solid #e0e0e0;
	}

	@media (max-width: 760px) {
		flex-direction: column;
		border: 1px solid #bdbdbd;
	}
	@media (max-width: 1164px) {
		background: #fff;
	}
}

.info_wrapper {
	@media (max-width: 760px) {
		margin-bottom: 124px;

		&.edit {
			margin-bottom: 248px;
		}
	}
}

.edit_container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	padding: 4px 10px;
	background: white;
	border-radius: 10px;

	&.app {
		border: 1px solid #e0e0e0;
	}
}

.pill {
	width: fit-content;
	padding: 2px 6px;
	margin-top: 8px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #dce1ff;
	border-radius: 4px;

	@media (max-width: 760px) {
		margin-top: 0;
		margin-right: 10px;
	}
}

.line {
	border-right: 1px solid #e0e0e0;

	@media (max-width: 760px) {
		width: 100%;
		border: none;
		border-top: 1px solid #d6d6d6;
	}

	&.mobile {
		width: 1px;
		height: 100%;
		border: 1px solid #e0e0e0;
	}
}

.button_wrap {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	width: fit-content;
	padding: 0 4px 2px;
	margin-top: 47px;
	margin-left: auto;
	background-color: #fff;
	border-radius: 0 0 4px 4px;

	@media (min-width: 768px) {
		display: none;
	}
}

.service_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 12px;
	border-right: 2px solid #f2f2f2;

	@media (max-width: 760px) {
		flex-direction: row;
		justify-content: flex-start;
	}

	& svg {
		width: 25px;
		height: 25px;
	}
}

.flex_row {
	display: flex;
	width: 100%;
	font-size: 12px;
	color: #828282;
}

.flex_col {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-items: center;
	padding: 5px 8px 6px 12px;
	font-size: 10px;

	@media (max-width: 1350px) {
		padding-left: 10px;
	}
	@media (max-width: 500px) {
		padding-left: 10px;
	}
}

.container_values {
	display: flex;
	max-width: 200px;
	margin-left: 10px;
	overflow: hidden;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;

	.moreTruck {
		margin-left: 4px;
		color: #5936f0;
		text-decoration: underline;
	}

	@media (min-width: 1371px) and (max-width: 1416px) {
		max-width: 150px;
	}
	@media (min-width: 1290px) and (max-width: 1370px) {
		max-width: 85px;
	}
	@media (min-width: 1164px) and (max-width: 1291px) {
		max-width: 80px;
	}
	@media (min-width: 760px) and (max-width: 1163px) {
		max-width: 180px;
	}
	@media (max-width: 760px) {
		max-width: 150px;
	}
}

.animated_container {
	/* animation: ${slide} 0.4s linear; */
}

.rates_count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
}

.count {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.div {
	display: flex;
	align-items: center;
	padding: 4px;
	margin: 5px;
	font-size: 10px;
	background: #dfe1ef;
	border-radius: 4px;
}

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	font-size: 10px;
	border-right: 2px solid #f2f2f2;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.tool_tip_content {
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid black;
}

.service_type_text {
	margin-top: 2px;
	font-size: 10px;
	color: #8fbdb1;
}

.content_container {
	display: flex;
	flex-wrap: wrap;
}

.btn_container {
	display: flex;
	align-items: center;
	padding-left: 12px;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-left: 2px solid #f2f2f2;
	border-radius: 4px;
	outline: none;

	&:hover {
		font-weight: bold;
	}

	&:focus-visible {
		outline: auto blue;
	}
}
