.container {
	padding-bottom: 0;
}

.heading {
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: 500;
	line-height: 15px;
	color: #393f70;
	text-transform: uppercase;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding-top: 20px;
	margin-top: 40px;
	border-top: 1px solid #cddbff;

	.core-ui-button-root {
		padding: 12px 12px 22px;
		background: #2c3e50;
	}
}
