.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 30px;
}

.success_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 47px;
	margin-bottom: 20px;
	background: #d1fadf;
	border-radius: 50%;
	box-shadow: 0 0 0 13px #ecfdf3;

	svg {
		width: 30px;
		height: 30px;
		fill: #039855;
	}
}

.title {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	color: #101828;

	&.sub_title {
		font-size: 14px;
		font-weight: 400;
		color: #667085;
	}
}

.action {
	margin-top: 20px;
}
