.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 400;
	color: #828282;
}

.header_span {
	font-size: 26px;
	font-weight: 700;
	color: #000;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 100px;
	height: 100px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(112 112 112);
}

.text_span {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	padding: 12px;
	margin: 16px 0;
	color: rgb(0 0 0);
	background: rgb(255 250 230);
	border: 1px solid rgb(255 171 0);
	border-radius: 4px;
}

.card_header {
	font-weight: 700;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(112 112 112);
}

.button {
	margin-bottom: 20px;
	font-size: 16px !important;
	color: rgb(56 121 218) !important;
}
