.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.header{
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.header_span{
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}

.icon_container{
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon{
    width: 100px;
    height: 100px;
}

.text{
    font-size: 16px;
    line-height: 24px;
    color: rgb(112, 112, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.text_span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.card{
    margin: 16px 0px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border: 1px solid rgb(255, 171, 0);
    background: rgb(255, 250, 230);
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.card_header{
    font-weight: 700;
}

.footer{
    font-size: 16px;
    line-height: 24px;
    color: rgb(112, 112, 112);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button{
    font-size: 16px !important;
    color: rgb(56, 121, 218) !important;
    margin-bottom: 20px;
}