.container {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.search_form_components {
  width: 100%;
}

.button_container {
  width: 100%;
  margin-top: 12px;

  display: flex;
  justify-content: flex-end;
}
.row {
  display: flex;
}
.route {
  width: 50%;
}

.goods_loads {
  width: 50%;
  display: flex;
  padding: 0 28px;
  justify-content: space-around;
}
