.header_div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	font-size: 16px;
	color: #060127;
}

.header {
	font-size: 18px;
	font-weight: 600;
}
