.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 6px -6px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #fcdc0061;
}
.container:hover {
  background: #fcdc0061;
}

.active {
  background: #fcdc0061;
}
.partner_name:hover {
  text-decoration: underline;
}

.core_ui_avatar_root {
  width: 32px;
  height: 32px;
}

.core_ui_avatar_text {
  font-size: 16px;
}

.name {
  width: 140px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  color: #4f4f4f;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main {
  display: flex;
  flex-direction: row;
}

.type {
  font-size: 9px;
  font-weight: 400;
  color: #4f4f4f;
}

.partner_details {
  margin-left: 8px;
}
