.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px;
	margin: 6px -17px;
	cursor: pointer;
	background: #f5fafe;
	border-radius: 4px;
}

.partner_name:hover {
	text-decoration: underline;
}

.core-ui-avatar-root {
	width: 32px;
	height: 32px;
}

.core-ui-avatar-text {
	font-size: 16px;
}

.name {
	width: 140px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.main {
	display: flex;
	flex-direction: row;
}

.type {
	font-size: 9px;
	font-weight: 400;
	color: #4f4f4f;
}

.partner_details {
	margin-left: 8px;
}
