.container{
    background: #fada29;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 160px;
	padding: 24px 36px 24px 36px;
	gap: 36px;

	@media screen and (max-width: 767px) {
		gap: 0px;
		padding: 22px 22px 74px 22px;
		min-height: 450px;
	}
}
.head{
    display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 767px) {
		flex-direction: column;
		gap: 6px;
	}
}

.heading{
    font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
}