.card {
	width: 32%;
	margin-left: 10px;
	/* height: calc(100% - 4px); */
	padding: 16px;
	margin: 4px;
	background-color: white;
	border: 1px solid rgb(196 203 218);
	border-radius: 20px;
	box-shadow: rgb(0 0 0 / 5%) 0 0 5px;
	@media (max-width: 760px) {
		width: 100%;
	}

}

.info {
	display: flex;
	margin-bottom: 16px;
}

.info:last-child {
	margin-bottom: 0;
}

.label {
	margin-right: 8px;
	font-weight: 700;
}

.value {
	margin: 0;
	font-weight: 400;
	word-break: "break-all";
}

.incoterm {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 16px;

	::before {
		flex: 1;
		content: "";
		border-top: 1px dashed #66acf7;
	}

	p {
		flex-grow: 0;
		flex-shrink: 0;
		padding: 8px 16px;
		margin: 0;
		font-size: 12px;
		color: white;
		background-color: #66acf7;
		border-radius: 20px;
	}
}

.dash_button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	background-color: transparent;
	border-radius: 20px;

	/* border: 1px dashed #35495d; */
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);

	@media screen and (max-width: 767px) {
		position: relative;
		right: auto;
		left: auto;
		box-sizing: border-box;
		display: flex;
		flex: 0 0 100%;
		flex-direction: column;

		/* width: 96%; */
		max-width: 100%;
		min-height: 1px;
		padding: 16px;
		padding-right: 8px;
		padding-left: 8px;
		margin-right: none;
		margin-bottom: 16px;

		/* margin-left: 0%; */
	}
}

.commodity_details {
	width: 30%;
	padding: 20px 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px dashed rgb(53, 73, 93);
    border-radius: 20px;
    cursor: pointer;

	@media screen and (max-width: 767px) {
		width: 100%;
		margin-bottom: 7px;
		margin-left: 0;
	}
}

.heading {
	display: flex;
	align-items: center;
}

.icon {
	display: flex;
	align-items: center;
	color: red;
}

.head{
	margin-bottom: 10px;
    font-size: 15px;
    color: rgb(125, 125, 125);
    font-weight: 700;
}
.dash{
	display:flex;
	align-items: center;
}
.icon {
	display: flex;
	align-items: center;
	color: red;
	margin-right: 20px;
}