.container {
	.ports_info__container {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: flex-start;
	}

	.ports_info__port-name {
		margin: 0;
		margin-top: 4px;
		font-size: 14px;
		font-weight: 500;
		line-height: 12px;
		color: #393f70;

		@media (min-width: 768px) {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.ports_info__ports_separator__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.ports_connection-svg {
			width: 50px;
			height: 50px;
		}

		.ports_direction-svg {
			width: 150px;
			height: 20px;
		}
	}

	.way {
		font-size: 12px;
		font-weight: 300;
		color: #333;
		text-align: center;
	}
}

.port_name_tooltip {
	font-size: 12px;
	font-weight: 400;
}
