.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.image {
	margin-bottom: 5px;
}

.text {
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: 600;
	color: #170f49;
	text-align: center;
}

.sub_text {
	font-size: 13px;
	font-weight: 400;
	color: #6f6c90;
	text-align: center;
}

.remarks {
	padding: 10px;
	margin-top: 15px;
	margin-left: 19px;
	font-size: 14px;
	font-weight: 500;
	color: #221f20;
}

.red {
	color: red;
}

.flex {
	display: flex;
}

.button {
	margin: 0 4px;
}
