.btn_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.toggle_container {
  margin-right: 16px;
  :global {
    .core-ui-toggle-root {
      font-weight: 500;
      font-size: 12px;
      color: #393f70;
    }
  }
}
