.wrapper {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 4px 12px;
	background: #d9eafd;
	border-radius: 0 0 0 4px;

	.payment_term {
		margin-right: 4px;
		border-radius: 0 0 4px 4px;
	}
}

.text_wrapper {
	display: flex;
	font-size: 10px;
	border-radius: 0 0 0 4px;
}

.text {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	color: #333;
	letter-spacing: 0.02em;

	.spot_negotiation_rate {
		background: #e6fbe9;
	}

	.cogo_assured_rate {
		margin-top: 4px;
		margin-left: 40px;
		font-size: 12px;
		font-weight: 400;
	}

	.schedule_type {
		margin-left: 4px;
	}
}
