.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	& .form-item-container .form-item-label {
		all: unset;
		font-size: 12px;
		font-weight: 400;
		color: #858484;
	}
}
