.button_div {
	display: flex;
	justify-content: center;
	padding: 10px 0 0;
	margin-top: 12px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -2px 4px rgb(20 20 43 / 12%);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.title {
	display: flex;
	align-items: center;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 600;
	color: #f68b21;
}

.textWrapper {
	background: #fdf9f5;
	border-radius: 10px;
}

.text {
	padding: 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px !important;
	color: #221f20;
}
