
.container {
	width: 100%;
	border-radius: 10px;
	display: flex;
	background: #f9f9f9;

	&.app {
		border: 1px solid #e0e0e0;
	}

	@media (max-width: 760px) {
		border: 1px solid #bdbdbd;
		flex-direction: column;
	}

	@media (max-width: 1164px) {
		background: #ffffff;
	}
}

.info_wrapper {
	@media (max-width: 760px) {
		&.edit {
			margin-bottom: 248px;
		}
	}
}

.edit_container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	background: white;
	padding: 4px 10px;
	border-radius: 10px;

	&.app {
		border: 1px solid #e0e0e0;
	}
}

.text {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;

	@media (max-width: 760px) {
		margin-right: 10px;
	}
}

.pill {
 	background-color: #dce1ff;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 10px;
	margin-top: 8px;
	text-transform: uppercase;
	width: fit-content;

	@media (max-width: 760px) {
		margin-right: 10px;
		margin-top: 0px;
	}
}

.line {
	border: 1px solid #e0e0e0;

	@media (max-width: 760px) {
		border: none;
		border-top: 1px solid #d6d6d6;
		width: 100%;
	}

	&.mobile {
		border: 1px solid #e0e0e0;
		height: 100%;
		width: 1px;
	}
}

.button_wrap {
	background-color: #ffffff;
	padding: 0px 4px 2px 4px;
	border-radius: 0px 0px 4px 4px;
	width: fit-content;
	margin-top: 47px;

	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin-left: auto;

	@media (min-width: 768px) {
		display: none;
	}
}

.service_wrap {
	display: flex;
	flex-direction: column;
	padding: 10px 16px;
	justify-content: center;

	@media (max-width: 760px) {
		justify-content: flex-start;
		flex-direction: row;
	}
}

.flex_row {
	display: flex;
	justify-content: space-around;
	padding-right: 20px;
	width: 100%;
	color: #828282;
	font-size: 12px;
	flex-wrap: wrap;
}
 
.flex_col {
  	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	font-size: 12px;
	padding: 10px 16px 12px 24px;

	@media (min-width: 1154px) and (max-width: 1350px) {
		padding-left: 10px;
	}

	@media (max-width: 500px) {
		padding-left: 10px;
	}
}

.container_values {
	color: #000000;
	margin-left: 20px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@media (min-width: 1371px) and (max-width: 1416px) {
		max-width: 150px;
	}

	@media (min-width: 1290px) and (max-width: 1370px) {
		max-width: 85px;
	}

	@media (min-width: 1164px) and (max-width: 1291px) {
		max-width: 80px;
	}

	@media (min-width: 760px) and (max-width: 1163px) {
		max-width: 180px;
	}

	@media (max-width: 760px) {
		max-width: 150px;
	}
}

.flex_display {
	display: flex;
	flex: 1;

	@media (min-width: 1164px) and (max-width: 1370px) {
		display: none;
	}

	@media (max-width: 760px) {
		flex-direction: column;
	}
}

.animated_container {
	/* animation: ${slide} 0.4s linear; */
}

.rates_count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
}

.count {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.loading_container {
	width: 100%;
	border-radius: 10px;
	display: flex;
	background: #f9f9f9;

	&.app {
		border: 1px solid #e0e0e0;
	}

	@media (max-width: 760px) {
		border: 1px solid #bdbdbd;
		flex-direction: column;
	}

	@media (max-width: 1164px) {
		background: #ffffff;
	}
}