.container {
	position: relative;
	background: var(--white, #fff);
	border: 1px solid var(--black-20, #e0e0e0);
	border-radius: 4px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.text {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
}

.input_box {
	position: absolute;
	bottom: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 20px 30px;
	background-blend-mode: multiply;
	backdrop-filter: blur(8px);
}

.input {
	width: 220px;
	margin: 5px 0;
}

.button {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
