.container {
	margin: 12px 8px 4px;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 12px;
}

.label {
	height: 16px;
	margin-bottom: 2px;
	font-size: 12px;
	font-weight: 600;
	color: #393f70;
}

.layout_container {
	display: flex;
	align-items: flex-start;

	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 20px;
			padding: 20px;

			svg {
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
		}

		.core-ui-input-root {
			border: 1px solid #cbcff5;
		}

		.core-ui-select__control {
			border: 1px solid #cbcff5;
		}
	}
}

.single_control {
	.fade-in {
		display: none;
	}
}

.info_container {
	:global {
		.business-checkbox-label {
			color: #393f70;
		}

		.ui_checkbox_group_container {
			padding: 0;
		}
	}
}

.error_message {
	font-size: 12px;
	color: red;
}

.modal_title {
	font-size: 20px;
	font-weight: 600;
	color: #1444a1;
}

.modal_desc {
	margin: 12px 0;
}

.modal {
	padding: 20px;
}
