.flex_div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.label {
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	color: #170f49;
}

.side_label {
	font-size: 18px;
	color: #6f6c90;
	text-align: center;
	padding: 20px;
}

.click {
	color: #f68b21;
	cursor: pointer;
}

.stylediv {
	color: #6f6c90;
	padding: 20px;
}
