.container {
	padding: 16px 32px;
	margin-top: 16px;
	background: #f9f9f9;
	border-radius: 10px;
}

.form {
	display: flex;
	flex-direction: column;

	.form-item-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}

	.form-item-label,
	.business-checkbox-label {
		margin-top: 0;
		margin-bottom: 0;
		margin-bottom: 4px;
		font-size: 12px;
		font-weight: 400;
		color: #828282;
	}

	.business-checkbox-label {
		margin-bottom: unset;
	}

	.core-ui-input-root {
		padding: 12px;

		& .core-ui-input-suffix {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}

	.core-ui-select__control {
		height: 40px;
	}

	.err-msz {
		padding-left: 0;
	}

	.input.toUpperCase,
	.toUpperCase input {
		text-transform: uppercase;
	}

	.business-checkbox-label {
		margin-bottom: 0;
	}

	.form-lower-label {
		color: #67c676;
	}
}

.button_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.lable {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: rgb(130 130 130);
}

.errors {
	min-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.field {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 20px;
			padding: 0;

			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
