.container {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 8px;
	margin: auto;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.styled_button {
	margin-left: 8px;
	color: #828282 !important;
	background: #ecf5ff !important;
	border: none;
	border-radius: 10px;
}
