.filter_container{
    display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@media screen and (max-width: 767px) {
		margin-top: 20px;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
}

.fields_container{
    display: flex;
	justify-content: space-evenly;
	gap: 12px;
    @media screen and (max-width: 767px) {
		margin-top: 20px;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
}

.container{
    align-items: center;

}

.button_container{

    display: flex;
	gap: 22px;

	@media screen and (max-width: 1300px) {
		gap: 8px;
	}
    @media screen and (max-width: 767px) {
		margin-top: 20px;
		justify-content: flex-end;
		width: 100%;
		margin-top: 30px;
	}
}

.error_message{
    margin: 0;
	color: #ff733b;
}