.container {
    margin: 5px;
    width: 300px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.select_container{
    width: 300px;
    margin: 5px;
}

.upload_container {
    width: 400px;
   :global {
        .ui_upload_droparea_container{
            height: 20px;
            padding: 0px;
        }
    }
}

.upload_link {
    margin: 0px 8px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

.button {
    margin: 0px 7px
}