.container{
	width: 80%;
	display: flex;
	justify-content: flex-end;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.mobile-view {
	width: 100%;
}

.button_div{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	
}
.search_wrapper {
	width: 50%;
	margin-right: 10px;
	padding: 0 0 0 10px;
}
.mobile{
	width: 100%;
}