.container {
	display: flex;

	@media screen and (max-width: 768px) {
		width: 100%;
		margin-top: 10px;
	}
}

.button_div {
	display: flex;
	align-items: center;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.search_wrapper {
	width: 270px;
	padding: 0 0 0 10px;
	margin-right: 10px;

	:global {
		.ui_input_container {
			height: 35px;
		}

		.ui_input_suffix {
			margin-right: 10px;
		}
	}
}
