.info_icon {
    margin-left: 5px;
	align-items: center;
	cursor: pointer;
}

.tooltip_container {
    max-width: 250px;
	font-weight: 300;
	font-size: 12px;
}

.row_2 {
    display:flex;
	width: 50%;
	margin-right: 0px ;
	padding-right: 0px ;
	height: 200px;
}

.row_2_mobile {
    display:grid;
	width: 50%;
	margin-right: 0px;
	padding-right: 0px;
	height: 200px;
}

.column {
    display: flex;
	justify-content: center ;
	align-content: center ;
	align-items: center ;
}

.styled_row_2 {
    display: grid;
    grid-template-columns: 100%;
    align-items: center ;
	justify-content: center ;
	background: #fdfbf6;
	border-radius: 12px 0px 0px 12px;
	box-shadow: inset 0px 2.23306px 18.612px rgba(111, 111, 111, 0.055);
	height: 100%;
	width: 100%;
}

.loader_wrapper {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 10px;
}

.loading_text {
    font-size: 20px;
	font-weight: 500;
	font-style: italic;
}

.image {
    height: 30px ;
	margin: 0px ;
}

.column_2 {
    /* padding: 6px 10px 6px 10px; */
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.rowed {
    display: grid;
    font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
    grid-template-columns: 40% 40% 20%;
    gap: 5px;
	padding: 15px;
}

.line {
    border: 1px dashed #f2e3c3;
}

.styled_col {
    display: flex;
	align-items: center;
    justify-content: center;
}

.rowed_2 {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 15px !important;
    border-bottom: 1px solid #f2e3c3 !important;
}