.field {
	margin: 0 0 15px;
	width: 25%;
}
.field:last-child {
	width: 100%;
}

.field_name {
	margin: 0 0 4px;
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.form {
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.error_text {
	color: red;
}
