.footer {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.input {
	display: flex;
	padding: 20px;
}

.email {
	width: 65%;
}

.button {
	margin-left: 10px;
}

.list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.shared_with {
	max-height: 280px;
	overflow-x: hidden;
	overflow-y: auto;
}
