.error {
	font-weight: 500;
	color: #cb6464;
}

.form {
	padding: 10px;
	overflow: scroll;
}

.form::-webkit-scrollbar {
	display: none;
}

.content {
	display: flex;
	align-items: center;
	margin: 10px 20px;
}

.list {
	flex: 1;
	margin: 10px 0;
}

.label {
	margin: 2px 0 8px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(44 62 80);
}
