.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px 35px 20px;
	background: #fcdc00;
}

.section {
	position: relative;
}

.label {
	position: absolute;
	top: -21px;
	left: 50%;
	font-size: 13px;
	text-align: center;
}

.text {
	top: -23px;
	left: -66px;
	width: 151px;
	font-weight: 600;
}

.dot {
	width: 10px;
	height: 10px;
	background: #034afd;
	border-radius: 50%;
}

.line {
	width: 250px;
	height: 1px;
	background: #034afd;
}
