.wrapper {
    padding: 30px;
}

.card {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    height: 150px;
}

.image {
    margin: 0px 7px 0px 0px;
}

.text {
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 6px 0;
}

.sub_heading {
    font-size: 12px;
    margin: 0 0 6px 0; 
}