@media screen and (min-width: 767px) {
	.category_mobile_container {
		display: none;
	}
}

.container {
	margin-bottom: 27px;
}

.title {
	font-size: 14px;
	color: #697989;
}

.hscode_title {
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.input_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
}

.flex_row {
	display: flex;
	align-items: center;
}
.black { color: #333; }
.grey { color: #b7b7b8; }

.color_icon {
	margin-right: 5px;
}

.text {
	margin: 0;
	font-size: 13px;
	text-transform: capitalize;
}

.opt_container {
	max-height: 300px;
	overflow-y: auto;
}

.card {
	display: flex;
	align-items: center;
	padding: 10px 5px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #e7f0ff;
	border-radius: 10px;
}

.scroll_content {
	max-height: 250px;
	overflow-y: scroll;
}

.hs_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hs_details {
	width: 85%;
	padding: 14px 16px;
	margin: 12px 10px;
	background: #fff;
	border: 1px solid #e7f0ff;
	border-radius: 10px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.first_row {
	justify-content: flex-start;
	margin-bottom: 12px;
}

.name {
	width: 35%;
}

.desc {
	width: 70%;
}

.label {
	font-size: 13px;
	color: #333;
}

.value {
	font-size: 12px;
	color: #6b6d81;
}
