.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
	text-align: center;
}

.icon_tridot {
	width: 40px;
	height: auto;
}

.loading_banner {
	width: 300px;
	height: auto;
}

.title {
	font-size: 22px;
	font-weight: 500;
	color: #170f49;
}

.text {
	margin: 10px 0;
	font-size: 16px;
	color: #535075;
}
