.main_div {
	padding: 20px;
}

.info_text {
	margin: 10px;
	font-weight: 600;
}

.info_container {
	width: 100%;
	padding: 4px 0;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 6px rgb(0 0 0 / 15%);
}

.steps_text {
	margin: 10px;
	font-weight: 600;
}
