@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  margin: -10px -21px 0px;
  background: #fcdc0061;
  border-radius: 4px;
  animation: fadeInRight 0.9s ease-in-out;
}

.user_details {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #2d3d4f;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.switch_account {
  font-size: 12px;
  font-weight: 300;
  color: #ee3425;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #2d3d4f;
}

.business_name {
  max-width: 70%;
}
