.menu {
	display: flex;
	align-items: center;

	/* .core-ui-tooltip-root {
		height: 100%;
	} */

	@media (max-width: 767px) {
		display: none;
	}
}

.tooltip_container {
	display: flex;
	align-items: center;
}

.tippy_box {
	z-index: 999;
	max-width: 700px !important;
	background: white;
	border: unset !important;
	border-radius: 8px !important;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%) !important;
}

.text {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px 0;
	margin: 0 12px;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.text:hover {
	line-height: 37px;
	border-bottom: 2.5px solid #ee3425;
}

/* .text:.no-hover {
	border-color: transparent;
} */
.a {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px 0;
	margin: 0 12px;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.a:hover {
	line-height: 37px;
	border-bottom: 2.5px solid #ee3425;
}

/* .a:no-hover {
	border-color: transparent;
} */

.active {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 8px 0;
	margin: 0 12px;
	font-weight: 600;
	line-height: 37px;
	color: #ee3425;
	border-bottom: 2.5px solid  #ee3425;
}
