.code_div {
	display: flex;
	gap: 5px;
}

.count {
	min-width: 40px;
	padding:0px 3px;
	background: #abcd62;
	border-radius: 20px;
	margin-left: 4px;
	color: #000000;
	text-align: center;
}

.text {
    margin-left: 4px;
	text-align: center;
	color: #000000;
}

.chips{
	gap : 0px !important;
}