.modal_body {
	height: 85vh;
	max-height: unset !important;
	padding: 0;
	border-top: none !important;

	:global {
		.ui_tabs_container {
			height: 100%;
		}

		.ui_tab_container {
			width: 33%;
		}

		.ui_tab_list_container {
			width: 100% !important;
		}

		.ui_tabs_tabpanel {
			height: calc(100% - 26px);
		}
	}
}
