.modal_body {
	height: 85vh;
	max-height: unset;
	padding: 0;
	border-top: none;

	:global {
		.ui_tabs_container {
			height: 100%;
		}

		.ui_tab_container {
			width: 33%;
		}

		.ui_tab_list_container {
			width: 100%;
		}

		.ui_tabs_tabpanel {
			height: calc(100% - 26px);
		}
	}
}
