.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #fff;
  margin-top: 8px;

  @media (min-width: 768px) {
    display: none;
  }
}
.header_text {
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  padding: 16px 0px 10px 5px;
}

.profile_container {
  padding: 0px 10px 10px 10px;
  background: #f5fafe;
  border-radius: 4px;
}
.tools_container {
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
}

.border_line {
  border: 1px solid #e0e0e0;
  margin: 16px 0px 6px 0px;
}

.styled_button {
  display: flex;
  background: #fff;
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  font-size: 10px;
  justify-content: space-between;
}

.button_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  padding-left: 12px;
}

.arrow_icon_container {
  font-size: 15px;
}
.line {
  border-bottom: 1px solid #e0e0e0;
  margin: 16px 0px 6px 0px;
}

.active {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: red;
  padding-left: 12px;
}
