.container {
	display: flex;
	flex-direction: column;
	padding: 8px;
	margin-top: 8px;
	background: #fff;

	@media (min-width: 768px) {
		display: none;
	}
}

.header_text {
	padding: 16px 0 10px 5px;
	font-size: 16px;
	font-weight: 400;
	color: #828282;
}

.profile_container {
	padding: 0 10px 10px;
	background: #f5fafe;
	border-radius: 4px;
}

.tools_container {
	margin-top: 8px;
	font-size: 16px;
	font-weight: 400;
	color: #828282;
}

.border_line {
	margin: 16px 0 6px;
	border: 1px solid #e0e0e0;
}

.styled_button {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	font-size: 16px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
	background: #fff;
}

.button_text {
	padding-left: 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #828282;
}

.arrow_icon_container {
	font-size: 15px;
}

.line {
	margin: 16px 0 6px;
	border-bottom: 1px solid #e0e0e0;
}

.active {
	padding-left: 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: red;
}
