.button_container {
	position: sticky;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 0;
	background: #fff;

	.btn {
		display: flex;
	}

	.submit_btn {
		margin-left: 12px;
	}
}

.display_live_cal {
	display: flex;
	justify-content: space-between;
	max-width: 60%;
	margin: 8px;
}

.totals {
	padding: 4px;
	margin-right: 4px;
	font-size: 10px;
	background: #f1efff;
	border-radius: 4px;
}
