.container {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .heading {
  }
}
.heading__sub_title {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.err-msz {
  padding-left: 0;
}

.form-lower-label {
  line-height: unset;
  margin-bottom: unset;
}

.heading__title {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
