.container {
	position: relative;
	display: flex;
	flex-direction: column;

	.core-ui-select-root {
		width: auto;
	}

	@media (max-width: 760px) {
		margin: 0 16px 24px;
	}
	@media (min-width: 760px) and (max-width: 1164px) {
		padding-left: 16px;
	}
}

.text {
	min-width: 150px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	.style {
		margin-top: 10px;
		font-style: italic;
	}

	.link {
		margin-top: 10px;
		margin-left: 8px;
		color: #034afd;
	}
}

.text_bold {
	width: 20%;
	margin-right: 20px;
	margin-bottom: -6px;
	font-weight: 700;
}

.flex_div {
	display: flex;
	flex-direction: column;
	width: calc(100% - 300px);
	margin-right: 16px;

	@media (min-width: 760px) and (max-width: 1164px) {
		width: calc(100% - 267px);
	}
	@media (max-width: 760px) {
		width: 100%;
		margin-right: 0;
	}
}

.results_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.header_wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;

	/* width: calc(100% - 267px); */

	.partner {
		width: 100%;
	}

	@media (max-width: 460px) {
		flex-direction: column;
	}
}

.hover_effect {
	display: flex;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	cursor: pointer;

	:hover {
		height: fit-content;
		background: #e2e2e2;
		border-radius: 100%;
	}
}

.search_and_details {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
}

.flex {
	display: flex;
	justify-content: space-between;
}

.option_text {
	margin-right: 20px;
	font-size: 12px;
	font-weight: 400;
	color: #000;
}

.left_section {
	display: flex;
	display: block;
	flex-direction: column;
	width: 300px;

	@media (max-width: 768px) {
		display: none;
	}
}
