.container {
	display: flex;
	align-items: center;
}

.label {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #333;

	&.cogo-assured {
		color: #404e65;
	}
}

.points {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #333;

	&.cogo-assured {
		color: #404e65;
	}
}
