.container {
	height: 360px;
	overflow-y: scroll;
  :global{
	.ui_checkbox_group_container{
		border: none;
		display: block;
	}
	.ui_checkbox_label{
		font-weight: 500;
		font-size: 12px;
		color: #828282;
	}
}
}

.group {
	margin-bottom: 12px;
}
 
.label {
 	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 4px;
}

.price {
	display: flex;

	.core-ui-select-root.core-ui-select__container.size-md {
		max-width: 100px;
		margin-right: 12px;
	}
}