.flag {
	width: 12px;
	min-width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100%;

	@media (max-width: 768px) {
		margin-right: 0 !important;
	}
}

.right {
	margin-left: 4px;
}

.left {
	margin-right: 4px;
}

.location_wrapper {
	display: flex;
	align-items: center;
	width: 100%;

	@media (max-width: 768px) {
		width: 90%;
	}
}

.icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 16px;

	@media (max-width: 768px) {
		margin: 0;
	}
}

.container {
	display: flex;
	align-items: center;
	width: 65%;
	background: #fff;
	border-right: 1px solid #e0e0e0;

	@media (max-width: 768px) {
		display: flex;
		width: 100%;
		padding: 10px;
		margin-bottom: 5px;
		border: none;
	}
}

.service_wrapper {
	display: flex;
	align-items: center;
	width: fit-content;
	margin-right: 16px;

	@media (max-width: 768px) {
		margin-right: 16px;
		margin-left: 0;
	}
}
