.container {
	display: flex;
	flex-direction: column;

	.form-item-label {
		margin-top: 16px;
		margin-bottom: 4px;
		font-size: 12px;
		font-weight: 400;
		color: #393f70;
	}

	.business-checkbox-group-container {
		margin-top: 16px;
	}

	.business-checkbox-label {
		font-size: 12px;
		font-weight: 400;
		color: #393f70;
	}

	.core-ui-input-control.uppercase {
		text-transform: uppercase;
	}

	.ui-textarea {
		height: 54px;
	}

	.custom-select-input-chipcontainer {
		height: 100%;
	}
}

.btn_grp {
	display: flex;
}

.spinner_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.loading_text {
	padding: 12px;
	font-size: 20px;
	font-weight: 500;
	color: #393f70;
}

.lable {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: rgb(130 130 130);
}

.errors {
	min-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.field {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 20px;
			padding: 0;

			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}

.errors {
	color: rgb(203 100 100);
}
