.title {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		position: absolute;
		font-size: 20px;
		font-weight: 600;
		color: #000000;
	}
}

.contract_id { 
	text-align: center;
	font-size: 16px;
	color: #f68b21;
	font-weight: 600;
	margin-top: -10px;
}

.port_pair {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.port {
	width: 48%;
	color: #404e65;
	font-size: 16px;
	font-weight: 700;
	/* text-align: ${({ destination }) => (destination ? 'right' : 'left')}; */

	span {
		font-weight: 400;
		margin-left: 3px;
	}
}

.detail {
	font-size: 16px;
	font-weight: 500;
	color: #2c3e50;
	margin-bottom: 10px;

	.sub-content {
		font-weight: 400;
		margin: 0 3px;
	}
}

.tag {
	display: inline;
	flex-direction: row;
	background: #dfe1ef;
	padding: 2px 6px;
	border-radius: 4px;
	color: #4f4f4f;
	margin-right: 4px;
 }

.note {
	color: #f68b21;
	font-size: 12px;
	font-weight: 500;
	padding: 30px 0;
}

