.importer_exporter {
	padding: 30px;
}

.loader {
	display: block;
	width: 200px;
	height: 200px;
	margin: 150px auto;
}

.empty_state {
	display: block;
	margin: 100px auto;

	@media screen and (max-width: 767px) {
		width: 270px;
		height: 270px;
	}
}

.segmented_container {
	display: flex;

	@media screen and (max-width: 767px) {
		justify-content: center;
	}
}

.result_container {
	padding: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
}
