.container {
	padding: 20px;
}

.check_box_container {
	display: flex;
	align-items: center;
	margin: 20px 0;

	.checkbox {
		margin-left: 8px;
		font-weight: 500;
	}
}

.button_container {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}
