.container {
	display: flex;
	align-items: center;
	max-width: 92px;
	border: 1px solid #bdaff9;
	border-radius: 4px;

	

    :global{
		.ui_input_control {
		padding: 0;
		
		}
		.ui_input_container{
		text-align: center;
		margin:0px 4px;
		border: none;
	}
}
}

.method_container {
	padding: 10px;
	cursor: pointer;
}

.v_line {
	height: 24px;
	margin: 4px auto;
	border: 1px solid #bdaff9;
}

.styled_text {
	font-size: 12px;
	color: #393f70;
	margin-top: 4px;
}
