.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
	background-color: #fffef4;

	:global {
		.ui_ps_size_md {
			font-size: 14px;
		}
	}
}

.label {
	padding: 0;
	font-size: 16px;
	font-weight: 600;
}

.btn_style {
	font-weight: 600;
}

.div {
	padding: 10px 25px;
	padding-bottom: 20px;
}

.div .scroll_content {
	max-height: 330px;
	overflow: auto;
}

.div .nodata {
	display: flex;
	justify-content: center;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #000;
}

.heading {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 500;
	color: #575f6e;
}

.address_wrapper {
	display: flex;
	align-items: center;
	padding: 10px;
}

.address_wrapper .col_style {
	display: flex;
	align-items: center;
}

.border {
	width: 100%;
	height: 10%;
	cursor: pointer;
	border: 1px solid #e7f0ff;
	border-radius: 10px;
}

.border .name {
	padding: 12px 0 8px 12px;
	font-size: 12px;
	font-weight: 600;
	color: #333;
	text-transform: capitalize;
}

.border .address {
	padding: 6px 0 6px 12px;
	font-size: 12px;
	font-weight: 400;
	color: #575f6e;
	text-transform: capitalize;
}

.border .tax_number {
	padding: 6px 0 6px 12px;
	font-size: 12px;
	font-weight: 400;
	color: #575f6e;
}

.row {
	display: flex;
	align-items: center;
}
