.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 5px 14px 5px 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background: #f9f9f9;
	border-radius: 4px;
	transition: all 0.3s;

	/* .svg {
		* {
			fill: ${({ service }) => (service === 'freight' ? 'black' : undefined)};
		}
	} */
}

.container:hover {
	background: #f2f2f2;
}

.selected {
	background: #f2f2f2;

	div {
		font-weight: bold;
	}
}

.service_name {
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin-right: 10px;
	font-size: 14px;
	line-height: 22px;
	color: black;
}
