.container{
    display: flex;
	flex-wrap: wrap;
}
.core_ui_button_root {
    letter-spacing: 0px;
    white-space: nowrap;

    :hover {
        box-shadow: none;
    }
}
.cargo_detail_pill {
    color: #4f4f4f;
    font-weight: 500;
    text-transform: capitalize;
}