.container{
    display: flex;
	background: #ffffff;
	border-radius: 28px;
	/* transition: 1s ease-in-out; */
	margin: 14px 0;
	box-shadow: 0px 2.2px 18.6px 0px #476fd30e, 0px 17.8px 60px 0px #476fd31c;
}

.map{
	width: 20%
}

.transport{
	width:35%
}

.details{
	width: 45%;
}
