.flex {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.location_div { 
	position: relative;
	margin-bottom: 16px;
}

.dot { 
	width: 14px;
	height: 14px;
	background-color: #5936f0;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	top: 10px;
	transform: translateY(-50%);
	z-index: 1;
}

.horizontal_line { 
	position: absolute;
	height: 100%;
	width: 2px;
	left: -5px;
	top: 18px;
	display: flex;
	border: 2px dashed #5936f0;
}

.container {
	.box:last-child .line {
		display: none;
	}
}

.location { 
	margin-left: 16px;
}
