.flex {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.location_div {
	position: relative;
	margin-bottom: 16px;
}

.dot {
	position: absolute;
	top: 10px;
	left: -10px;
	z-index: 1;
	width: 14px;
	height: 14px;
	background-color: #5936f0;
	border-radius: 50%;
	transform: translateY(-50%);
}

.horizontal_line {
	position: absolute;
	top: 18px;
	left: -5px;
	display: flex;
	width: 2px;
	height: 100%;
	border: 2px dashed #5936f0;
}

.container {
	.box:last-child .line {
		display: none;
	}
}

.location {
	margin-left: 16px;
}
