.layout_container {
	padding: 0 48px;
}
.heading {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #000;
}
.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;
}
.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.field {
	:global {
		.ui_upload_droparea_container {
			min-height: 20px;
		}
	}
}
.lable {
	margin: 32px 0 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: rgb(130 130 130);
}
