.back {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.2;
	color: #333;
	letter-spacing: normal;
	cursor: pointer;

	&:hover {
		transform: translateY(-1px);
	}
}

.row_back {
	display: flex;
	align-items: center;
	width: max-content;
	margin-bottom: 16px;

	&.shipment {
		margin-bottom: 0;
	}
}
