.container{
    background: #fff;
	border-radius: 6px;
	position: relative;
	margin: 10px;
	padding: 10px;
}

.row{
    display: flex;
	justify-content: space-between;

	&.filter {
		justify-content: flex-end;
	}
}

.bar_container{
    height: 200px;
	width: 320px;
	display: flex;
	cursor: pointer;

	@media(max-width: 768px){
		width: 100%;
	}
}

.tool_tip{
    padding: 4px 8px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	display: flex;
	font-size: 12px;
	align-items: center;
}

.box{
	width: 15px;
	height: 15px;
	margin-right: 12px;
}

.label{
    width: max-content;
}

.empty_icon{
    :global{
        svg {
            height: 100px;
        }
        div {
            max-width: none;
        }
    }
}

.side_container{
    display: flex;
	flex-direction: column;
	color: #65677a;
	padding: 0px 3px 0px;
	font-size: 10px;
	margin-top: 50px;
	gap: 15px;
}

.value{
	display: inline-block;
}

.data {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 12px;
}
