.Container {
	position: relative;
	padding: 20px;
	background: #1e1e1e;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
}

.IconContainer {
	position: absolute;
	top: -11px;
	right: -12px;
}

.Header {
	margin-top: 24px;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	letter-spacing: 0.02em;

	.yellow {
		font-weight: bold;
		color: #f5a80e;
	}

	div {
		margin: 12px 0 0;
		font-size: 14px;
		font-style: normal;
		line-height: 21px;
		color: #fff;
	}
}

.InfoContainer {
	display: flex;
	align-items: center;
	padding: 17px 11px;
	margin: 27px 0;
	color: #fff;
	background: #242424;
	border-radius: 10px;
}

.SvgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 12px;
	margin-right: 12px;
	background: #323232;
	border-radius: 10px;
}

.ButtonContainer {
	display: flex;
	justify-content: center;
}
