import styled from '@cogoport/front/styled';

export const LayoutContainer = styled.div`
	background: #f9f9f9;
	border-radius: 10px;
	padding: 32px;
	margin: 16px 0;

	.form-item-label {
		margin: 16px 0 8px 0;
		font-size: 10px;
		color: #333333;
	}
`;

export const SelectContainer = styled.div`
	width: 32.4%;
`;

export const Separator = styled.div`
	border-bottom: 1px solid #e0e0e0;
	width: 50%;
`;

export const SeparatorText = styled.div`
	font-weight: 500;
	font-size: 18px;
	z-index: 10;
	color: #000000;
	margin: 8px;
`;
