.head {
	display: flex;
	justify-content: space-between;
}

.text {
	font-size: 15px;
	font-weight: 600;
}

.view_all {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: #034afd;
	text-decoration-line: underline;
	cursor: pointer;
}

.view_all:hover {
	transform: scale(0.9);
}

.card {
	display: flex;
}
