.head {
	display: flex;
	justify-content: space-between;
}

.text {
	font-size: 15px;
	font-weight: 600;
}

.view_all {
	color: #034afd !important;
	text-decoration-line: underline;
}

.card {
	display: flex;
}
