.head {
	display: flex;
	justify-content: space-between;
}

.text {
	font-size: 15px;
	font-weight: 600;
}

.view_all {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.card {
	display: flex;
	width: 100%;
	max-width: 100%;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
		height: 200px;
		max-height: 250px;
		overflow: scroll;
	}
}
