.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.value {
	font-weight: 300;
	color: #60708f;

	&.action {
		position: absolute;
		top: 8px;
		right: 12px;
	}

	&.amount {
		font-size: 16px;
		font-weight: 400;
	}

	&.buyer {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media screen and (max-width: 768px) {
			max-width: 300px;
		}
		@media screen and (max-width: 480px) {
			max-width: 230px;
		}
	}
}

.value1 {
	font-size: 14px;
	font-weight: 300;
	color: #60708f;
}

.action {
	position: absolute;
	top: 8px;
	right: 12px;
}

.amount {
	font-size: 16px;
	font-weight: 400;
}

.value .buyer {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media screen and (max-width: 768px) {
		max-width: 300px;
	}
	@media screen and (max-width: 480px) {
		max-width: 230px;
	}
}

.label {
	font-weight: 500;
	color: #60708f;
}

.column {
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	width: auto;
}

.expired {
	margin-right: 13px;
}

.label .buyer {
	margin-bottom: 4px;
}

.div {
	display: flex;
	gap: 8px;
	align-items: center;
	width: max-content;
	padding: 4px 16px;
}

.flex {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.line {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 15px;
	background-color: #4c5972;
	transform: translate(-50%, -50%);
}

.horizontal_line {
	align-self: stretch;
	margin: 0 16px;
	border: 1px dashed #eee;
}
