.container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.heading {
  font-weight: 600;
  font-size: 18px;
}
.button_container {
  display: flex;
  justify-content: space-between;
  color: #ee3425;
  align-items: center;
}

.status {
  padding-right: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.upgrade_container {
  background: #fdebe9;
  border: 1px solid #ee3425;
  box-shadow: 0px 0px 8px rgba(44, 62, 80, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.text {
  font-weight: 500;
  font-size: 13px;
  padding: 0px 10px;
}
