.container {
	display: flex;
	justify-content: space-between;

	@media (max-width: 760px) {
		flex-direction: column;
	}
}

.heading {
	font-size: 18px;
	font-weight: 600;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ee3425;

	@media (max-width: 760px) {
		margin-top: 10px;
	}
}

.status {
	padding-right: 15px;
	text-decoration: underline;
	cursor: pointer;
}

.upgrade_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	background: #fdebe9;
	border: 1px solid #ee3425;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.text {
	padding: 0 10px;
	font-size: 13px;
	font-weight: 500;
}
