.file_container {
	display: flex;
	flex-wrap: wrap;
	padding: 3px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.file {
	width: 45%;
	height: 250px;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 52%;
	padding: 0 15px;
}

.detail {
	display: flex;
	align-items: center;
	margin: 7px 0;
}

.button_wrapper {
	display: flex;
	width: 100%;
}

.cancel {
	margin-right: 4px;
}
