.custom_tag {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.popover_tag {
	align-items: center;
	margin-bottom: 8px;
}

.tag_container {
	display: flex;
	align-items: center;
	height: fit-content;
	padding: 4px 8px;
	margin-top: 4px;
	margin-right: 8px;
	font-size: 10px;
	font-weight: 400;
	color: #2c3e50;
	background: #f5fafe;
	border: 0.3px solid #b3d5fb;
	border-radius: 4px;
}

.tag {
	margin: 0;
}

.delete_tag {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #4f4f4f;
	cursor: pointer;
}

.delete_tag:hover {
	color: #e74c3c;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 4px 0 12px;
}

.core-ui-button-root {
	padding: 4px 8px !important;
	font-weight: 500 !important;
	color: #2c3e50 !important;
	text-transform: none !important;
	border: 1.5px solid #2c3e50 !important;
}

.all_tag {
	display: flex;
	align-items: center;
}

.button_wrap {
	display: flex;
	justify-content: flex-end;
}

.tag_display {
	display: flex;
}

.view {
	margin: 0;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #034afd;
	text-decoration-line: underline;
	cursor: pointer;
}
