.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.left_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}
