
.container{
	margin-bottom: 10px;
}

.orTag {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	margin-bottom: 8px;
}
.line {
	height: 0;
	width: 14px;
	border-top: 1.7px solid #bdbdbd;
}
.text {
	font-weight: 500;
	font-size: 13px;
	color: #bdbdbd;
}

.other {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.hyperlink {
	color: #f68b21;
	font-size: 13px;
}

.hyperlink:hover {
	text-decoration: underline;
	cursor: pointer;
}

.divider {
	width: 0;
	border-left: 1px solid #333;
}