.main {
	padding-top: 10px;
	padding-right: 25px;
}

.rotate {
	transform: rotate(270deg);
}

.rotate2 {
	transform: rotate(90deg);
}

.heading {
	padding-bottom: 36px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.wrapper {
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		flex-direction: row;
	}
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.mobile_view {
	@media (max-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.dot_pro {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #dce1e8;
	background: #66acf7;
	border: 2px solid #dce1e8;
	border-radius: 50px;
}

.dot_false {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #dce1e8;
	background: #da9a3b;
	border: 2px solid #dce1e8;
	border-radius: 50px;
}

.dot_true {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #dce1e8;
	background: #67c676;
	border: 2px solid #dce1e8;
	border-radius: 50px;
}

.dot_active_true {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #67c676;
	border: none;
	border-radius: 50px;
}

.dot_active_false {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #da9a3b;
	border: none;
	border-radius: 50px;
}

.dot_active_pro {
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #66acf7;
	border: none;
	border-radius: 50px;
}

.count {
	padding-top: 6px;
	text-align: center;
}

.image {
	width: 38px;
	margin: 0 0 -6px -1px;
}

.line_active {
	width: 0;
	height: 100px;
	margin-left: 17px;
	border: 1px solid #24ba69;

	@media (max-width: 768px) {
		width: 100px;
		height: 0;
		margin-left: 0;
		border: 1px solid #24ba69;
	}
}

.line {
	width: 0;
	height: 100px;
	margin-left: 17px;
	border: 1px solid #dce1e8;

	@media (max-width: 768px) {
		width: 100px;
		height: 0;
		margin-left: 0;
		border: 1px solid #dce1e8;
	}
}

.text_div_mobile {
	width: 100%;
	padding-top: 5px;
	padding-left: 0 !important;
}

.text_div {
	width: 100%;
	padding-top: 5px;
	padding-left: 22px;

	@media (max-width: 768px) {
		width: 100%;
		padding-top: 5px;
		padding-left: 0;
	}
}

.text {
	font-size: 14px;
	font-weight: 500;
	color: #697989;
}

.text_active {
	font-size: 14px;
	font-weight: 500;
	color: #4b5c6d;
}

.div_pro {
	font-size: 10px;
	font-weight: 500;
	color: #66acf7;
}

.div_false {
	font-size: 10px;
	font-weight: 500;
	color: #da9a3b;
}

.div_true {
	font-size: 10px;
	font-weight: 500;
	color: #67c676;
}
