.container {
	display: flex;
	align-items: flex-end;

	@media (max-width: 540px) {
		flex-direction: column;
	}

	.core-ui-select__control {
		height: 40px !important;
		border: solid 1px #e0e0e0;
		box-shadow: none;

		:focus-within {
			border-color: #000;
			box-shadow: none;
		}
	}
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	min-width: 45%;

	@media (max-width: 540px) {
		width: 100%;
		margin-bottom: 16px;
	}

	.custom-select-input-select-value {
		font-size: 14px;
		font-weight: bold;
		line-height: 16px;
		color: #000;
	}

	.custom-select-input-container {
		.custom-select-input-subcontainer {
			border: 1px solid #cbcff5;

			.core-ui-input-root {
				border: unset !important;
			}
		}
	}

	.custom-select-input-subcontainer {
		height: 40px;
		cursor: text;
		border: solid 1px #e0e0e0;
		box-shadow: none;

		:focus {
			border: 1px solid black;
			box-shadow: none;
		}

		:focus-within {
			border: 1px solid black;
			box-shadow: none;
		}

		:hover {
			border: 1px solid black;
			box-shadow: none;
		}
	}

	&.small {
		.custom-select-input-subcontainer {
			height: 40px;
		}
	}
}

.arrow {
	text-align: center;

	@media (max-width: 540px) {
		display: none;
	}
}

.label {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}

.arrowSection {
	display: flex;
	justify-content: center;
	width: 20%;
	margin-bottom: 8px;
}

.error_msg {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	color: rgb(203 100 100);
}
