.container {
	border: 1px solid #d4d4d4;
	border-radius: 8px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 30px;
	padding: 22px 25px;
	padding-bottom: 8px;
}
	

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
	

.header .title {
		font-size: 22px;
		font-weight: 500;
	}

.header.info {
		align-items: center;
		gap: 15px;
}


.header .info .icon_container {
	display: flex;
	align-items: center;
	font-size: 15px;
	gap: 5px;
}


.line {
	height: 3px;
	border-radius: 50px;
	background-color: #fbd69f;
	margin-top: 5px;
	width: 50%;
}
	

.tab_container {
	margin-top: 25px;
	display: flex;
	height: 100%;
	gap: 5px;
}

.tab_container .col1 {
	flex-grow: 0.2;
	margin-top: 80px;
}

.tab_container .col2 {
	flex-grow: 4;
	margin-left: 40px;
}

.feature_card{
	padding: 12px 24px;
    margin-bottom: 15px;
    border-radius: 12px;
	width: 100%;
	border-radius: 12px;
    border: 2px solid rgb(243, 245, 250);
	cursor: pointer;
}

.feature_card.active {
	background: #fdebe9;
	color: #ee3425;
	font-weight: 700;
}

.flex_container{
	display: flex;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

	

	/* .ui-tabs-list {
		width: 330px !important;
		padding: 0 30px !important;
		margin-top: 75px !important;
	}

	.ui-tabs-list-container {
		padding: 14px 24px !important;
		margin-bottom: 15px !important;
		border-radius: 12px !important;
		border: 2px solid #f3f5fa !important;
		background: #fff !important;

		&:hover {
			box-shadow: 0px 10px 45px 0px #00000040 !important;
			box-shadow: 0px 5px 20px -4px #00000040 !important;
		}
		.ui-tabs-list-title {
			font-weight: 300 !important;
			font-size: 15px !important;
			color: #535075 !important;
			-webkit-text-stroke: 0.7px !important;
		}
	}

	.ui-tabs-list-container.active {
		border: none !important;
		background: #232631 !important;
		box-shadow: 0px 10px 45px 0px #00000040 !important;

		.ui-tabs-list-title {
			font-weight: 500 !important;
			color: #fff !important;
		}
	}

	@media screen and (max-width: 767px) {
		.ui-tabs.list {
			overflow-x: auto;
			max-width: 100%;
		}

		.ui-tabs-list {
			width: 50% !important;
			padding: 0 !important;
		}

		.ui-tabs-tabpanel {
			width: 50% !important;
		}

		.ui-tabs-list-container {
			padding: 8px 16px !important;

			.ui-tabs-list-title {
				font-size: 12px !important;
			}
		}
	} */
