.heading{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 8px 10px;
	border-bottom: 1px solid #cddbff;
}

.container{
	width: 200px;

	.section2 {
		padding: 10px;
	}

	.ui-core-checkbox-root.primary.checked {
		background: #333 !important;
		border: 1px solid #333 !important;
	}
}

.title{
	margin: 0 0 5px 0;
	color: #9b9b9b;
	font-size: 12px;
	/* &.heading {
		font-weight: 500;
		font-size: 14px;
		color: #000000;
	} */
}

.chips_container{
	:global {
		.ui_chip_container {
			&.ui_ps_size_md {
				min-width: 0px !important;
			}
		}
	}
}

.section {
	margin-bottom: 10px;
	color: #333;

	.core-ui-select__menu {
		max-width: 150px;
		min-width: 0px;
	}

	&.datarange {
		border-top: 1px dashed #d3d3d3;
		padding-top: 12px;
	}

	&.datarange p {
		margin-bottom: 5px;
	}

	&.checkbox {
		display: flex;
		align-items: center;
		margin-top: 16px;
		padding-top: 12px;
		margin-bottom: 12px;

		border-top: 1px dashed #d3d3d3;
	}
	.num input {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	&.expiringdays {
		display: flex;
		align-items: center;
		margin-top: 18px;

		.num {
			height: 32px;
		}
	}
}

.row{
	font-size: 12px;
	margin-top: 8px;
	padding: 8px 16px 8px 12px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 5px;
	background: #fff;
	p {
		margin: 0;
		margin-left: 10px;
	}
	&.green {
		background: #e9faeb;
	}
	&.orange {
		background: #fff5eb;
	}

	&.send {
		color: #4bb543;
		:hover {
			background: #e9faeb;
		}
	}

	&.drafted {
		color: orange;
		:hover {
			background: #fff5eb;
		}
	}
}

.txt{
	margin: 0;
	color: #9b9b9b;

	&.expiryCheck {
		margin-left: 5px;
		font-size: 12px;
	}

	&.expiryDay1 {
		margin-right: 5px;
		font-size: 12px;
	}
}

.style_tag{
	&.core-ui-tag-root {
		background-color: #f7cdcd;
	}
}

.import_export {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

.type_label{
	font-weight: 500;
	font-size: 10px;
	display: flex;
	align-items: center;
	color: #6b6d81 !important;
	padding-left: 3px;
}

.sub_header{
	color: #6b6d81;
	font-size: 12px;
	margin: 5px 0;
	padding: 8px 0px 4px 8px;
}

.clear_Btn {
	display: flex;
	align-items: center;
	color: #6f6f6f;
	margin: 0;
	cursor: pointer;
	font-size: 12px;
	:hover,
	:active {
		color: #333;
		font-weight: 500;
	}

	&.disable {
		cursor: not-allowed;
	}
	p {
		margin: 0;
		margin-right: 2px;
	}

}