.A {
	display: block;
	width: 100%;
	padding: 0;
	margin: 16px 0;
	font-size: 14px;
	line-height: 16px;
	color: black;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

.A:hover {
	text-decoration: underline;
}