.container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-block: 17px;
	overflow-y: scroll;

	::-webkit-scrollbar {
		display: none;
	}
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;

	.cogo_loader {
		width: 100px;
		height: 100px;
	}
}

.body {
	display: flex;
	flex-direction: column;
	width: 98%;
}

.btn_box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 98%;
	margin-top: 20px;
}

.plus_icon {
	width: 15px;
	height: 15px;
}

.dummy_footer {
	width: 100%;
	height: 70px;
}
