.end {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 17% ;
    margin-bottom: 50px;
}

.hyperlink {
    color:#034AFD;
    margin-left: 3px;
    text-decoration: underline;
    a {
        color: inherit;
    }
}

