

.section {
	display: flex;
	align-items: center;
	&.section-one {
		margin-bottom: 10px;
	}
}

.container {
	padding: 16px;
	box-shadow: 0 15px 10px -15px rgba(98, 127, 172, 0.2);
	background: #fff;
	margin: 0 -16px;
}

.title {
	font-weight: 500;
	font-size: 20px;
	color: #404e65;
}

.refName {
	margin-right: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #333333;
}
