.flex_container {
	display: flex;

	&.direction {
		flex-direction: column;
	}

	&.flex_content {
		align-items: center;
		justify-content: space-between;
		margin: 16px 0;
	}
}

.header_text {
	font-size: 12px;
	font-weight: 500;
	color: #2c3e50;
}
