
.layout_container {
	padding: 0 32px 16px 32px;

	@media (max-width: 767.99px) {
		padding: 16px;
	}
}
.form-item-label {
		margin: 32px 0 8px 0;
		font-weight: 400;
		font-size: 14px;
		color: #2c3e50;

		@media (max-width: 767.99px) {
			margin: 16px 0 8px 0;
		}
}

.ui-textarea {
		font-family: Roboto;
}

.core-ui-input-root {
	border: 1px solid #cddbff !important;
}

.ui-textarea-root {
	border: 1px solid #cddbff;
}

.main_upload_container {
	border: 1px dashed #cddbff;
}

.button_container{
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;

	@media (max-width: 767.99px) {
		margin-top: 24px;
	}
}


.layout{
	display:flex;
	flex-wrap: wrap;
}

.field{
	padding:10px 10px 0px 20px;
	:global{
		.ui_upload_droparea_container{
			min-height:20px;
		}
	}
}

.lable{
	margin: 10px 0px 8px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(44, 62, 80)
}

.errors{
	color: red;
}
.button{
	border-radius: 2px;
}