.layout_container {
	padding: 0 32px 16px;

	@media (max-width: 767.99px) {
		padding: 16px;
	}
}

.ui_textarea {
	font-family: Roboto;
}

.main_upload_container {
	border: 1px dashed #cddbff;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;

	@media (max-width: 767.99px) {
		margin-top: 24px;
	}
}

.layout {
	display: flex;
	flex-wrap: wrap;
}

.field {
	padding: 10px 10px 0 20px;

	:global {
		.ui_upload_droparea_container {
			min-height: 20px;
		}
	}
}

.lable {
	margin: 10px 0 8px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(44 62 80);
}

.errors {
	color: red;
}

.button {
	border-radius: 2px;
}
