/* import { IcMArrowRotateDown } from '@cogoport/icons-react'; */

.container{
	width: 94%;
	height: 78px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 40px;
}

.card_title{
	font-weight: 500;
	font-size: 14px;
	&.icon {
		width: 100%;
		justify-content: center;
	}
}

/* export const caret = styled(IcMArrowRotateDown)`
	margin-left: 5px;
	width: 12px;
	&.rotate {
		transform: rotate(180deg);
	}
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
`; */

.row {
	width: 100%;
	height: 78px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
}

.styles_col {
	display: 'flex';
	alignItems: 'center';
};
