.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail {
	margin-top: 16px;
	font-size: 14px;
	color: #7d7d7d;
}

.button {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

.list {
	padding: 20px;
	margin-bottom: 100px;
}

.input {
	@media screen and (max-width: 767px) {
		position: fixed;
		left: 5%;
		width: 88%;
	}
}

.cancel {
	background-color: white;
}
