.container {
	margin: -16px;
}

.main {
	padding: 0 24px 24px;
	background: white;
}

.rmdetail_container {
	display: flex;
	justify-content: space-between;
}

.line {
	height: 1px;
	margin: 0 0 16px;
	background: #deeaf5;
}

.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
	text-decoration-line: none;
}
