.container {
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 20px 20px;
}


@media screen and (max-width: 767px) {
	.wrapper {
		max-width: 100%;
		height: auto;
		padding: 0;
		overflow-x: auto;
	}
}

.div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 99%;
	padding: 5px;
}


@media screen and (max-width: 767px) {
	.div {
		flex-wrap: wrap;
		gap: 1rem;
		width: fit-content;
		height: auto;
	}
}

.div_ctn {
	width: 100%;
}

.div_ctn.mobile_view:hover {
	transition: transform 0.8s;
	transform: scale(1.1);
}

.plan_wrapper.hover_class.activate_later {
	border-radius: 0 4px 4px;
}

.plan_wrapper.hover_class.activate_later:hover {
	border: 0.5px solid #ffde01;
	border-radius: 0 4px 4px;
}

.selected {
	background: #fff;
	border: 1px solid #db4634;
	transition: transform 1s;
	scale: 1.1;
}

.hover_class:hover {
	z-index: 2;
	cursor: pointer;
	background-color: white;
	border: 0.5px solid #db4634;
	border-radius: 4px;

	:global {
		.ui_button_container {
			:local {
				color: #fff;
				background-color: #ee3425;
				animation: wiggle 1s linear infinite;
			}
		}
	}
}

.plan_wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
	border: 1px solid #e0e0e0;
	border-radius: 4px;

	:global {
		.ui_button_container:hover {
			animation: unset;
		}
	}
}


@keyframes wiggle {
	0%,
	2% {
		transform: rotateZ(0);
	}

	10% {
		transform: rotateZ(-5deg);
	}

	15% {
		transform: rotateZ(2.5deg);
	}

	20% {
		transform: rotateZ(-2.5deg);
	}

	25% {
		transform: rotateZ(1.5deg);
	}

	30% {
		transform: rotateZ(-1deg);
	}

	30%,
	100% {
		transform: rotateZ(0);
	}
}

/* @media screen and (max-width: 768px) {
	z-index: auto;
	transform: ${(props) => (props.isSelected ? '' : 'scale(1.02) !important')};
	transition: ${(props) => (props.isSelected ? '' : 'transform 0.3s !important')};
}

@media screen and (max-width: 767px) {
	width: 100%;
	scale: ${(props) => props.isSelected && '1.025'};
	transition: ${(props) => (props.isSelected ? '' : 'scale 0.3s !important')};
} */

.view_details_button {
	display: flex;
	align-items: center;
	padding: 14px 24px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	background: #ee3425;
	border-radius: 6px;
}

.enterprise {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon_container {
	margin-left: 5px;
	transition: 0.2s ease-in;
}

.icon_container svg {
	vertical-align: middle;
}

.icon_container.rotate_icn {
	transform: rotate(-180deg);
}

.btn_container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.feature_plan {
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
}

.feature_plan.showfeature {
	height: auto;
	max-height: max-content;
	transition: 0.6s ease-in-out;
}

.tag {
	display: inline-flex;
	padding: 2px 4px;
	font-size: 14px;
	font-weight: 600;
	background: #f3fafa;
	border: 1px solid #cfeaed;
	border-width: 1px 1px 0;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
}

.days {
	margin-right: 4px;
	font-weight: 600;
}
