.box {
	min-width: 328px;
	height: 160px;
	padding: 14px 10px;
	margin: 16px 0;
	border: 1px solid rgb(209 209 225 / 80%);
	border-radius: 8px;
}

.date_row {
	justify-content: space-between;
}

.date_col {
	display: flex;
	padding: 5px;
}

.flexs {
	display: flex;
	align-items: center;
}

.date {
	margin-right: 5px;
	font-size: 14px;
	font-weight: 600;
}

.date_digits {
	font-size: 14px;
}

.border {
	border-right: 2px solid rgb(28 28 28);
}

.amount {
	justify-content: space-between;
	margin-top: 8px;
}

.last {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
}

.quote_no {
	font-size: 14px;
	font-weight: 300;
	color: rgb(6 148 230);
	text-decoration: underline;
	cursor: pointer;
}

.dot {
	width: 9px;
	height: 9px;
	margin-right: 5px;
}
