.box {
	position: relative;
	box-sizing: border-box;
	width: 328px;
	height: 160px;
	padding: 14px 10px;
	margin: 16px 16px 16px 0;
	background: rgb(255 255 255);
	border: 1px solid rgb(209 209 225 / 80%);
	border-radius: 8px;
}

.row_design {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.names {
	font-size: 14px;
	font-weight: 800;
}

.first_row {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.first_col {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.date_row {
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.date_col {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.flexs {
	display: flex;
	gap: 5px;
	align-items: center;
	-webkit-box-align: center;
}

.date {
	font-size: 14px;
	font-weight: 1000;
}

.date_digits {
	font-size: 14px;
	font-weight: 300;
}

.border {
	border-right: 2px solid rgb(28 28 28);
}

.amount {
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 8px;
}

.last {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 13px;
	font-weight: 300;
	-webkit-box-align: center;
}

.top {
	justify-content: space-between;
	-webkit-box-pack: justify;
}

.head {
	display: flex;
	gap: 5px;
	padding: 5px;
}

.quote_no {
	font-size: 14px;
	font-weight: 300;
	color: rgb(6 148 230);
	text-decoration: underline;
	cursor: pointer;
}

.circle {
	width: 9px;
	height: 9px;
	fill: none;
}

.dot {
	width: 9px;
	height: 9px;
}
