.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 767.99px) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0 16px;
	}
}

.label_text {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 300;

	@media (max-width: 767.99px) {
		&::after {
			content: " : ";
		}
	}
}

.value_text {
	font-size: 12px;
	font-weight: 800;

	@media (max-width: 767.99px) {
		margin-left: 4px;
	}
}

.sub_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 4px;

	@media (max-width: 767.99px) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: unset;
	}
}

.last_item {
	margin-bottom: 0;
}
