.create_container {
	.ie_create_new_service {
		height: 0;
		padding: 44px 8px;
		margin: 0 0 18px 4px;
		cursor: pointer;

		@media (max-width: 768px) {
			width: 100%;
		}

		:hover {
			border: 1px solid #4097f5;
		}
	}
}
