.container {
	position: relative;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 60px;

	@media screen and (max-width: 767px) {
		margin-top: 20px;
		font-size: 12px;
	}
}

.row {
	position: absolute;
	left: 4%;
	display: flex;
	font-size: 17px;

	@media screen and (max-width: 767px) {
		position: static;
		margin-bottom: 20px;
		font-size: 12px;
	}
}

.text {
	margin: 0;
}

.icon_container {
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin: auto;
	border-bottom: 1px solid black;

	.img {
		width: 30px;
	}

	.origin {
		position: relative;
		top: 3px;
		right: 14px;
	}

	.destination {
		position: relative;
		top: 3px;
		left: 14px;
	}

	@media screen and (max-width: 767px) {
		width: 75%;

		.img {
			width: 25px;
			height: 25px;
		}
	}
}

.port_details {
	position: relative;
	display: flex;
	justify-content: center;
	width: 45%;
	margin: auto;
	margin-bottom: 20px;

	.origin {
		position: absolute;
		top: 7px;
		left: -21%;
		width: 200px;
		text-align: center;
	}

	.destination {
		position: absolute;
		top: 7px;
		right: -21%;
		width: 200px;
		text-align: center;
	}

	.tags_div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}

	@media screen and (max-width: 767px) {
		align-items: flex-start;
		justify-content: space-between;
		width: 90%;
		margin-top: 5px;

		.origin {
			position: relative;
			top: 0;
			left: -10%;
			width: 150px;
			font-size: 10px;
		}

		.destination {
			position: relative;
			top: 0;
			right: -10%;
			width: 150px;
			font-size: 10px;
		}

		.tags_div {
			margin-top: 0;
		}
	}
}

.tag {
	padding: 2px 12px;
	margin-right: 12px;
	font-size: 12px;
	background-color: #cfeaec;
	border-radius: 4px;
}
