

.container{
	border: 1px solid #cddbff;
	border-radius: 4px;
	background-color: #ffffff;

	/* margin-bottom: ${(props) => props.marginBottom}; */
}

.content_visible{
	display: flex;
	flex-direction: column;

	padding: 16px;
}

.heading_container {
	margin-bottom: 8px;
}

.billing_details_container {
	margin-bottom: 8px;
}

/* export const SelectedServicesInvoiceToContainer = styled.div``; */

/* .fade_in = animate({
	enter: {
		...fadeIn,
		easing   : 'easeOutCubic',
		duration : 500,
	},
	exit: {
		opacity  : [1, 0],
		easing   : 'easeInCubic',
		duration : 300,
	},
}); */

.content_hidden {
	border-top: 1px solid #cddbff;
}

.hidden_content_toggler_container {
	cursor: pointer;

	background-color: #f2f6ff;
	border-radius: 0 0 4px 4px;
	padding: 4px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	& svg {
		width: 16px;
		height: 8px;

		transform: ${(props) => `rotate(${props.showHiddenContent ? '180deg' : '0deg'});`};
		transition: transform 0.5s;
	}
}
