.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 12px;
}

.item_head {
	display: flex;
	margin-left: 4px;

	@media (max-width: 768px) {
	}
}

.heading {
	margin: 0 4px 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #2c3e50;
}

.sub_heading {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #67c676;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.details {
	min-width: 400px;
	min-height: 90px;
	padding: 8px;
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 4px;

	@media (max-width: 768px) {
		min-width: 300px;
	}
}

.button {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;

	.core-ui-button-root {
		padding: 6px 10px !important;
		background: #2c3e50;
	}
}
