.down_btn {
	display: flex;
	gap: 5px;
	align-items: center;
	color: black;
	cursor: pointer;
	user-select: none;
	background-color: #fff;
}

.down_btn_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: #fedc01;
	border: 1px solid black;
	border-radius: 50%;
}
