.header {
	position: relative;
	width: 100%;
	padding: 20px;
	margin-bottom: 15px;
	background: #2c3e50;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
}

.body {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	letter-spacing: 0.02em;
}

.blue {
	margin: 0 10px;
	font-weight: bold;
	color: #b3d5fb;
}

.mainBody {
	display: flex;
	align-items: center;
	padding: 20px;
	margin: 32px 0;
	background: #f1f3fe;
	border-radius: 10px;
}

.sub {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 12px;
	margin-right: 12px;
	background: #e0e4fd;
	border-radius: 10px;
}

.img {
	width: 1em;
	height: 1em;
	fill: none;
}

.text {
	margin: 0;
	font-size: 12px;
	line-height: 1.4;
	text-align: left;
}

.Bottom {
	display: flex;
	justify-content: center;
}
