.container {
	box-sizing: border-box;
	padding: 20px;
	margin-left: 10px;
	background: #fff;
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.text {
	font-size: 18px;
	font-weight: 600;
}

.des {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 500px;
	color: #7278ad;
}

.text_des {
	margin-top: 10px;
	font-size: 10px;
	color: #828282;
}

.input_box {
	width: 200px;
	margin: 20px;
}

.button {
	margin-top: 30px;
}

.seaction {
	display: flex;
	justify-content: flex-start;
}
