.body_container {
	height: 78%;
	padding: 10px 20px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: height 0.3s;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 10px;

	img {
		width: 20px;
		height: 20px;
	}
}

.refresh {
	cursor: pointer;
}
