.container {
	width: 100%;
}

.card {
	margin: 0;
}

.btn_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
	margin-bottom: 8px;
}

.btn_group {
	display: flex;
	justify-content: space-between;
}
