.radio_wrapper {
	.ie {
		.core-ui-radio-radio-container.primary {
			border: 1.5px solid black;
		}
		.core-ui-radio-radio-container.primary.checked {
			border: 1.5px solid #034afd;
		}

		.core-ui-radio-icon.primary.checked {
			background-color: #034afd;
		}
	}
	.core-ui-radio-root {
		margin-bottom: 14px;
		width: 100%;
	}
	.core-ui-radiogroup-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 16px;
		justify-content: flex-start;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
	.core-ui-radio-label {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.04em;
		color: #393f70;
		opacity: 1;
		margin-left: 10px;
	}
}

.div {
	display: flex;
	color: #393f70;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	margin: 16px 16px 8px 0px;
	.image {
		margin-left: 10px;
	}
}

.image_container {
	margin-left: 10px;
}

.text {
	color : #393f70;
	font-size:16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.flex {
	display: flex;
}