.div {
	display: flex;
	margin: 16px 16px 8px 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;

	.image {
		margin-left: 10px;
	}
}

.image_container {
	margin-left: 10px;
}

.text {
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	color: #393f70;
	text-transform: uppercase;
}

.flex {
	display: flex;
}

.btn {
	width: 100%;

	&:hover {
		box-shadow: 0 8px 16px rgb(57 63 112 / 25%);
	}
}
