.container {
	margin-bottom: 20px;
	border: 2px solid #eceff8;
	border-radius: 4px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 40px;
	padding: 6px 12px;
	margin-bottom: 16px;
	font-weight: 600;
	background: #eceff8;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 12px 16px;
	font-weight: 500;
}

.detail {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
