.styled_modal{
    @media screen and (max-width: 767px) {
        :global{
            .ui-modal-dialog {
                width: 380px !important;
            }
        }
	}
    :global{
        .ui-modal-dialog {
            height: 520px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .ui-modal-overlay {
            background-color: #4f4f4f;
            opacity: 0.7;
            height: 100% !important;
        }
    }
	
}
