.container {
	display: flex;
}

.card {
	display: flex;
	width: 33%;
	padding: 13px 45px;


	&.delay {
		border-right: 1px solid #f2e3c3;
		border-left: 1px solid #f2e3c3;
	}
}

.selected{
	background-color: #FDFBF6;
	border-bottom: 4px solid #EE3425;

	.text{
		font-weight: 600;
		color: #333;
	}
}

.icon_container {
	margin-right: 10px;

	svg {
		margin-top: 2px;
	}
}

.info_container {
	width: 85%;
}

.text {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	color: #828282;
}

.footer {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.num {
	margin: 8px 0 0;
	font-size: 18px;
	font-weight: 600;
}
