.container {
  margin-bottom: 18px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4f4f4f;
  margin-left: 4px;
}

.main {
  background: white;
  border-radius: 4px;
  padding: 15px 13px;
  display: flex;
  align-items: center;
}

.value {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-bottom: 3px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sub {
  font-size: 12px;
  line-height: 14px;
  color: #828282;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.error {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #cb6464;
}
