.container {
	margin-bottom: 18px;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.title {
	margin-left: 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: #4f4f4f;
}

.main {
	display: flex;
	align-items: center;
	padding: 15px 13px;
	background: white;
	border-radius: 4px;
}

.value {
	margin-bottom: 3px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sub {
	overflow: hidden;
	font-size: 12px;
	line-height: 14px;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.error {
	margin: 0;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	color: #cb6464;
	letter-spacing: 0.02em;
}
