.container {
	display: flex;
	align-items: center;
	max-width: 208px;
	padding: 0 5px;
	margin-left: 4px;
	background: #9befa8;
	border-radius: 4px;

	.value-chip {
		width: 24px;
		height: 24px;
		padding: 0;
		margin-left: 1px;
		background: transparent;
		border: none;
	}
}

.text {
	display: block;
	overflow: hidden;
	font-size: 12px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cross_icon {
	width: 24px;
	height: 24px;
	fill: #9befa8;
}
