.container {
	display: flex;
	flex: 3;
}

.card {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.utilization {
	display: flex;
	flex: 2;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}

.sub_label {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}
