.container {
	padding: 20px;

	@media screen and (max-width: 767px) {
		padding: 20px 0;
	}
}

.map_container {
	border: 1px solid #e79600;
	border-radius: 16px;
}

.data_container {
	padding: 16px;
	margin-top: 20px;
	border-radius: 12px;
	box-shadow: 0 0 8px 0 #627fac33;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: normal;

	@media screen and (max-width: 767px) {
		padding: 20px 0;

		.row {
			justify-content: space-between;
		}
	}
}

.col {
	flex-shrink: 0;
	width: 33%;
	padding: 0 8px;
	margin: 20px 0;

	@media screen and (max-width: 767px) {
		padding: 20px 0;

		.row {
			justify-content: space-between;
		}

		.col {
			width: auto;
		}
	}
}

.label {
	font-size: 12px;
	color: #828282;
}

.country_info {
	display: flex;
	align-items: center;

	img {
		margin-right: 6px;
	}
}

.hsCode {
	color: #f68b21;
}
