.container{
    border-top: 1px solid #fbe39f;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.steps{
    display: flex;
	justify-content: center;
	align-items: center;
}