.container {
	width: 100%;
	border-radius: 10px;
	display: flex;
	background: #f9f9f9;
	padding: 10px 16px;

	.service_provider {
		display: none;
	}

	&.app {
		border: 1px solid #e0e0e0;
	}

	@media (max-width: 768px) {
		border: 1px solid #bdbdbd;
		flex-direction: column;
	}

	@media (max-width: 1164px) {
		background: #ffffff;
	}
}

.info_wrapper {
	@media (max-width: 768px) {
		margin-bottom: 124px;

		&.edit {
			margin-bottom: 248px;
		}
	}
}

.edit_container { 
	display: flex;
	align-items: flex-end;
	width: 100%;
	background: #ffffff;
	padding: 4px 10px;
	border-radius: 10px;

	&.app {
		border: 1px solid #e0e0e0;
	}
}

.pill {
	background-color: #dce1ff;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 10px;
	margin-top: 8px;
	text-transform: uppercase;
	width: fit-content;

	@media (max-width: 768px) {
		margin-right: 10px;
		margin-top: 0px;
	}
}

.line {
	border-right: 1px solid #e0e0e0;

	@media (max-width: 768px) {
		border: none;
		border-top: 1px solid #d6d6d6;
		width: 100%;
	}
}

.button_wrap {
	background-color: #ffffff;
	padding: 0 4px 2px 4px;
	border-radius: 0 0 4px 4px;
	width: fit-content;
	margin-top: 47px;

	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin-left: auto;

	@media (min-width: 768px) {
		display: none;
	}
}

.service_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 12px;
	border-right: 2px solid #f2f2f2;

	@media (max-width: 768px) {
		justify-content: flex-start;
		flex-direction: row;
	}

	& svg {
		width: 25px;
		height: 25px;
	}
}

.service_type_text {
	font-size: 10px;
	font-weight: 500;
	/* color: ${(props) =>
		props.search_type === 'trailer_freight' ? '#8fbdb1' : 'rgb(180, 226, 162)'}; */
	margin-top: 2px;
}

.flex_row {
	display: flex;
	width: 100%;
	color: #828282;
	font-size: 12px;
	border-left: 2px solid #f2f2f2;
}

.container_values {
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #dfe1ef;
	border-radius: 4px;
	margin: 2px 5px;
	padding: 4px 8px;

	.moreTruck {
		color: #5936f0;
		text-decoration: underline;
		margin-left: 4px;
	}

	@media (min-width: 1164px) and (max-width: 1464px) {
		max-width: 250px;
	}

	@media (min-width: 768px) and (max-width: 1163px) {
		max-width: 180px;
	}

	@media (max-width: 768px) {
		max-width: 150px;
	}
}

.animated_container {
	/* animation: ${slide} 0.4s linear; */
}

.rates_count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
}

.count {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.div {
	display: flex;
	align-items: center;
	border-radius: 4px;
	margin: 5px;
	padding: 4px;
	flex-direction: column;
}

.freight_details_div {
	font-size: 10px;
	display: flex;
	width: 40%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-left: 2px solid #f2f2f2;
	padding-left: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.freight_Ddtails_text {
	font-size: 14px;
	font-weight: 500;
	width: 90%;
}

.freight_details {
	font-size: 12px;
	font-weight: 350;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
}

.container_div {
	width: 100%;
}

.multi_container_values {
	font-size: 12px;
	margin-top: 8px;
	padding: 4px 8px;
	border-radius: 4px;
	background: #dfe1ef;
}

.button_border {
	border: 1px solid rgb(53, 110, 253);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 6px;
}
