.container {
	display: flex;
	width: 100%;
	padding: 10px 16px;
	background: #f9f9f9;
	border-radius: 10px;

	.service_provider {
		display: none;
	}

	&.app {
		border: 1px solid #e0e0e0;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		border: 1px solid #bdbdbd;
	}
	@media (max-width: 1164px) {
		background: #fff;
	}
}

.info_wrapper {
	@media (max-width: 768px) {
		margin-bottom: 124px;

		&.edit {
			margin-bottom: 248px;
		}
	}
}

.edit_container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	padding: 4px 10px;
	background: #fff;
	border-radius: 10px;

	&.app {
		border: 1px solid #e0e0e0;
	}

	.cancel {
		height: 36px;
		padding: 6px 10px;
		margin-left: 8px,;
		font-size: 18;
	}
}

.pill {
	width: fit-content;
	padding: 2px 6px;
	margin-top: 8px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #dce1ff;
	border-radius: 4px;

	@media (max-width: 768px) {
		margin-top: 0;
		margin-right: 10px;
	}
}

.line {
	border-right: 1px solid #e0e0e0;

	@media (max-width: 768px) {
		width: 100%;
		border: none;
		border-top: 1px solid #d6d6d6;
	}
}

.button_wrap {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	width: fit-content;
	padding: 0 4px 2px;
	margin-top: 47px;
	margin-left: auto;
	background-color: #fff;
	border-radius: 0 0 4px 4px;

	@media (min-width: 768px) {
		display: none;
	}
}

.service_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 12px;
	border-right: 2px solid #f2f2f2;

	@media (max-width: 768px) {
		flex-direction: row;
		justify-content: flex-start;
	}

	& svg {
		width: 25px;
		height: 25px;
	}
}

.service_type_text {
	margin-top: 2px;
	font-size: 10px;
	font-weight: 500;
	color: rgb(180 226 162);

	&.trailer_color {
		color: #8fbdb1;
	}
}

.flex_row {
	display: flex;
	width: 100%;
	font-size: 12px;
	color: #828282;
	border-left: 2px solid #f2f2f2;
}

.container_values {
	padding: 4px 8px;
	margin: 2px 5px;
	overflow: hidden;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #dfe1ef;
	border-radius: 4px;

	.moreTruck {
		margin-left: 4px;
		color: #5936f0;
		text-decoration: underline;
	}

	@media (min-width: 1164px) and (max-width: 1464px) {
		max-width: 250px;
	}
	@media (min-width: 768px) and (max-width: 1163px) {
		max-width: 180px;
	}
	@media (max-width: 768px) {
		max-width: 150px;
	}
}

.animated_container {
	/* animation: ${slide} 0.4s linear; */
}

.rates_count {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
}

.count {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4px;
	margin: 5px;
	border-radius: 4px;
}

.freight_details_div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 40%;
	padding-left: 24px;
	overflow: hidden;
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left: 2px solid #f2f2f2;
}

.freight_Ddtails_text {
	width: 90%;
	font-size: 14px;
	font-weight: 500;
}

.freight_details {
	width: 90%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 350;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container_div {
	width: 88%;
}

.multi_container_values {
	padding: 4px 8px;
	margin-top: 8px;
	font-size: 12px;
	background: #dfe1ef;
	border-radius: 4px;
}

.btn_container {
	display: flex;
	align-items: center;
	padding-left: 12px;
	font-size: 14px;
	cursor: pointer;
	border-left: 2px solid #f2f2f2;
}

.button_border {
	width: 30px;
	height: 30px;
	padding: 7px;
	border: 1px solid rgb(53 110 253);
	border-radius: 50%;
}

.edit_icon {
	margin: auto;
	color: rgb(53 110 253);
	border-radius: 50%;
}

.flex {
	display: flex;
	direction: column;
}
