.label {
	display: flex;
	align-items: center;
	overflow: hidden;
	font-size: 12px !important;
	font-weight: bold;
	line-height: 14px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sub_label {
	margin-left: 4px;
	font-weight: normal;
}

.container {
	margin-bottom: 24px;
}

.error {
	box-sizing: border-box;
	padding: 10px 8px;
	background: #fef9f9;
	border: 1px solid #cb6464;
	border-radius: 4px;
}

.space_between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.calculate {
	margin-top: 30px;
}

.calc_label {
	/* identical to box height */

	display: flex;
	align-items: center;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;

	/* Gray 3 */

	color: #828282;
	letter-spacing: 0.02em;
}

.col {
	padding: 0 8px;
}
