.modalContainer {
	margin-top: 10px;
}

.web_view {
	display: block;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.mobile_view {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}
