.container {
	margin: 10px;

	.marker {
		width: 89%;
		margin: 10px 0 0 2px;
	}

	.slider {
		width: 90%;
		height: 6px;
		cursor: pointer;
		border-radius: 5px;
		transition: opacity 0.2s;
	}

	.coin {
		display: flex;
		gap: 2px;
		align-items: center;
	}
}

.flex_box {
	display: flex;
	justify-content: space-between;
}
