.error_message {
	font-size: 14px;
	color: #cb6464;
}

.col {
	padding: 8px;
}

.icon_div {
	display: flex;
	align-items: center;
}

.image {
	margin-left: 3px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.display {
	position: absolute;
	display: block;
	padding-right: 4px !important;
	padding-left: 4px !important;
	color: #697989 !important;
	background-color: white;
	opacity: 1 !important;
	transition: transform 1.4s;
	transform: translate(10px, -52px);
}


.row {
	display: flex;

	@media (max-width:760px) {
		flex-direction:column;
	}
}