.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	text-align: center;
}

.image {
	width: 100px;
	height: 100px;
}

.title {
	font-size: 22px;
	font-weight: 500;
	color: #170f49;
}

.noresult {
	font-size: 19px;
	font-weight: 400;
}

.txt {
	margin: 10px 0;
	color: #535075;
}

.error {
	font-size: 16px;
}
