.header_mobile {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;

	@media (max-width: 760px) {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-top: 20px;
	}
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.button_div {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;
	width: 50%;

	@media (max-width: 760px) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
	}
}

.search_wrapper {
	width: 50%;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.segment_faq {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;

	:global {
		.ui_chip_container {
			min-width: 120px;
			height: 35px;
			border-right: none;
			border-radius: 0;
		}

		.ui_chip_container:first-child {
			border-radius: 10px 0 0 10px;
		}

		.ui_chip_container:last-child {
			border-right: 1px solid #e0e0e0;
			border-radius: 0 10px 10px 0;
		}

		svg {
			display: none;
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;

		:global {
			.ui_chip_container {
				min-width: 62px;
				height: 35px;
				border-right: none;
				border-radius: 0;
			}
		}
	}
}

.list_container {
	padding: 10px;
}

.mobile_create {
	position: fixed;
	right: 20px;
	bottom: 110px;
}

.rotate {
	transform: rotate(45deg);
}

.status_div {
	display: flex;
	gap: 5px;
	align-items: center;
}

.chips {
	gap: 0 !important;
}

.table {
	padding: 0;
	border-collapse: separate;
	border-radius: 8px;

	:global {
		.ui_table_head_container {
			height: 60px;
		}

		.ui_table_body_row {
			height: 70px;
		}
		.ui_table_body_row:hover{
			background-color: #fff;
		}
	}
}

.pagination_div {
	display: flex;
	justify-content: flex-end;
}

.empty {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.flex_end {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.tables_wrapper {
	@media (max-width: 768px) {
		width: 100%;
		overflow: scroll;
	}
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.icon {
	margin-left: 4px ;
}