.header_mobile {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.button_div {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}

.button_div_mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.search_wrapper {
	width: 60%;
}

.segment_faq {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.list_container {
	padding: 10px;
}

.mobile_create {
	position: fixed;
	right: 20px;
	bottom: 110px;
}

.rotate {
	transform: rotate(45deg);
}

.status_div {
	display: flex;
	align-items: center;
}

.chips {
	gap: 0 !important;
}
