.container {
  margin: 20px 0;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.subtitle {
  font-size: 12px;
  display: flex;
  gap: 5px;
}

.note1 {
  font-weight: 500;
}

.note2 {
  color: red;
  font-weight: 300;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .title_container {
    padding: 0 10px;
  }
}

.card_container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  max-width: 96%;
  scroll-behavior: smooth;
}

.empty_state {
  margin: auto;
  display: block;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .card_container {
    max-width: 100%;
    padding: 0 6px;
  }
}

.card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 15px;
	width: 230px;
	height: 110px;
	color: #3b536b;
}

@media screen and (max-width: 768px) {
  .card {
    background: #ffffff;
    border-radius: 30px;
    gap: 1rem;
    width: 150px;
    height: 170px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	padding: 15px;
  }
}

.icn_container {
  cursor: pointer;
}

.animated_arrow {
  position: absolute;
}

.animated_arrow:hover {
  animation: bounceAlpha 0.8s linear infinite;
  animation-direction: normal;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.card_footer_container.row {
  align-items: center;
}

.card_footer_container .warn {
  color: #db4634;
}

.count_container {
  display: flex;
  align-items: baseline;
  gap: 3px;
}

.count {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .card_title_container.row {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .panic_container,
  .chill_container {
    width: 84px;
    height: 4px;
    border-radius: 100px;
  }

  .chill_container {
    background: #f4f5f7;
  }

  .chill_container .progress {
    background: #12557a;
    opacity: 0.4;
    height: 4px;
    border-radius: 100px;
  }

  .panic_container {
    background: #f9dbd7;
    border-radius: 100px;
  }

  .panic_container .progress {
    height: 4px;
    background: #ee3425;
    border-radius: 100px;
  }

  .mobile_progress_holder {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.icon_container {
  border: 1px solid black;
  padding: 2px;
  border-radius: 100%;
  cursor: pointer;
}

.icon_container svg {
  vertical-align: bottom;
  stroke: #000;
  stroke-width: 0.5px;
}

.warning {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: #db4634;
}

.load_container {
  margin: auto;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    z-index: 2;
  }
}
