.container {
	margin: 20px 0;
}

.title {
	font-size: 20px;
	font-weight: 500;
}

.subtitle {
	display: flex;
	gap: 5px;
	font-size: 12px;
}

.note1 {
	font-weight: 500;
}

.note2 {
	font-weight: 300;
	color: red;
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
	.title_container {
		padding: 0 10px;
	}
}

.card_container {
	display: flex;
	gap: 30px;
	justify-content: flex-start;
	max-width: 96%;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.empty_state {
	display: block;
	margin: auto;
	font-size: 17px;
}

@media screen and (max-width: 768px) {
	.card_container {
		max-width: 100%;
		padding: 0 6px;
	}
}

.card_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 230px;
	height: 110px;
	padding: 15px;
	color: #3b536b;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	.card {
		gap: 1rem;
		width: 150px;
		height: 170px;
		padding: 15px;
		background: #fff;
		border-radius: 30px;
		box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
	}
}

.icn_container {
	cursor: pointer;
}

.animated_arrow {
	position: absolute;
}

.animated_arrow:hover {
	animation: bounceAlpha 0.8s linear infinite;
	animation-direction: normal;
}

@keyframes bounceAlpha {
	0% {
		opacity: 1;
		transform: translateX(0) scale(1);
	}

	100% {
		opacity: 0;
		transform: translateX(10px) scale(0.9);
	}
}

.row {
	display: flex;
	justify-content: space-between;
}

.card_footer_container.row {
	align-items: center;
}

.card_footer_container .warn {
	color: #db4634;
}

.count_container {
	display: flex;
	gap: 3px;
	align-items: baseline;
}

.count {
	font-size: 20px;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.card_title_container.row {
		flex-direction: column-reverse;
		gap: 0.5rem;
	}

	.panic_container,
	.chill_container {
		width: 84px;
		height: 4px;
		border-radius: 100px;
	}

	.chill_container {
		background: #f4f5f7;
	}

	.chill_container .progress {
		height: 4px;
		background: #12557a;
		border-radius: 100px;
		opacity: 0.4;
	}

	.panic_container {
		background: #f9dbd7;
		border-radius: 100px;
	}

	.panic_container .progress {
		height: 4px;
		background: #ee3425;
		border-radius: 100px;
	}

	.mobile_progress_holder {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}

.icon_container {
	padding: 2px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 100%;
}

.icon_container svg {
	vertical-align: bottom;
	stroke: #000;
	stroke-width: 0.5px;
}

.warning {
	display: flex;
	gap: 5px;
	align-items: center;
	margin: 5px 0;
	font-size: 11px;
	color: #db4634;
}

.load_container {
	display: block;
	margin: auto;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.footer {
		z-index: 2;
	}
}

.web_view {
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}

.mobile_view {
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}
