.container {
	max-width: 400px;
	max-height: 430px;
	margin-top: 15px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: 768px) {
		width: auto;
	}

	.rfq {
		width: 100%;
		min-width: 300px;
	}
}

.title {
	margin: 0 14px 8px 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: black;

	.margin_top {
		margin-top: 14px;
	}
}

.line {
	height: 1px;
	margin: 12px 0;
	background: #bdbdbd;
}
