.container {
    flex: 5;
	display: flex;
	flex-direction: column;
	padding: 10px 24px;
	gap: 10px;
}

.title {
    display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	color: #4f4f4f;
	background: #fef3e9;
	padding: 4px 24px;
}

.title_text {
    font-weight: 500;
	font-size: 14px;
}

.price_title {
    display: flex;
	justify-content: space-between;
	margin-right: 16px;
	align-items: center;
}

.basic_title {
    font-weight: 500;
	font-size: 16px;
	color: #2c3e50;
	padding: 4px 16px;
}

.basic_price {
    font-weight: 500;
	font-size: 14px;
	color: #2c3e50;
}

.info_data {
    display: flex;
	flex-direction: column;
	margin-bottom: 12px;
	margin-top: -10px;
}

.info {
    display: flex;
	justify-content: space-between;
	margin: 2px 16px;
	border-bottom: 1px solid #e0e0e0;
}

.info_text {
    font-weight: 400;
	font-size: 14px;
	color: #4b5c6d;
}

.info_price {
    font-weight: 400;
	font-size: 14px;
	color: #2c3e50;
}