.container {
	padding: 8px 12px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.name {
	margin: 3px 0;
	font-size: 16px;
	font-weight: 500;
}

.details {
	display: flex;
	align-items: center;
}

.email {
	display: flex;
	align-items: center;
	color: #4f4f4f;
}

.mobile {
	display: flex;
	align-items: center;
	margin: 3px 10px;
	color: #4f4f4f;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}
