.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 42%;
	transition: 0.2s;

	@media (max-width: 768px) {
		width: calc(100% - 30px);
		font-size: 12px;
	}
}

.index_list {
	padding: 2px 8px;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 100%;
}

.styled_arrow {
	width: 20px;
	height: 20px;
	margin: 0 12px;
	fill: #393f70;
}

.location {
	display: flex;
	flex-direction: column;
	width: fit-content;

	@media (max-width: 768px) {
		width: fit-content;
	}
}

.name {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 700;
}

.port {
	overflow: hidden;
	font-size: 13px;
	font-weight: 500;
	color: #393f70;
}

.code {
	margin-left: 2px;
	font-size: 13px;
	font-weight: 400;
	color: black;
}

.country {
	font-size: 13px;
	color: #393f70;
}
