.heading {
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;

	.save {
		color: #f68b21;
	}
}

.div {
	display: flex;
	justify-content: flex-end;
}

.wrapper {
	display: flex;
	justify-content: center;
	padding: 10px;
	padding-top: 0;
}

.wrapper .loader {
	width: 500px !important;
	height: 400px !important;
}

.line {
	width: 44%;
	height: 3px;
	margin: 8px auto;
	background: #f68b21;
	border-radius: 12px;
}

@media screen and (max-width: 767px) {
	.heading {
		font-size: 20px;
	}

	.wrapper {
		flex-wrap: wrap;
		padding: 0;
	}
}

.feature_line {
	display: flex;
	justify-content: center;
	padding: 60px 0;
}

.features {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	color: #000;
	text-align: center;
}

.extended_padding {
	padding: 40px;
}
