/* .faden = animate({
	enter: {
		...fadeIn,
		easing: 'easeInOutQuad',
		duration: 300,
	},
}); */

.container {
	position: relative;
	padding: 16px 24px;
	margin-bottom: 22px;
	border-radius: 10px;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}

.heading {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.tool_tip_text {
	font-size: 12px;
}

.freight_stroke {
	position: absolute;
	top: 10px;
	left: 0;
	width: 6px;
	height: 32px;
	background-color: #356efd;
	border-radius: 0 4px 4px 0;
}

.layout_container {
	display: flex;
	padding: 32px;
	margin: 16px 0;
	background: #f9f9f9;
	border-radius: 10px;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
}

.headingContainer {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.borderLeft {
	position: absolute;
	top: 4px;
	left: 0;
	border-left: 3px solid #e0e0e0;
	border-radius: 0 0 4px 4px;
}

.body {
	width: 95%;
	margin-left: 16px;
	font-size: 16px;
	color: #000;
}

.icon_caret {
	display: flex;
}
// propritorship/ partnershop  ---> name , photo
// not Tick
// signing auto=hority   update work scope
