.seller {
	display: flex;
	align-items: center;
	padding: 0 30px;
	margin: 15px;

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}

.name {
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		font-size: 18px;
	}
}

.container {
	text-align: right;
	background: #ffd60a;

	.title {
		display: inline-block;
		padding: 0 15px;
		margin: 0;
		margin-right: 13%;
		font-size: 45px;
		background: #fff;
	}

	@media screen and (max-width: 767px) {
		.title {
			padding: 0 10px;
			font-size: 25px;
		}
	}
}
