.ship_background {
    width: 100vw;
    height: 100vh;

    position: relative;

    background: url("./background.png") no-repeat center center fixed;
    background-size: cover;

    @media (max-width: 768px) {
        background-color: #fef199;
        background: none;
    }
}

.ship_container {
    width: 250px;
    height: 250px;
    position: absolute;
    transition: top 1s, left 1s, transform 1s;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* border: 1px solid red; */
    }
}
