.bg {
	position: absolute;
	z-index: 301 !important;
	width: 100vw;
	height: 100vh;
	background-image:
		url("https://cogoport-production.sgp1.digitaloceanspaces.com/13d19ecd97ec53e54df1b86e2b2e0176/top-left.svg"),
		url("https://cogoport-production.sgp1.digitaloceanspaces.com/30e5f81a0d3473b7f2b9e56f183f04c3/top-right.svg"),
		url("https://cogoport-production.sgp1.digitaloceanspaces.com/301ef4dca79fa2630f657ccc6f845af8/right-center.svg"),
		url("https://cogoport-production.sgp1.digitaloceanspaces.com/4de96b3bfcff8a01c17ef83d56939531/left-bottom.svg");
	background-repeat: no-repeat;
	background-position: top right 742px, top right, top right, left bottom;
}

.container {
	position: relative;

	:global {
		.leaflet-container {
			background-color: #fff !important;
		}
	}
}

.ship_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: url("./background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;

	@media (max-width: 768px) {
		background: #fef199;
	}
}

/* .ship_background {
    width: 100vw;
    height: 100vh;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    position: relative;

    background: url("./background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    @media (max-width: 768px) {
        background: #fef199;

        img {
            display: none;
        }
    }
}

.ship_container {
    width: 250px;
    height: 250px;
    position: absolute;
    transition: top 1s, left 1s, transform 1s;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
} */
