.container {
    background: #fafbfe;
	margin-top: 28px;
	width: 100%;
	display: flex;
	padding: 20px;
	flex-direction: row;
}

.container_mobile {
    background: #fafbfe;
	margin-top: 28px;
	width: 100%;
	display: flex;
	padding: 20px;
	flex-direction: column;
}