.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 84px 0;
}

.heading {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 600;
	color: #393f70;
}

.sub_heading {
	font-size: 12px;
	font-weight: 500;
	color: #393f70;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 48px;
}
