.container {
	position: absolute;
	bottom: 9%;
	left: 16%;
	display: flex;
	align-items: center;
	opacity: 0.1;

	@media screen and (max-width: 767px) {
		bottom: 10%;
		left: 28%;
	}
}

.logo {
	width: 15px;
}
