.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-top: 22px;
	background-color: #fbd221;
	min-height: 200px;
}

.title {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}
