.component {
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
}

.container {
	@media (min-width: 768px) {
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
	}
}

.core_ui_button_root {
	background: #2c3e50;
}

.title {
	margin: 24px 0 0;
	font-size: 160px;
	font-weight: 700;
	color: #336f89;
}

.description {
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 500;
	color: #033349;
}

.button_container {
	display: flex;
	justify-content: center;
}
