.header {
	display: flex;
	align-items: center;
	padding: 0 30px;
	margin: 15px;
	-webkit-box-align: center;

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}

.header_data {
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		font-size: 18px;
	}
}

.quote {
	text-align: right;
	background: rgb(255 214 10);
}

.quote_data {
	display: inline-block;
	padding: 0 15px;
	margin: 0 13% 0 0;
	font-size: 45px;
	background: rgb(255 255 255);

	@media screen and (max-width: 767px) {
		padding: 0 10px;
		font-size: 25px;
	}
}

.main_section {
	padding: 30px 56px 0;

	@media screen and (max-width: 767px) {
		padding: 30px 23px;
		font-size: 12px;
	}
}

.section2 {
	position: relative;
	margin: 30px auto 60px;

	@media screen and (max-width: 767px) {
		margin-top: 20px;
		font-size: 12px;
	}
}

.product_details {
	padding: 10px 30px;
	margin-top: 20px;
}

.main_container {
	display: flex;
	margin-top: 40px;

	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
	}
}

.Bottom {
	padding: 18px 45px;
	margin-top: 30px;
	border-top: 2px solid #ffc906;

	@media screen and (max-width: 767px) {
		font-size: 10px;
	}
}

.border {
	background: #fff;
	border: 1px solid black;
}

.mainclass {
	width: 80%;
	margin: 20px auto;

	@media screen and (max-width: 767px) {
		/* width: 100%; */
		margin: auto;
	}
}

.top {
	display: flex;
	align-items: center;
	margin: 10px 0;
	cursor: pointer;
}

.icon {
	display: inline;
	padding: 0 5px;
	padding-top: 4px;
	margin-right: 3px;
	border: 1px solid black;
	border-radius: 50px;
}

.prod {
	margin: 10px 0;
}
