.item {
	display: flex;
	align-items: center;
}

.card {
	height: 100%;
	padding: 16px 8px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);

	@media (max-width: 767px) {
		max-width: 100%;
		margin-top: 8px;
		overflow-x: scroll;
	}
}

.item {
	display: flex;
	padding: 10px;

	@media (max-width: 767px) {
		width: max-content;
	}
}

.list_item {
	display: flex;
	gap: 2px;
	align-items: center;
	width: 30%;

	@media (max-width: 767px) {
		width: 200px;
	}
}

.card_container {
	@media (max-width: 767px) {
		overflow-x: scroll;
	}
}

.loading {
	margin-bottom: 10px;
}

.status {
	width: 25%;
}
