.container {
	display: flex;
	flex-direction: column;
	padding: 16px;

	@media (max-width: _md) {
		width: 100%;
	}
}

.flex {
	display: block;
}

.text {
	margin: 0;
	font-size: 12px;
	line-height: 1.4;
	color: rgb(130 130 130);
}

.head {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.4;
}
