.headerDiv{
    display: flex;
    justify-content: space-between;
    min-width: 950px;
    margin: 10px;
}

.header{
    font-size: 16px;
    font-weight: 500;
}

.labelText{
    font-size: 12px;
    font-weight: 400;
    color: #4F4F4F;
}

.valueText{
    font-size: 14px;
    font-weight: 500;
    color: #221F20;

}

.dataDiv{
    width: 33%;
    padding: 10px 0px;
}

.flexDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.docContainer{
    display: flex;
	align-items: center;
	justify-content: space-between;
	height: 46px;
	width: 60%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	cursor: pointer;
	padding: 0px 10px;
	margin: 10px 0px;
}