.headerDiv {
	display: flex;
	justify-content: space-between;
	min-width: 1100px;
	margin: 10px;
}

.header {
	font-size: 16px;
	font-weight: 500;
}

.labelText {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.valueText {
	font-size: 14px;
	font-weight: 500;
	color: #221f20;
}

.dataDiv {
	width: 33%;
	padding: 10px 0;
}

.flexDiv {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.docContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 46px;
	padding: 0 10px;
	margin: 10px 0;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}
