.search {
	display: flex;
	justify-content: flex-end;
	margin: 7px 0;
}

.input {
	width: 300px;
}

.select_container {
	width: 300px;
	margin: 0 5px;
}

.filters_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 0;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.table_title {
	width: 70px;
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}
