.container {
	padding: 24px;
	margin-top: 24px;
	background-color: rgb(247 255 255 / 17.8%);

	@media (max-width: _md) {
		width: calc(100% + 32px);
		padding: 16px 16px 0;
		margin-top: 16px;
		margin-left: -16px;
	}
}

.heading {
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.5;
	color: _grey.primary_text;
	letter-spacing: normal;
}

.ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
}

.li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 48px;
	margin: 16px 16px 16px 0;
	margin-right: 16px;
	color: #1a4696;
	border: 1px solid _blue_primary.default;
	border-radius: 24px;
}
