.header{
    display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;

	h1 {
		color: #282b2e;
		font-weight: 700;
		font-size: 22px;
		margin: 0px;
	}

	p {
		color: #7d7d7d;
		font-size: 12px;
		margin: 0px;
	}
	@media (max-width: 760px) {
		h1 {
			font-size: 15px;
		}
		flex-direction: column;
		align-items: normal;
	}
}
.left_container {
    display: flex;
    align-items: center;
    svg {
        display: block;
        margin-right: 16px;
        fill: #282b2e;
        cursor: pointer;
    }
	@media (max-width: 760px) {
		svg {
			margin-right: 5px;
		}
	}
}
.right_container {
    align-items: center;

}
.booking_number{
	margin: 0;
	color: #7d7d7d;
	font-weight: 700;
	font-size: 12px;

	@media (max-width: 760px) {
		color: #8dc2f9;
		font-weight: 400;
		text-align: center;
		display: flex;
		justify-content: flex-end;
	}
}
.row{
	display: flex;
	flex-direction: row;
	gap: 20px;
	@media (max-width: 760px) {
		flex-direction: column;
	}
}
.col{
	display: flex;
	flex-direction: column;
	width: 30%;
	@media (max-width: 760px) {
		width: 100%;
	}
}
.tracking{
	display: flex;
	flex-direction: row;
	@media (max-width: 760px) {
		margin-top: 10px;
	}
}