.touch_points {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}

.pin_code {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	color: #333;
}

.pin_code_link {
	padding-left: 6px;
	margin-left: 6px;
	font-size: 12px;
	font-weight: 500;
	color: #5936f0;
	text-decoration: underline;
	cursor: pointer;
	border-left: 1px solid black;
}

.dot {
	width: 14px;
	height: 14px;
	margin-right: 8px;
	background-color: #5936f0;
	border-radius: 50%;
}

.location_div {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 400;
	color: #333;
}

.container {
	display: flex;
	flex-direction: column;
}
