.lang {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border-radius: 8px;
}

.language_pop {
	:global {
		.tippy-box {
			padding: 0;
			background-color: #fff;
		}

		.tippy-content {
			padding: 0;
		}
	}
}

.selected_lang {
	margin-left: 4px;
	font-size: 15px;
	font-weight: 700;
	color: #333;
}

.globe_container {
	display: flex;
	align-items: center;
	padding: 4px 6px;
	border-radius: 4px;
	box-shadow: 0 1px 4px #e4e9ff;

	&:hover {
		box-shadow: 0 1px 6px #bdbdbd;
		transition: 0.2s;
	}
}
