.container {
	display: flex;
	margin: 10px;
}

.select_wrapper {
	width: 200px;

	.core-ui-select__menu {
		min-width: 200px !important;
		max-width: 50% !important;
	}
}

.tags {
	display: flex;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid #bdbdbd;
	border-radius: 4px;

	svg {
		width: 18px;
		height: 18px;
		margin-right: 4px;
	}
}
