.container {
	background: #f8f9fa;
	padding: 20px;
	border-radius: 8px;
	.sorry {
		color: #f68b21;
		padding: 0px 0px;
	}
}

.title_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: 500;

	.name {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.toggle {
		font-size: 12px;
	}
}


.section {
	height: 380px;
	overflow-y: scroll;
}

.text_total {
	font-weight: 500;
	font-size: 18px;
	color: #2c3e50;
}
