.image {
	width: 200px;
}

.container {
	position: relative;

	:global {
		.leaflet-top {
			z-index: 950;
		}
	}
}

.mobile_view {
	padding-left: 16px;
}

.loading_screen {
	position: absolute;
	top: 35%;
	left: 5%;
	z-index: 500;
	align-self: center;
	width: 90%;
	color: #4f4f60;
	text-align: center;
}

.blur_screen {
	filter: blur(8px);
}

.leaflet_container {
	background-color: #fff !important;
	border: none !important;
}

.icon {
	position: absolute;
	right: -15px;
	z-index: 1;
	cursor: pointer;
}

.map_unable {
	margin: 10px;
	font-size: large;
	font-weight: 600;
	color: #282b2e;
}

.text_card {
	text-align: center;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.modal_body {
	padding: 20px;
}
