.container {
	padding: 10px 20px 20px;
}

.main_heading {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #363e6e;
	border-bottom: 1px solid #ded7fc;
}

.total_heading {
	font-size: 16px;
	font-weight: 500;
	color: #363e6e;
}

.total_amount {
	font-size: 20px;
	font-weight: 700;
	color: #393f70;
}

.footer_div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	border-top: 1px solid #ded7fc;
}
