.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 20px;
}

.info_container {
	width: 35%;
}

.milestone_container {
	margin-top: 20px;
}

.section {
	width: 62%;
}
