.main_div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title_div {
	display: flex;
	gap: 6px;
	align-items: center;
	margin-bottom: 20px;
	font-size: 19px;
	font-weight: 500;
}

.title {
	display: flex !important;
	flex-direction: column;
	align-items: center !important;
	font-weight: 600;
}

.sub_heading_icon {
	width: 30px;
	height: 30px;
	margin-right: 6px;
}

@media screen and (max-width: 767px) {
	.line_wrapper_mobile {
		display: flex;
		width: 100%;
	}
}
@media screen and (min-width: 767px) {
	.line_wrapper_web {
		display: flex;
		width: 90%;
	}
}

.line {
	flex-grow: 1;
	width: 70%;
	height: 2px;
	margin: -2px !important;
	background-color: #f68b21;
	border-width: 0;
}

.label {
	display: flex;
	padding-bottom: 3px;
	font-weight: 200;
}

.mandatory {
	color: red;
}

.title2_styles {
	display: flex;
	flex-direction: column;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 17px;
}

.title2 {
	display: flex;
	align-items: center;
}

.optional {
	margin-left: 5px;
	font-size: 12px;
}

.line2 {
	width: 30%;
	height: 2px;
	margin: 0;
}

.text {
	margin-top: 5px;
	color: red;
}

.button_wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
}

.submit_button {
	width: 100px;
}

.loader {
	margin: none;
}

&.disabled {
	opacity: 0.4;
}

.element_style {
	padding-bottom: 20px;
}

.style_loading {
	height: 30px;
	margin: 0;
}

.additional_style {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
