
.main_div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title_div{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 19px;
	margin-bottom: 20px;
	font-weight: 500;
}

.title {
	display: flex !important;
	align-items: center !important;
	flex-direction: column;
	font-weight: 600;
}

.sub_heading_icon{
	height: 30px;
	width: 30px;
	margin-right: 6px;
}

.line_wrapper_web{
	display: flex;
	width: 90%;
}

.line_wrapper_mobile{
	display: flex;
	width: 100%;
}

.line{
	height: 2px;
	border-width: 0;
	width: 70%;
	background-color: #f68b21;
	flex-grow: 1;
	margin: -2px !important;
}

.label{
	font-weight: 200;
	display: flex;
	padding-bottom: 3px
}
.mandatory {
	color: red;
}

.title2_styles{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 4px;
	
}

.title2 {
	display: flex;
	align-items: center;
}
.optional {
	font-size: 12px;
	margin-left: 5px;
}

.line2 {
	width: 30%;
	height: 2px;
	margin: 0px;
}

.text{
	margin-top: 5px;
	color: red;
}

.button_wrapper{
	width: 100%;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}

.submit_button{
	width: 100px;
}


.loader {
	margin: none ;
}
&.disabled {
	opacity: 0.4;
}

.element_style{
	padding-bottom: 20px;
}

.style_loading{
	height: 30px ;
	margin: 0px ;
}

.additional_style{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}