/* import Button from '@cogoport/front/components/admin/Button';
import styled from '@cogoport/front/styled';

import Loading from '../../assets/loadingwithoutcolor.svg';

export const StyledLoading = styled(Loading)`
	height: 30px !important;
	margin: 0px !important;
`;

export const ButtonWrapper = styled.div`
	width: 100%;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
`;

export const SubmitButton = styled(Button)`
	background: #db4634 !important;
	font-weight: 400;
	font-size: 16px;
	margin-top: 18px;
	border: none !important;
	color: white !important;
	text-transform: capitalize !important;
	height: 35px !important;
	padding: 15px !important;
	display: flex !important;
	align-items: center !important;
	align-content: center !important;
	margin-left: 15px !important;
	.loader {
		margin: none !important;
	}
	&.disabled {
		opacity: 0.4;
	}
`;

export const DIV = styled.div`
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.element {
		::placeholder {
			font-size: 14px !important;
			color: #d6d6d6 !important;
		}

		.core-ui-select__control--is-focused {
			border: 1px solid blue !important;
			border-radius: 5px !important;
		}
	}
`;

export const Label = styled.div`
	font-weight: 300;
	display: flex;
	.mandatory {
		color: red;
	}
`;

export const Title = styled.div`
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 19px;
	margin-bottom: 20px;
	font-weight: 500;

	.title {
		display: flex !important;
		align-items: center !important;
		flex-direction: column;
	}
	svg {
		height: 30px;
		width: 30px;
		margin-right: 6px;
	}
`;

export const LineWrapper = styled.div`
	display: flex;
	width: ${({ isMobile }) => (isMobile ? '40% !important' : '90% !important ')};
`;

export const Line = styled.hr`
	height: 2px;
	border-width: 0;
	width: 100%;
	background-color: #f68b21;
	flex-grow: 1;
	margin: -2px !important;
`;

export const Title2 = styled.div`
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 4px;
	.titlee {
		display: flex;
		align-items: center;
		.optional {
			font-size: 12px;
			margin-left: 5px;
		}
	}
	.line {
		width: 30%;
		height: 2px;
		margin: 0px;
	}
`; */

.main_div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.element {
		::placeholder {
			font-size: 14px !important;
			color: #d6d6d6 !important;
		}

		.core-ui-select__control--is-focused {
			border: 1px solid blue !important;
			border-radius: 5px !important;
		}
	}
}

.row_style{
	display: flex;
}

.title_div{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 19px;
	margin-bottom: 20px;
	font-weight: 500;
}

.title {
	display: flex !important;
	align-items: center !important;
	flex-direction: column;
}

.sub_heading_icon{
	height: 30px;
	width: 30px;
	margin-right: 6px;
}

.line_wrapper_web{
	display: flex;
	width: 90%;
}

.line_wrapper_mobile{
	display: flex;
	width: 40%;
}

.line{
	height: 2px;
	border-width: 0;
	width: 100%;
	background-color: #f68b21;
	flex-grow: 1;
	margin: -2px !important;
}

.label{
	font-weight: 300;
	display: flex;
}
.mandatory {
	color: red;
}

.title2_styles{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 4px;
	
}

.title2 {
	display: flex;
	align-items: center;
}
.optional {
	font-size: 12px;
	margin-left: 5px;
}

.line2 {
	width: 30%;
	height: 2px;
	margin: 0px;
}

.text{
	margin-top: -8px;
	color: red;
}

.button_wrapper{
	width: 100%;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}

.submit_button{
	background: #db4634 !important;
	font-weight: 400;
	font-size: 16px;
	margin-top: 18px;
	border: none !important;
	color: white !important;
	text-transform: capitalize !important;
	height: 35px !important;
	padding: 15px !important;
	display: flex !important;
	align-items: center !important;
	align-content: center !important;
	margin-left: 15px !important;
}


.loader {
	margin: none !important;
}
&.disabled {
	opacity: 0.4;
}