.list_wrapper {
	margin: 8px;
}

.title {
	margin-left: 20px;
}

.box {
	width: 100%;
	padding: 12px;
	margin: 4px;
	border: 1px solid #cbcff5;
	border-radius: 4px;
}

.wrapper {
	display: flex;
	align-items: center;
}

.single_list {
	list-style-type: none;
	cursor: move;
}
