.main {
	padding-right: 25px;
	padding-top: 10px;
}

.rotate {
    transform: rotate(270deg);
}
.rotate2 {
    transform: rotate(90deg);
}


.heading {
    font-weight: 500;
	font-size: 18px;
	color: #000000;
	padding-bottom: 36px;
}

.wrapper_mobile {
    display: flex;
	flex-direction:row
}

.wrapper {
    display: flex;
	flex-direction:column;
}

.container {
    display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-direction: row;
}

.container_mobile {
    display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-direction: column;
}

.mobile_view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot_pro {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: 2px solid #DCE1E8;
	color:#DCE1E8;
	background:#66ACF7 ;
}

.dot_false {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: 2px solid #DCE1E8;
	color:#DCE1E8;
	background:#DA9A3B;
}

.dot_true {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: 2px solid #DCE1E8;
	color:#DCE1E8;
	background:#67C676;
}

.dot_active_true {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: none;
	color:#FFFFFF;
	background:#67C676;
}

.dot_active_false {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: none;
	color:#FFFFFF;
	background:#DA9A3B;
}

.dot_active_pro {
	font-weight: 700;
	font-size: 16px;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	border: none;
	color:#FFFFFF;
	background:#66ACF7;
}

.count {
	text-align: center;
	padding-top: 6px;
}

.image {
	width: 38px;
	margin: 0px 0px -6px -1px;
}

.line_mobile_active {
	width: 100px;
	height:0px;
	margin-left: 0px;
	border: 1px solid #24BA69;
}

.line_active {
	width: 0px;
	height: 100px;
	margin-left: 17px;
	border: 1px solid #24BA69;
}

.line {
	width: 0px;
	height: 100px;
	margin-left: 17px;
	border:1px solid #DCE1E8;
}

.line_mobile {
	width: 100px;
	height:0px;
	margin-left: 0px;;
	border:1px solid #DCE1E8;
}

.text_div_mobile {
	width: 100%;
	padding-top: 5px;
	padding-left:0px !important;
}

.text_div {
	width: 100%;
	padding-top: 5px;
	padding-left:22px;
}

.text {
	font-weight: 500;
	font-size: 14px;
	color: #697989;
}

.text_active {
	font-weight: 500;
	font-size: 14px;
	color: #4b5c6d;
}

.div_pro {
	font-weight: 500;
	font-size: 10px;
	color: #66ACF7;
}

.div_false {
	font-weight: 500;
	font-size: 10px;
	color: #DA9A3B;
}

.div_true {
	font-weight: 500;
	font-size: 10px;
	color:#67C676;
}
