.container {
	padding: 30px;
	padding-top: 20px;
	background: #fada29;
}

.title_container {
	display: flex;
	align-items: center;

	h1 {
		margin: 0;
		font-weight: 700;
	}
}

.icon_container {
	display: flex;
	padding: 3px;
	margin-right: 10px;
	cursor: pointer;
	border: 1.3px solid black;
	border-radius: 50%;
}

.field_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 22px;
	background: #fada29;

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
}

.field_col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 36%;

	:global {
		.ui_select_container {
			width: 63%;
		}

		.ui_select_options_container {
			z-index: 1001;
		}
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		margin-bottom: 20px;
	}
}

.or_tag {
	display: flex;
	gap: 3px;
	align-items: center;
	justify-content: space-around;
}

.line {
	width: 14px;
	height: 0;
	border-top: 1.7px solid #000;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.text {
	font-size: 13px;
	font-weight: 500;

	@media screen and (max-width: 767px) {
		margin: 0 6px;
	}
}

.seller_col {
	width: 28%;

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

.error {
	:global {
		.ui_select_display_container {
			border: 1.5px solid red;
		}

		.ui_select_display_container:hover {
			border-color: red;
		}
	}
}
