.wrapper {
    display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.heading {
	font-weight: 500;
	font-size: 22px;
	color: #4b5c6d;
	margin-bottom: 35px;
}

.button_wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.button_wrapper_mobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 35px;
}

.button {
	width:  160px ;
	height: 170px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 20px;
	margin: 10px;
	border: 1.5px solid #c9d6e6;
	box-shadow: 0px 12px 32px rgba(240, 245, 255, 0.6);
	border-radius: 8px;
}

.button:hover{
	width:  160px ;
	height: 170px;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	margin: 10px;
	border: 1.5px solid #4d88be;
	box-shadow: 0px 8px 16px rgba(57, 63, 112, 0.25);
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.image_mobile {
	width: 75px;
	height: 75px;
}

.button_active {
	width:  160px ;
	height: 170px;
	background-color: #eef5ff;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	margin: 10px;
	border: 1.5px solid #4d88be;
	box-shadow: 0px 11px 12px #a3c7d6;
	filter: drop-shadow(0px 5px 5px rgba(240, 245, 255, 0.6));
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.button_mobile {
	width:  340px ;
	height: 170px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
	margin: 10px;
	border: 1.5px solid #c9d6e6;
	box-shadow: 0px 12px 32px rgba(240, 245, 255, 0.6);
	border-radius: 8px;
}

.button_mobile_active {
	width:  340px ;
	height: 170px;
	background-color:#eef5ff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 20px;
	margin: 10px;
	border: 1.5px solid #4d88be;
	box-shadow: 0px 11px 12px #a3c7d6;
	filter: drop-shadow(0px 5px 5px rgba(240, 245, 255, 0.6));
	border-radius: 8px;
}


.dot_wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 30%;
}

.dot {
	margin: 12px 5px;
	border-radius: 100%;
	background: #db4634;
	height: 6px;
	width: 6px;
	display: none;
}

.dot_active {
	margin: 10px 8px;
	border-radius: 100%;
	background: #db4634;
	height: 6px;
	width: 6px;
	display: block;
}

.gif{
	width: 80px;
	height: 80px;
	margin: 5px;
	justify-content: flex-start;
}

.label_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 35px;
	margin-top: 5px;
}

.label_container_mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 35px;
	margin-top: 5px;
	width: 40%;
}

.label {
	font-weight: 400;
	font-size: 15px;
	color: #4b5c6d;
	text-transform: capitalize;
	letter-spacing: normal;
}

.label_mobile{
	font-weight: 400;
	font-size: 20px;
	color: #4b5c6d;
	text-transform: capitalize;
	letter-spacing: normal;
}

.label_active {
	font-weight: 500;
	font-size: 15px;
	color: #4b5c6d;
	text-transform: capitalize;
	letter-spacing: normal;
}

.label_active_mobile {
	font-weight: 500;
	font-size: 20px;
	color: #4b5c6d;
	text-transform: capitalize;
	letter-spacing: normal;
}

.wrapper_2 {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}