.card_title {
	font-size: 14px;
	font-weight: 500;
}

.caret {
	width: 12px;
	margin-left: 5px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.rotate {
	transition: transform 0.3s ease-in-out;
	transform: rotate(180deg);
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 14%;
	min-width: 2%;
	padding: 0 5px;
}
