.main_container {
  border: 1px solid #e1eaff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(169, 188, 218, 0.65);
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
  background: #f5fafe;
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 22px;
}

.core-ui-tag-root {
  background: #f5fafe;
  border: 1px solid #b3d5fb;
  border-radius: 10px !important;
  margin-left: 16px;
}

.core-ui-tag-text {
  color: #2c3e50;
}
.link_text {
  font-size: 14px;
  text-decoration-line: underline;
  color: #034afd;
  cursor: pointer;

  @media (max-width: 767.99px) {
    font-size: 12px;
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  color: #2c3e50;

  @media (max-width: 767.99px) {
    font-size: 12px;
  }
}

.flex {
  display: flex;
}

.no_data {
  font-size: 16px;
  color: rgb(189, 189, 189);
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
