.container {
	height: 270px;
	padding: 15px;
	margin-bottom: 15px;
	background: #f8f9fa;
	border-radius: 8px;

	.scrollable {
		overflow: scroll;
	}
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 500;

	.name {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.card {
	align-items: baseline;
	padding: 11px 3px;

	.auto {
		width: auto;
	}

	.dot {
		flex: 1;
		border-bottom: 2px dotted #697989;
	}

	.padding {
		padding: 5px;
	}

	.sub {
		font-size: 14px;
		font-weight: 400;
	}

	.dotFlex {
		display: flex !important;
		align-items: center !important;
		padding-right: 0 !important;
	}
}

.card_total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 3px;

	.sorry {
		padding: 0;
		color: #f68b21;
	}

	.landedTotal {
	}
}

.text {
	padding: 1px 4px 3px 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #697989;
}

.text_total {
	font-size: 18px;
	font-weight: 500;
	color: #2c3e50;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}
