.heading {
	margin: 0;
	margin: 40px 0 24px;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: #333;
}

.benefits {
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}
