@media (max-width: 760px) {
	.container{
		.ui-modal-dialog.sm {
			width: 0px;
		}
	}
}

.txt {
	margin: 0;
	text-align: center;
}

.icon_container{
	text-align: center;
	margin-bottom: 10px;
}

.footer{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-bottom: 15px;
	:global{
		.iconContainer {
			border: 1px solid;
			padding: 5px;
			width: 43px;
			height: 43px;
			text-align: center;
			border-radius: 50%;
			cursor: pointer;
		}
		.no {
			border-color: red;
			margin-left: 50px;
	
			:hover {
				background-color: #ffdde3;
			}
		}
	
		.yes {
			padding: 3px;
			border-color: #4bb543;
			margin-right: 50px;
	
			:hover {
				background-color: #c6f8c6;
			}
		}
	}

	

}


