.icon_container {
	margin-bottom: 10px;
	text-align: center;
}

.text {
	margin: 0;
	text-align: center;
}

.footer {
	display: flex;
	justify-content: center;
	width: 100%;

	.btn {
		margin-left: 12px;
	}
}
