.container{

}
.onboarding_layout {
    height: 100vh;
    overflow-y: hidden;
    font-family: 'PT Sans';

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.onboarding_layout__header {
    width: 100%;
}

.onboarding_layout__main {
    width: 100%;

    /* ${(props) =>
        `height: ${
            props.isHeaderComponentPresent ? 'calc(100vh - 52px)' : '100%'
        };`} */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.onboarding_layout__panel {
    height: 100%;
}

.onboarding_layout__panel__left {
    display: none;

    @media (min-width: 768px) {
        display: block;

        width: 45%;
    }
}

.onboarding_layout__panel__right {
    width: 100%;

    @media (min-width: 768px) {
        width: 55%;
    }
}

.onboarding_layout{
    height: 100%;
    display: none;

    @media (min-width: 768px) {
        display: block;

        width: 45%;
    }
    }


.onboarding_layout__right{
        height: 100%;
        width: 100%;

        @media (min-width: 768px) {
            width: 55%;
        }
    }