.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: black;
}

.right {
	display: flex;
	align-items: center;
}
