.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
	padding: 16px;
	border: 1px solid #f8f2e7;
	border-radius: 8px;

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

.icon_container {
	width: 30px;
	height: 30px;
	padding: 5px;
	background: #e9faeb;
	border-radius: 5px;
}

.title {
	padding: 0 10px;
	font-size: 20px;
}

.count {
	padding: 0 10px;
	padding-left: 20px;
	font-size: 30px;
	color: #737587;
	border-left: 1px solid #cddbff;
}
