
.form{
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
	:global{
		.core_ui_select__menu {
			max-width: 150px !important;
			min-width: 0px !important;
		}
	}

	:global{
		.ui_select_container{
			width: 180px;
		}
	}
}