.form {
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;

	:global {
		.core_ui_select__menu {
			min-width: 0 !important;
			max-width: 150px !important;
		}
	}

	:global {
		.ui_select_container {
			width: 180px;
		}
	}
}
