.button_wrap {
	flex-wrap: wrap;
	padding-top: 8px;

	/* layout: flex row flex-start center; */

	button {
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		margin-top: 16px;
		margin-right: 16px;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		font-stretch: normal;
		line-height: 1.29;
		color: #fff;
		letter-spacing: normal;

		&:nth-child(even) {
			padding-top: 11px !important;
			padding-bottom: 11px !important;
		}

		&.rounded {
			height: 48px;
		}

		&:last-child {
			margin-right: 0;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: inherit;
			}
		}
	}

	&.shipper-feature,
	&.seller-feature {
		padding-top: 0;

		button {
			margin-top: 0;

			&.primary {
				background-color: #0848f5;

				&:hover {
					background-color: #0848f5;
				}
			}
		}
	}

	@media (max-width: _md) {
		width: calc(100% - 32px);
		margin-left: 0;

		button {
			margin-top: 8px;
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}

			&.rounded {
				width: 100%;
				border-radius: 8px;
			}
		}
	}
}

.button_theme {
	button: {
		ripple: false;
	}
}
