.card {
  display: flex;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(254, 253, 249);
  cursor: pointer;
  width: 100%;
  min-height: 70px;
  /* margin-right: 100px; */
  /* margin-top: -100px; */
  /* border-bottom: 0.5px solid rgb(205,203,203); */
  border-bottom: 0.5px solid rgb(193, 191, 200);
    background: rgb(254,253,249);
    margin-top: 20px;
    /* box-shadow: rgba(187, 178, 178, 0.722) 8px 4px 8px; */
    
}

.name {
  padding: 0.75% 1.5% !important;
  text-align: center;
  font-size: 16px;
  border-right: 1px dashed #c4ceb4;
  max-width: 25.5% !important;
  flex: 0 0 14.5% !important;
  width: 15%;
  transition: font-weight 0.5s, color 0.5s;
  @media screen and (max-width: 767px) {
    font-size: 10px;
    margin: 1.5% !important;
    padding: 0.7% 1.5% !important;
    flex: 0 0 18.5% !important;
  }
}
.desc {
  margin: 4px;
  line-height: 30px;
  font-size: 16px;
  padding: 0.75% 0% 0.75% 7% !important;
  transition: font-weight 1s, color 0.5s;
  margin: 8px;
  width: 75%;

  @media screen and (max-width: 767px) {
    font-size: 10px;
    line-height: 18px;
    flex: 0 0 60% !important;
  }
}
.secDesc {
  margin: 8px;
}
.selected {
  color: #393f70;
  text-transform: uppercase;
  transition: font-weight 0.5s, color 0.5s;
  opacity: 0.5;
  @media screen and (max-width: 767px) {
    font-size: xx-small;
  }
}

.main_card {
  /* background-color: #fff; */
  margin: 1.5%;
  background-color:white;
  box-shadow: rgba(127, 113, 113, 0.514) 2px 2px 7px, rgba(255, 255, 255, 0.957) 20px 20px 70px;
  margin-bottom: 20px;
  padding-right: 20px;
}


.section {
  margin-bottom: 20px;
  margin:1.5%;
  background:white;
  box-shadow: 2px 2px 7px rgba(163, 177, 198, 0.6) 2px 2px 7px,
    -2px -2px 7px rgba(255, 255, 255, 0.5);
}

.main_container {
  background-color: #fff;
  
  border-radius: 0px 0px 12px 12px;
  margin-top: -20px;
  margin-bottom: 10px;
  box-shadow: inset 0px 4px 10px rgba(176, 185, 187, 0.15);
}
.heading_container{
  margin-top: 0;
}
.accordion[aria-expanded="false"] {
  max-height: 0;
  padding: 0 1.5% ;
  transition: max-height 0.5s, padding 0.7s, margin 0.5s;
  overflow: hidden;
}

.accordion[aria-expanded="true"] {
  height: auto;
  transition: max-height 0.5s;
  overflow: hidden;
  padding: 0.5% 1% 1.5%;
  background-color:white;
  /* background-color: rgb(254, 253, 249); */
  /* background: rgb(254,253,249); */

}

.heading[aria-expanded="true"] {
  height: auto;
  transition: max-height 0.5s;
  overflow:hidden;
  padding: 0.5% 1% 0.5%;
  border-top: 0.5px solid rgb(205,203,203);
  border-bottom: 1px solid rgb(205,203,203);
  background: rgb(250,250,250
  );


}
.heading[aria-expanded="false"] {
  min-height: 1px;
  transition: max-height 0.5s, padding 0.5s, margin 0.5s;
  /* border-top: 0.5px solid rgb(205,203,203); */
  background: rgb(254, 253, 249);

}
.accordionHead[aria-expanded="true"] {
  max-height:2000px;
}

.hsTable[aria-expanded="true"] {
  max-height: 830px;
  transition: max-height 0.1s;
  /* word-spacing: 1em; */
}
.hsTable[aria-expanded="false"] {
  max-height: 0;
  transition: max-height 0.5s, padding 0.5s, margin 0.5s;
  /* word-spacing: 5em; */
}
.hs_container {
  margin-top: -10px;
  border-top: none;
  background-color: #fefdf9;
}

.chapter {
  box-sizing: border-box;
  border-top: 0.5px solid rgb(205,203,203);
  border-bottom: 0.5px solid rgb(205,203,203);
  background: rgb(254, 253, 249);
  box-shadow:  rgb(176, 185, 187,0.15) 0px 1px 1px inset;
  min-height: 1px;
  
  margin-top: -1px;
 
  
  /* padding */
  
}

.loader {
  margin-left: 10px;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
.section_styles{
  display: flex;
  flex:0 0 12.5%;
  flex-direction: column;
  font-size: 17px;
  text-align:center;
  margin-left: 0%;
  /* right: auto;
  left: auto; */
  width:160%;
  border-right: 1px dashed lightslategray;
  /* border-collapse: separate;
  border-spacing: 15px; */




}
/* .heading_style{
  background-color: rgb(254, 253, 249);

} */
.dropdown_symbol{
  padding-left: 100px;
}
.dropdown_symbol2{
  padding-left:40px;
}
.dropdown_new3{
  padding-left:60px;
}