
.container{
	position: relative;
}

.row{
	display: flex;
	align-items: center;
}

.line{
	height: 2px;
	width: 40px;
	background: #e0e0e0;
	transition: background 0.3s ease-in;

}

.text{
	margin-top: 5px;
	text-align: center;
	color: #b7b7b8;
	transition: color 0.3s ease-in;

	
}

.dot{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #e0e0e0;
	transition: background 0.3s ease-in;
}

.completed {
	background: #c4dc91;
}
.ongoing {
	background: #f68b21;
}

.ongoing_dot {
	background: transparent;
	border: 2px solid #f68b21;
}


.not_mobile {
	width: 100px;
}

.is_mobile {
	width: 30px;
}
.completed_txt{
	color: #333;
}

.firstElement {
	position: absolute;
	left: -30px;
}

.lastElement {
	position: absolute;
	right: -30px;
}


