/* import styled from '@cogoport/front/styled';

export const Container = styled.div`
	position: relative;
`;
export const Row = styled.div`
	display: flex;
	align-items: center;
`;

export const Dot = styled.div`
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #e0e0e0;
	transition: background 0.3s ease-in;

	&.completed {
		background: #c4dc91;

		svg {
			vertical-align: inherit;
		}
	}

	&.ongoing {
		background: transparent;
		border: 2px solid #f68b21;
	}
`;

export const Line = styled.div`
	height: 2px;
	width: 40px;
	background: #e0e0e0;
	transition: background 0.3s ease-in;
	&.not-mobile {
		width: 100px;
	}

	&.is-mobile {
		width: 30px;
	}
	&.completed {
		background: #c4dc91;
	}

	&.ongoing {
		background: #f68b21;
	}
`;

export const Text = styled.div`
	margin-top: 5px;
	text-align: center;
	color: #b7b7b8;
	transition: color 0.3s ease-in;
	&.firstElement {
		position: absolute;
		left: -30px;
	}

	&.lastElement {
		position: absolute;
		right: -30px;
	}

	&.not-mobile {
		.firstElement {
			position: absolute;
			left: -60px;
		}

		.lastElement {
			position: absolute;
			right: -60px;
		}
	}

	&.is-mobile {
		font-size: 9px;
		.firstElement {
			position: absolute;
			left: -30px;
		}

		.lastElement {
			position: absolute;
			right: -30px;
		}
	}

	&.completed {
		color: #333;
	}
`;

 */

.container{
	position: relative;
}

.row{
	display: flex;
	align-items: center;
}

.line{
	height: 2px;
	width: 40px;
	background: #e0e0e0;
	transition: background 0.3s ease-in;

}

.text{
	margin-top: 5px;
	text-align: center;
	color: #b7b7b8;
	transition: color 0.3s ease-in;

	
}

.dot{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #e0e0e0;
	transition: background 0.3s ease-in;
}

.completed {
	background: #c4dc91;
}
.ongoing {
	background: #f68b21;
}

.not_mobile {
	width: 100px;
}

.is_mobile {
	width: 30px;
}
.completed_txt{
	color: #333;
}

.firstElement {
	position: absolute;
	left: -30px;
}

.lastElement {
	position: absolute;
	right: -30px;
}


