
.container{
	position: relative;
}

.row{
	display: flex;
	align-items: center;
}

.line{
	height: 2px;
	width: 40px;
	background: #e0e0e0;
	transition: background 0.3s ease-in;

}

.line.not_mobile {
	width: 100px;
}
.line.ongoing{
	background: #f68b21;
}

.dot{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #e0e0e0;
	transition: background 0.3s ease-in;
}
.completed{
	background: #c4dc91;
}
.ongoing_dot {
	background: transparent;
	border: 2px solid #f68b21;
}

.text{
	margin-top: 5px;
	text-align: center;
	color: #b7b7b8;
	transition: color 0.3s ease-in;
}


.text.completed_txt{
	color: #333;
}


@media screen and (min-width: 767px){
	.text.not_mobile.firstElement{
			position: absolute;
			left: -60px;
	}

	.text.not_mobile.lastElement{
		position: absolute;
		right: -60px;
	} 
}

@media screen and (max-width:767px){
	.text.is_mobile{
			font-size: 9px;
			position: absolute;
		
		}

	.text.is_mobile.firstElement{
			left: -30px;
	}

	.text.is_mobile.lastElement{
			right: -30px;
	}

	.line.is_mobile{
		width: 30px;
	}
}