.element {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.select_layout {
	display: flex;
}

.label {
	padding-bottom: 5px;
	margin-top: 15px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.pincode_container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	margin-left: 8px;
}

.footer {
	display: flex;
	flex-direction: column;
	margin: auto 0 16px;
}

.line {
	margin: 20px 0 0;
	border: 1px solid #ded7fc;
}

.button_container {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	margin: 8px 0 10px;
}
