

.space_between{
	display: flex;
    flex-direction: row;
    justify-content: space-between ;
	align-items: center;
}

.label{
	font-style: normal;
	letter-spacing: 0.04em;
	font-size: 12px !important;
	font-weight: bold;
	line-height: 14px;
	color: #4f4f4f;
	margin-bottom: 5px;

	display: flex;
	align-items: center;
}
