.detail_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 16px 24px;
	margin-bottom: 10px;
	line-height: 16px;
	color: #bdbdbd;
	border: 1px dashed #bdbdbd;
	border-radius: 4px;

	&:hover {
		color: #393f70;
		cursor: pointer;
		border-color: #393f70;
	}
}

.detail_container:hover {
	color: #393f70;
	cursor: pointer;
	border-color: #393f70;
}
