.detail_container{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 16px 16px 24px;
	border: 1px dashed #bdbdbd;
	border-radius: 4px;
	color: #bdbdbd;
	line-height: 16px;
	margin-bottom: 10px;

	&:hover {
		border-color: #393f70;
		color: #393f70;
		cursor: pointer;
	}
}
.detail_container:hover {
    border-color: #393f70;
    color: #393f70;
    cursor: pointer;
}