.row{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: normal;
    justify-content: flex-start;
}
.col{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    /* height: 100px; */
}
.col_truck{
    display: flex;
    flex-direction: row-reverse;
    /* padding-left: 8px;
    padding-right: 8px; */
    justify-content: center;
    :global{
		.ui_TE06c{
			padding-top: 25px !important;
		}
	}

}