.dialog_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text {
	padding: 4px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #828282;
	cursor: pointer;
}

.text:hover {
	color: #356efd;
}

.hide {
	display: none;
}

.container {
	width: 275px;
	padding: 4px;
	background: #fefbf7;
	border-radius: 4px;
}

.awaiting_service_provider_confirmation {
	border: 1px solid #fbd69f;
}

.init {
	border: 1px solid #fbd69f;
}

.cancelled {
	color: #828282;
	background: #f2f2f2;
	border: 1px solid #bdbdbd;
	opacity: 0.7;
}

.completed {
	background: #f6f5fe;
	border: 1px solid #ded7fc;
}

.confirmed_by_service_provider {
	background: #f6f5fe;
	border: 1px solid #ded7fc;
}

.confirmed_by_importer_exporter {
	background: #f6f5fe;
	border: 1px solid #ded7fc;
}

.header_wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	[data-tippy-root] {
		z-index: 999 !important;
	}
}

.heading {
	padding: 12px 0 0 12px;
	font-size: 12px;
	font-weight: 500;
	color: #2c3e50;
}

.edit_cancel {
	display: flex;
	align-items: center;
	margin: 8px 16px 0 0;
	cursor: pointer;
}

.service_exist:hover {
	background-color: #e0e0e0;
	border-width: 1px;
	border-radius: 12px;
}
