.container {
	padding: 16px;
	margin-bottom: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
}

.title {
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.description {
	margin: 0 0 16px;
	font-size: 12px;
	line-height: 16px;
}

.action {
	display: block;
	padding: none;
	margin-left: auto;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-align: right;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;

	&:hover {
		text-decoration: underline;
	}
}
