.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.value {
	font-size: 14px;
	font-weight: 300;
	color: #60708f;

	svg {
		width: 20px;
		height: 20px;
	}
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: #60708f;
}

.div {
	display: flex;
	gap: 8px;
	align-items: center;
	width: max-content;
	padding: 4px 16px;

	&.Amount {
		align-self: flex-end;
	}
}

.flex {
	display: flex;
	justify-content: space-between;
}
