.container {
	display: flex;
	position: relative;
	flex-direction: column;
}

.value {
	font-weight: 300;
	font-size: 14px;
	color: #60708f;
	svg {
		width: 20px;
		height: 20px;
	}
	&.amount {
		font-weight: 400;
		font-size: 16px;
	}
	&.status {
		display: flex;
		font-weight: 400;
		font-size: 11px;
		align-items: center;
		background: #f3fff9;
		padding: 4px 8px;
		gap: 8px;
		border-radius: 4px;
		svg {
			width: 10px;
			height: 10px;
			margin-right: 4px;
		}
	}
}

.label{
	font-weight: 500;
	font-size: 14px;
	color: #60708f;
}

.div{
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 16px;
	width: max-content;
	&.Amount {
		align-self: flex-end;
	}
}

.flex{
	display: flex;
	justify-content: space-between;
}
