.container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: black;
}

.right {
	display: flex;
	align-items: center;
}

.reset {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 3px;
	cursor: pointer;
}

.reset:hover {
	border-radius: 5px;
	box-shadow:
		rgb(50 50 93 / 25%) 0 2px 5px -1px,
		rgb(0 0 0 / 30%) 0 1px 3px -1px;
}
