.header_container {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 25px;
	height: 25px;
}

.title_container {
	display: flex;
	align-items: center;

	.title {
		margin-left: 10px;
		font-size: 22px;
		font-weight: bolder;
	}
}

.cta {
	display: flex;
	align-items: center;
}

.inputbox {
	width: 200px;

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.tab_section {
	margin-left: 16px;
}
