.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	padding: 5px;
	padding-left: 0;
	background-color: white;
	border-radius: 16px;
	box-shadow:
		0 17.8337px 60.0918px rgb(71 111 211 / 11%),
		0 2.2331px 18.612px rgb(71 111 211 / 5.5%);
}

.yellow_line {
	position: absolute;
	top: 30%;
	height: 40%;
	background-color: #fcdc00;
	border: 3.5px solid #fcdc00;
	border-radius: 0 40px 40px 0;
}

.yellow_line_mobile {
	position: absolute;
	top: 50%;
	height: 42%;
	background-color: #fcdc00;
	border: 3.5px solid #fcdc00;
	border-radius: 0 40px 40px 0;
}

.padded_div {
	padding-left: 15px;
}

.heading_wrapper {
	display: flex;
	flex-direction: column;
	width: 20%;
	padding: 8px;
}

.heading_wrapper_mobile {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 8px;
}

.flex_2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 35px;
}

.heading {
	font-size: 18px;
	font-weight: 500;
}

.line_wrapper {
	display: flex;
	width: 35%;
}

.line {
	flex-grow: 1;
	height: 3px;
	margin: 0;
	background-color: #f68b21;
	border-width: 0;
}

.content_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center !important;
	width: 100%;
	margin: 10px 0;
}

.col {
	width: 32%;
	padding: 10px;
}

.hidden {
	display: none;
}

.display {
	position: absolute;
	display: block;
	padding-right: 4px !important;
	padding-left: 4px !important;
	color: #697989 !important;
	background-color: white;
	opacity: 1 !important;
	transition: transform 1.4s;
	transform: translate(10px, -52px);
}

.padded_div_2 {
	padding: 10px;
}

.bordered_div {
	border: 1px solid #cedcea;
	border-radius: 4px;
}

.label_mobile {
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 76%;
	padding: 2px;
	margin-top: -10px;
	margin-left: 8px;
	font-size: 13px;
	font-weight: 500;
	background: white;
}

.label {
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 20% !important;
	padding: 2px;
	margin-top: -10px;
	margin-left: 8px;
	font-size: 13px;
	font-weight: 500;
	background: white;
}

.wrapper_2 {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	padding: 8px;
}

.wrapper_2_mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	padding: 8px;
}

.align_div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.country_flag_options {
	display: flex;
	gap: 5px;
}
