.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;

	&.info {
		align-items: center;

		.iconContainer {
			display: flex;
			align-items: center;
			font-size: 15px;
		}
	}
}

.container {
	padding: 1.5rem 0;
	margin-top: 1rem;
}

.body {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}
