.container {
	padding: 12px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 4px rgb(44 62 80 / 20%);
	transition: 0.4s;
}

.container:hover {
	box-shadow:
		2px 2px 4px rgb(44 62 80 / 20%),
		-2px -2px 4px rgb(44 62 80 / 10%);
	transition: 0.2s;
}
