.container {
	display: flex;
	margin: 9px 0;
	white-space: nowrap;
}

.tag {
	padding: 2px 7px;
	margin: 10px 5px 0;
	font-size: 12px;
	background: #dfe1ef;
	border-radius: 4px;
}

.extra {
	display: flex;
	padding: 2px 7px;
	margin-top: 10px;
	font-size: 10px;
	background: #dfe1ef;
	border-radius: 4px;
}

.tooltip_container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
	white-space: nowrap;
}
