.wrapper {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image {
    width: 100px;
	height: 100px;
}

.text {
    font-weight: 600;
	font-size: 24px;
}