.container {
	width: 100%;
	padding: 0;
	margin-top: 4px;
	background: #fff;
}

.styled_button {
	text-transform: capitalize;
	background: #2c3e50 !important;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 4px 0 12px;
}

.separator {
	width: 100%;
	margin: 0;
	border: 1px solid #f2f2f2;
}

.list {
	max-height: 500px;
	padding: 8px 20px 8px 8px;
	margin: 0 -19px;
	overflow-y: auto;

	@media (max-width: 768px) {
		margin: 0 -8px;
	}
}
