
.scroll_content{
	overflow-y: scroll;
	max-height: 270px;
}

.container{
	background: #fafbfb;
	padding: 20px 30px;
}

.heading{
	font-size: 17px;
	font-weight: 500;
	color: #e84855;
}

.service {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	border-bottom: 2px dashed #e5e5e5;
}
.total {
	border: none;
	font-weight: 500;
}
.text {
	font-size: 14px;
	color: #2d3047;
}
.price {
	color: #2c3e50;
	font-weight: 500;
}

