.container {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 24px;
	background: #ffffff;
	box-shadow: 2px 2px 4px rgba(44, 62, 80, 0.2);
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.heading_left {
    display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
    font-weight: 500;
	font-size: 20px;
	margin-left: 8px;
	color: #404e65;
}

.tag {
    font-weight: 400;
	font-size: 12px;
	margin: 0px 8px;
	padding: 4px 8px;
	background: #f2f4f7;
	color: #344054;
	border-radius: 16px;
}