.container {
	padding: 16px;
}

.loading_icn {
	top: 30%;
}

.title_container {
	display: flex;
}

.title {
	width: 91%;
	margin-left: 10px;
	font-size: 17px;
	font-weight: 500;
}

.summary_tab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	padding: 10px 18px;
	background: #fffef9;
	border: 1px solid #cedcea;
	border-radius: 9px;
}

.section {
	width: auto;
	width: 35%;
}

.icn {
	width: 20%;
	text-align: center;
}

.heading {
	font-size: 14px;
	font-weight: 500;
}

.subheading {
	margin-top: 2px;
	font-size: 12px;
	font-weight: 300;
	color: #6b6d81;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 12px 28px;

	@media screen and (max-width: 767px) {
		margin: 10px 0 30px;
	}
}

.profit {
	width: 20%;
	padding: 8px;
	margin-bottom: 8px;
	font-size: 12px;
	text-align: center;
	border-radius: 9px;
}

.green {
	color: green;
	border: 2px solid green;
}

.red {
	color: #db4634;
	border: 2px solid #db4634;

	@media screen and (max-width: 767px) {
		border: 1.5px solid #db4634;
		border-radius: 6px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 30px 0 0 30px;

	@media screen and (max-width: 767px) {
		margin: 30px 0 0 3px;
	}
}

.col {
	width: 45%;
	margin: 0 21px 30px 0;

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

.inputBox {
	width: 100%;
	border-radius: 7px;
}

.formLabel {
	translate: 0 43%;
}

.input {
	height: 40px;
}

.hsCode {
	/* input {
        cursor: not-allowed;
    } */
}

.description {
	width: 45%;
}

.productImg {
	width: 45%;
}

.label {
	margin-bottom: 5px;
	font-size: 12px;
}

.text {
	margin-top: 4px;
	font-size: 11px;
	color: red;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 12px 16px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}
