.container {
	padding: 25px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.validity {
	margin-right: 10px;
	font-weight: 500;
	color: #000;
}

.frequency {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.errorText {
	padding: 10px 0;
	margin: 20px 0 0;
	color: #000;
	text-align: center;
	background: #f59c3d;
	border-radius: 4px;

	span {
		font-weight: 600;
	}
}

.title {
	font-size: 20px;
	font-weight: 700;
	color: #170f49;
}

.tag {
	width: fit-content;
	padding: 2px 6px;
	margin-right: 8px;
	margin-bottom: 2px;
	font-size: 14px;
	color: #221f20;
	background: #f3fafa;
	border-radius: 4px;
}

.notification {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 600;
	color: #ee3425;
}
