/* import styled from '@cogoport/front/styled';

export const Row = styled.div`
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fafbfb;
	padding: 10px 20px;

	&.section {
		width: 88%;
		padding: 0;

		@media screen and (max-width: 767px) {
			display: block;
			margin-left: 22px;
			border-left: 1px solid #cddbff;
			text-align: center;
			padding-left: 13px;
		}
	}
`;

export const Col = styled.div`
	text-align: center;
	.transport {
		font-size: 11px;
	}
	&.portDetail {
		display: flex;
		align-items: center;
		border-left: 1px solid #cddbff;
		border-right: 1px solid #cddbff;
		padding: 10px;

		@media screen and (max-width: 767px) {
			border: none;
			justify-content: space-between;
			padding: 0;
			margin-bottom: 12px;
		}
	}

	.portName {
		width: 100px;
		text-align: center;
	}

	.tag {
		display: inline;
		font-size: 12px;
		margin: 0 7px;
	}

	.tooltipName {
		cursor: pointer;
	}

	&.transportDetails {
		@media screen and (max-width: 767px) {
			width: 13%;
		}
	}
`; */

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fafbfb;
	padding: 10px 20px;
}

.section {
	width: 88%;
	padding: 0;

	@media screen and (max-width: 767px) {
		display: block;
		margin-left: 22px;
		border-left: 1px solid #cddbff;
		text-align: center;
		padding-left: 13px;
	}
}

.col{
	text-align: center;
}

.transport {
	font-size: 11px;
}
.port_detail {
	display: flex;
	align-items: center;
	border-left: 1px solid #cddbff;
	border-right: 1px solid #cddbff;
	padding: 10px;

	@media screen and (max-width: 767px) {
		border: none;
		justify-content: space-between;
		padding: 0;
		margin-bottom: 12px;
	}
}

.port_name {
	width: 100px;
	text-align: center;
}

.tag {
	display: inline;
	font-size: 12px;
	margin: 0 7px;
}

.tooltipName {
	cursor: pointer;
}

.transport_details {
	@media screen and (max-width: 767px) {
		width: 13%;
	}
}