.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.row_wrapper {
	display: flex;
	max-height: 50%;
	padding: 15px;
}

.row_wrapper_formdata {
	display: flex;
	flex-wrap: wrap;
	max-height: 50%;
	padding: 0 15px;
}

.column {
	width: 100%;
	padding: 8px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}

.value {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.element_style {
	display: flex;
	flex-flow: column wrap;
	width: 50%;
}
