.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 107vh;
	padding: 40px;

	div {
		font-size: 15px;
	}

	p {
		font-size: 15px;
	}
}

.plane_images {
	margin-left: 200px;

	@media (max-width: 767px) {
		display: none;
	}
}

.remove_images {
	margin-left: 200px;
	opacity: 1;
	transition: opacity 2s ease-out;
	animation: removebox 3s;
	animation-fill-mode: forwards;

	@media (max-width: 767px) {
		display: none;
	}
}

@keyframes removebox {
	100% {
		opacity: 0;
	}
}

.main_container {
	display: flex;
	padding: 60px;

	@media (max-width: 767px) {
		padding: 0;
	}
}

.plane_movement1 {
	opacity: 0;
	transition: opacity 1s ease-in;
	transform: rotate(45deg);
	animation: moveImage2 4s;
	animation-fill-mode: forwards;
}

.plane_movement2 {
	margin-left: 200px;
	opacity: 0;
	transition: opacity 1s ease-in;
	transform: rotate(-90deg);
	animation: moveImage3 4s;
	animation-fill-mode: forwards;
}

.plane_movement3 {
	opacity: 0;
	transition: opacity 1s ease-in;
	animation: moveImage4 4s;
	animation-fill-mode: forwards;
}

@keyframes moveImage2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		opacity: 1;
		transform: translate(100px, 10px) rotate(60deg);
	}
}
@keyframes moveImage3 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		opacity: 1;
		transform: translate(100px, 10px) rotate(-45deg);
	}
}
@keyframes moveImage4 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		opacity: 1;
		transform: translate(100px, 10px) rotate(-30deg);
	}
}

.content {
	width: 50%;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.footer {
	display: flex;
	margin-top: 15px;
}

.unsubscribe {
	margin-left: 15px;
}

.success_page {
	position: relative;
	width: 400px;
	height: 200px;
	opacity: 0;
	transition: opacity 5s ease-in;
	animation: movelines 4s;
	animation-fill-mode: forwards;

	@media (max-width: 767px) {
		animation: movelinesinMobileview 4s;
		animation-fill-mode: forwards;
	}

	@keyframes movelines {
		0% {
			transform: translate(0, 0);
		}

		100% {
			opacity: 1;
			transform: translate(400px, 150px);
		}
	}
	@keyframes movelinesinMobileview {
		0% {
			transform: translate(0, 0);
		}

		100% {
			opacity: 1;
		}
	}
}

.copy_on_clipboard {
	cursor: pointer;
}
