.back {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

.title {
	margin-left: 10px;
	font-size: 22px;
	font-weight: 500;
	color: #000;
}

.info {
	width: 90px;
	cursor: pointer;
	background: #fff;

	:global {
		.text {
			display: flex;
			align-items: center;
			padding: 7px 5px;
			margin: 0;
			font-size: 14px;
			text-align: left;
		}

		.text p {
			margin: 0;
			margin-left: 10px;
			font-size: 10px;
		}

		.info {
			display: flex;
		}
	}
}

.icon {
	cursor: pointer;
	transform: rotate(180deg);
}
