.back{
	margin-top: 10px;
	display: flex;
	cursor: pointer;
}

.title{
	margin-left: 10px;
	font-weight: 500;
	font-size: 22px;
	color: #000000;
}

.info{
	background: #fff;
	width: 90px;
	cursor: pointer;
	:global{
		.text {
			margin: 0px;
			display: flex;
			align-items: center;
			padding: 7px 5px;
			text-align: left;
			font-size: 14px;
		}
	
		.text p {
			margin: 0;
			font-size: 10px;
			margin-left: 10px;
		}
	
		.info {
			display: flex;
		}
	}
}

.icon{
	cursor: pointer;
	transform: rotate(180deg);
}
