.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.field {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 20px;
			padding: 0;

			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}

.lable {
	margin: 15px 0 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: #bdbdbd;
}

.country {
	display: flex;
}

.country_name {
	padding-left: 10px;
}

.button_1 {
	margin-right: 16px;
}
