.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field {
  :global {
    .ui_upload_droparea_container {
      min-height: 20px;
      flex-direction: row;
      padding: 0;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.lable {
  margin: 15px 0 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(130 130 130);
}
.country {
  display: flex;
}
.country_name {
  padding-left: 10px;
}
