.field {
	margin: 0 0 15px;
}

.field_name {
	display: flex;
	justify-content: space-between;
	margin: 0 0 4px;
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
}

.error_text {
	font-size: 12px;
	color: red;
}
