.field {
    margin: 0px 0px 15px 0px;
}

.field_name {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    color: #4F4F4F;
    margin: 0px 0px 4px 0px; 
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
}

.error_text {
    color: red;
    font-size: 12px;
}