.container {
	padding: 20px;
	background: #f8f9fa;
	border-radius: 8px;

	.sorry {
		padding: 0;
		color: #f68b21;
	}
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 500;

	.name {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.toggle {
		font-size: 12px;
	}
}

.section {
	height: 380px;
	overflow-y: scroll;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.section2 {
	height: 100px;
	overflow-y: scroll;
}

.text_total {
	font-size: 18px;
	font-weight: 500;
	color: #2c3e50;
}

.section3 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

.section4 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 380px;
}
