.container {
	display: flex;
	width: 100%;
	background: #f9f9f9;
	border-radius: 10px;

	@media (max-width: 760px) {
		flex-direction: column;
		border: 1px solid #bdbdbd;
	}
	@media (max-width: 1164px) {
		background: #fff;
	}
}

.service_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 16px;

	@media (max-width: 760px) {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.service_type_text {
	margin-top: 2px;
	font-size: 10px;
	color: #8fbdb1;
}

.line {
	border: 1px solid #e0e0e0;

	@media (max-width: 760px) {
		width: 100%;
		border: none;
		border-top: 1px solid #d6d6d6;
	}

	&.mobile {
		width: 1px;
		height: 100%;
		border: 1px solid #e0e0e0;
	}
}

.commodity_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px;
}

.styled_text {
	margin-right: 16px;
	font-size: 12px;
	color: #828282;
	text-transform: uppercase;
}

.description_container {
	display: flex;
	align-items: center;
}

.commodity {
	max-width: 180px;
	padding: 2px 4px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #dfe1ef;
	border-radius: 6px;
}

.commodity_description {
	max-width: 180px;
	padding: 2px 4px;
	margin-top: 4px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #dfe1ef;
	border-radius: 6px;
}

.trade_type_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.trade_type_flex_container {
	display: flex;
	align-items: center;
	margin-left: 16px;
}
