.title {
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	margin: 0;
	line-height: 1.5;
	letter-spacing: normal;
	color: #333;
	&.shipper-feature,
	&.seller-feature {
		font-size: 26px;
		margin-bottom: 0;
	}
	@media (max-width: _md) {
		font-weight: 900;
		line-height: 1.2;
	}
}

.sub_title {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 24px;
	color: #333;
	&.shipper-feature,
	&.seller-feature {
		font-size: 26px;
		margin-bottom: 48px;
	}
	@media (max-width: _md) {
		margin-top: 32px;
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 1.29;
	}
}

.description {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	margin: 0;
	letter-spacing: normal;
	color: _grey.primary_text;
	&.first {
		margin-bottom: 32px;
		margin-top: -16px;
	}
	&.shipper-feature,
	&.seller-feature {
		margin-top: 12px;
		> figure {
			margin: 0;
			width: 100%;
			> div {
				width: 100%;
				img {
					width: 100%;
					border-radius: 8px;
				}
			}
		}
	}
	@media (max-width: _md) {
		margin-top: 0;
		font-size: 14px;
		margin: 24px 0 0;
		line-height: 1.29;
		&.first {
			margin-bottom: 24px;
			margin-top: -16px;
		}
		&.second {
			margin-bottom: 24px;
		}
	}
}

.label  {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: _grey.primary_text;
	@media (max-width: _md) {
		font-size: 14px;
		line-height: 1.29;
	}
}

.main_video {
	iframe {
		height: 448px;
		border-radius: 4px;
	}
	@media (min-width: _md) and (max-width: _lg) {
		iframe {
			height: 320px;
			border-radius: 0;
			width: calc(100% + 32px);
			margin-left: -16px;
		}
	}
	@media (max-width: _md) {
		iframe {
			height: 240px;
			border-radius: 0;
			width: calc(100% + 32px);
			margin-left: -16px;
		}
	}
}

.related_videos {
	@media (max-width: _md) {
		width: calc(100% + 32px);
		margin-left: -16px;
		overflow-x: auto;
		overflow-y: hidden;
		display: block !important;
		margin-bottom: 16px;
		> div {
			width: ${({ length }) => `${length * 242 + (length - 1) * 16 + 16}px`};
			display: block !important;
			&:first-child {
				margin-left: 16px;
			}
		}
		> div > div {
			display: inline-block;
			vertical-align: top;
			width: 242px;
			margin-right: 16px;
			height: 136px;
			> div {
				height: 100%;
			}
		}
	}
}

.action_container {
	layout: flex row center center;
	@media (max-width: _md) {
		box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
		width: calc(100% + 32px);
		margin-left: -16px;
	}
}

.ul {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	display: flex;
	flex-direction: column;
	padding: 8px 0 16px;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 0;
	svg {
		margin-right: 16px;
	}
}

.video_caption {
	font-size: 14px;
	text-align: center;
}
