.tag .tag_mobile {
    left: 0px;
    padding: 2px 8px;
    position: absolute;
    top: -29px;
    right:none;
}

.text {
    color: #0694e6;
	cursor: pointer;
	font-size: 14px;
	text-decoration: underline;
}



