.tag {
	position: absolute;
	top: -5px;
	left: -3px;
}

.tag_mobile {
	position: absolute;
	top: -29px;
	left: 0;
	padding: 2px 8px;
}

.text {
	display: flex;
	align-content: center;
	align-items: center;
	margin: 2px;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.image {
	display: flex;
	align-items: flex-start;
}

.icon {
	margin-right: 5px;
}
