.tag {
	position: absolute;
	top: -5px;
	left: -3px;
}

.tag_mobile {
	position: absolute;
	top: -29px;
	left: 0;
	padding: 2px 8px;
}

.text {
	display: flex;
	gap: 5px;
	align-items: center;
	text-decoration: underline;
	cursor: pointer;
	align-content: center;
	font-size: 12px;
}

.image {
	display: flex;
	align-items: flex-start;
}
