
.card_container{
	background: #ffffff;
	box-shadow: 0px 17.8337px 60.0918px rgba(71, 111, 211, 0.11),
		0px 2.23306px 18.612px rgba(71, 111, 211, 0.055);
	border-radius: 16px;
	height: auto;
	margin-top: 10px;
	display: flex;
	padding: 10px;
}

.container_image {
	width: 32%;
	.core-ui-button-root {
		float: right;
		margin-right: 10px;
		background: #fef199;
		border: 1px solid #fde74d;
		border-radius: 6px;
		color: black;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		height: auto;
		display: flex;
	}
}

.border {
	border: 1px solid #c9d6e6;
	height: auto;
	width: 0px;
}

.container_details{
	width: 80%;
}

.details{
	display: flex;
	flex-direction: column;
}

.vertical_border{
	margin-top: 15px;
	border: 1px solid #c9d6e6;
}

.header{
	width: inherit;
	display: flex;
	justify-content: space-between;
	margin: 10px 30px;
}

.back{
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
	cursor: pointer;
	margin-top: 15px;
}

.text{
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #221f20;
	text-align: center;
	margin-bottom: 10px;
}

.side_container{
	width: 30%;
	background: #ffffff;
	box-shadow: 0px 17.8337px 60.0918px rgba(71, 111, 211, 0.11),
		0px 2.23306px 18.612px rgba(71, 111, 211, 0.055);
	padding: 10px;
	margin-left: 15px;
	height: fit-content;
	border-top: 1px solid #c9d6e6;

	svg {
		margin-top: 15px;
	}
}

.main_container{
	display: flex;
		width: 100%;
}

.unit{
	margin: 40px 25px 0px;
}

.total_count{
	width: 100%;
}

.count{
	margin: 13px 30px 6px;
}
