.field {
	margin: 0 0 15px;
}

.field_name {
	margin: 0 0 4px;
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 5px 0;
}

.pointer {
	cursor: pointer;
}

.save_button {
	margin: 0 0 0 4px;
}

.pill_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 400px;

	@media (max-width:760px) {
		flex-direction: column;
		min-width: 20px;
	}
}
