.container {
	margin-top: 20px;
}

.title {
	margin: 10px 5px;
}

.scroll_container {
	@media screen and (max-width: 767px) {
		max-width: 100%;
		overflow-x: auto;
	}
}

.row {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	text-align: center;
	border: 0.5px solid black;

	&.cardheader {
		font-size: 15px;
		font-weight: bold;
		color: #fff;
		background: #293241;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&.row_bg {
		background: #f3f3f3;
	}

	&.last_row {
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	@media screen and (max-width: 767px) {
		width: fit-content;
	}
}

.col {
	flex-shrink: 0;
	width: 110px;
	word-break: break-all;
}
