.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.item_container {
	width: 100%;
}

.group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding: _s4;
}

.divider {
	height: 1px;
	margin-bottom: 8px;
	background-color: _grey.divider;
}

.button_div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.label {
	display: inline-block;
	margin-bottom: _s2;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #333;
}

.search {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	font-size: 12px !important;
	font-weight: bold;
	line-height: 14px;
	color: #4f4f4f;
}

.lower_label {
	display: inline-block;
	margin-top: _s2;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #adadad;
}

.heading {
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.43;
	color: #333;
}

.line {
	width: 100%;
	margin-bottom: 16px;
	border-bottom: 1px solid #000;

	.margin {
		margin-bottom: 12px;
	}
}

.col {
	padding: 0 8px;
}

.row {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-start;

	/* margin-bottom: 24px; */
}

.delete_icon {
	width: 24px;
	height: 24px;
	margin: 5px 0 0 auto;
	cursor: pointer;
}
