.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 36px 24px;
	box-shadow: 0 1px 6px rgb(190 209 237 / 65%);
}

.flex {
	display: flex;
}
