.container {
	position: relative;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	outline: none;
	transition: border-color 0.1s linear, background-color 0.1s linear;
	will-change: background-color, border-color;

	&:hover {
		border: 1px solid #333;
	}

	&:focus-within {
		border: 1px solid #333;
		box-shadow: 0 0 0 1px #333;
	}

	&.checked {
		background-color: #333;
		border: 1px solid #333;
	}

	&.disabled {
		cursor: not-allowed;
		background-color: #e0e0e0;

		&:hover {
			border: 1px solid #e0e0e0;
		}

		&:focus {
			box-shadow: none;
		}

		&.checked {
			background-color: #e0e0e0;
			border: 1px solid #e0e0e0;
		}
	}

	&.loading {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;

		&:hover {
			background-color: transparent;
			border-color: transparent;
			box-shadow: none;
		}

		&:focus {
			background-color: transparent;
			border-color: transparent;
			box-shadow: none;
		}

		&.checked {
			background-color: transparent;
			border-color: transparent;
			box-shadow: none;
		}
	}
}
