.container {
	/* margin-bottom: 20px; */
	margin-top: 10%;

	.form-item-label {
		margin: 24px 0 12px;
		font-size: 14px;
		font-weight: 500;
		color: #393f70;
	}

	:global {
		.custom-select-input-chipcontainer {
			height: inherit;
		}

		.custom-select-input-select-placeholder {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 400;
			color: #cbcff5;
		}

		.custom-select-input-subcontainer {
			border: 1px solid #cbcff5 !important;
			border-radius: 4px;
		}
	}
}

.error_message_container {
	font-size: 12px;
	color: #cb6464;
}

.lable {
	padding-bottom: 5px;
}
