.container {
  /* margin-bottom: 20px; */
  margin-top: 10%;
  .form-item-label {
    margin: 24px 0 12px 0;
    font-weight: 500;
    font-size: 14px;
    color: #393f70;
  }
  :global {
    .custom-select-input-chipcontainer {
      height: inherit;
    }

    .custom-select-input-select-placeholder {
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: #cbcff5;
    }

    .custom-select-input-subcontainer {
      border: 1px solid #cbcff5 !important;
      border-radius: 4px;
    }
  }
}

.error_message_container {
  color: #cb6464;
  font-size: 12px;
}
.lable {
  padding-bottom: 5px;
}
