.card {
	display: flex;
	flex-direction: column;
	padding: 12px 6px;
	width: fit-content;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	margin-top: 10px;
	border-radius: 4px;
}

.title {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	padding-left: 30px;
}

.item {
	display: flex;
	flex: 4;
	margin-bottom: 12px;
}

.dot {
	height: 10px;
	width: 10px;
	border-radius: 100%;
	margin: 5px 10px 0 10px;
	background-color: ${({ bg }) => bg || '#8cc1f9'};
}

.label {
	font-size: 14px;
	color: #4f4f4f;
	flex: 3;
}
